<% title = t "head.title.staffs.index", title: @work.local_title %>
<% description = meta_description(t("head.meta.description.staffs.index", title: @work.local_title)) %>
<% image_url = ann_work_image_url(@work, width: 640, format: :jpg) %>
<% set_meta_tags(title: title, description: description, og: { description: description, image: image_url }, twitter: { description: description, image: image_url }, reverse: true, prefix: false) %>

<%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path, method: :post, payload: {work_ids: [@work.id]}) %>

<%= Headers::WorkHeaderComponent.new(self, work: @work, programs: @programs).render %>

<%= AdsenseComponent.new(self, slot: ENV["GOOGLE_AD_SLOT_ON_STAFF_LIST"]).render %>

<div class="py-3">
  <div class="container u-container-flat">
    <div class="card u-card-flat">
      <div class="card-body">
        <div class="g-3 row">
          <% if @staffs.present? %>
            <% @staffs.each do |staff| %>
              <div class="col-12 col-sm-6">
                <div class="g-3 row">
                  <div class="col-6 text-end">
                    <%= staff.role_name %>
                  </div>

                  <div class="col-6">
                    <%= link_to staff.local_accurate_name, staff_resource_path(staff), class: "text-body" %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <%= EmptyV6Component.new(self, text: t("messages._empty.no_resources")).render %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
