<% title = t "head.title.collections.index", profile_name: @profile.name, username: @user.username %>
<% description = meta_description(t("head.meta.description.collections.index", profile_name: @profile.name, username: @user.username)) %>
<% set_meta_tags(title: title, description: description, og: { description: description }, twitter: { description: description }, reverse: true, prefix: false) %>

<%= component_value_fetcher_tag("follow-button", internal_api_following_list_path) %>
<%= component_value_fetcher_tag("mute-user-button", internal_api_muted_user_list_path) %>

<div class="py-3">
  <div class="container">
    <%= Headers::ProfileHeaderComponent.new(self, user: @user).render %>
  </div>

  <%= Navs::UserNavComponent.new(self, user: @user, params: params).render %>

  <%= AdsenseComponent.new(self, slot: ENV["GOOGLE_AD_SLOT_ON_COLLECTION_LIST"]).render %>

  <% if @collections.present? %>
    <div class="container mt-3">
      <div class="grid" style="--bs-gap: 1rem; grid-auto-rows: 1fr;">
        <% if current_user && current_user == @user %>
          <div class="g-col-12 g-col-md-6 g-col-lg-4">
            <div class="bg-body border card h-100 u-border-3 u-border-card">
              <%= link_to new_collection_path, class: "card-body d-flex text-body text-center" do %>
                <div class="align-self-center w-100">
                  <i class="display-6 far fa-plus"></i>

                  <div class="fw-bold mt-1">
                    <%= t "messages.collections.new" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% @collections.each do |collection| %>
          <div class="g-col-12 g-col-md-6 g-col-lg-4">
            <div class="card h-100">
              <%= link_to user_collection_path(@user.username, collection.id), class: "card-body" do %>
                <h2 class="card-title fw-bold h4 text-body">
                  <%= collection.name %>
                </h2>

                <div class="small text-muted">
                  <span class="fw-bold me-1">
                    <%= collection.collection_items_count %>
                  </span>

                  <%= t "noun.works" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="container mt-3 u-container-flat">
      <div class="card u-card-flat">
        <div class="card-body">
          <%= EmptyV6Component.new(self, text: t("messages._empty.no_collections")).render do |h| %>
            <%
              if current_user && current_user == @user
                h.tag :div, class: "mt-3" do
                  h.tag :a, class: "btn btn-primary", href: new_collection_path do
                    h.tag :i, class: "far fa-plus me-1"
                    h.text t("messages.collections.new")
                  end
                end
              end
            %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
