<% title = t "head.title.collections.show", profile_name: @profile.name, username: @user.username, collection_name: @collection.name %>
<% description = meta_description(t("head.meta.description.collections.index", profile_name: @profile.name, username: @user.username)) %>
<% set_meta_tags(title: title, description: description, og: { description: description }, twitter: { description: description }, reverse: true, prefix: false) %>

<%= component_value_fetcher_tag("follow-button", internal_api_following_list_path) %>
<%= component_value_fetcher_tag("mute-user-button", internal_api_muted_user_list_path) %>
<%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path, method: :post, payload: {work_ids: @work_ids}) %>

<div class="py-3">
  <div class="container">
    <%= Headers::ProfileHeaderComponent.new(self, user: @user).render %>
  </div>

  <%= Navs::UserNavComponent.new(self, user: @user, params: params).render %>

  <div class="container mt-3">
    <h1 class="fw-bold">
      <%= @collection.name %>
    </h1>

    <p>
      <%= BodyV6Component.new(self, content: @collection.description, format: :markdown).render %>
    </p>
  </div>

  <div class="container mt-3 u-container-flat">
    <div class="card u-card-flat">
      <div class="card-body">
        <% if @collection_items.present? %>
          <div class="gx-2 gy-3 row">
            <% @collection_items.each do |collection_item| %>
              <div class="col-2 text-center">
                <% user = collection_item.user %>
                <% work = collection_item.work %>
                <% library_entry = @library_entry_by_work_id[work.id] %>

                <%= Cards::WorkCardComponent.new(self, work: work, width: 200, user: user, show_note: true, note: library_entry.note).render %>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= EmptyV6Component.new(self, text: t("messages._empty.no_works")).render %>
        <% end %>
      </div>
    </div>
  </div>
</div>
