<% title = t "head.title.collections.show", profile_name: @profile.name, username: @user.username, collection_name: @collection.name %>
<% description = meta_description(t("head.meta.description.collections.index", profile_name: @profile.name, username: @user.username)) %>
<% set_meta_tags(title: title, description: description, og: { description: description }, twitter: { description: description }, reverse: true, prefix: false) %>

<%= component_value_fetcher_tag("follow-button", internal_api_following_list_path) %>
<%= component_value_fetcher_tag("mute-user-button", internal_api_muted_user_list_path) %>
<%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path, method: :post, payload: {work_ids: @work_ids}) %>

<div class="py-3">
  <div class="container">
    <%= Headers::ProfileHeaderComponent.new(self, user: @user).render %>
  </div>

  <%= Navs::UserNavComponent.new(self, user: @user, params: params).render %>

  <div class="container mt-3">
    <h1 class="fw-bold">
      <%= @collection.name %>
    </h1>
  </div>

  <div class="container mt-3 u-container-flat">
    <% if @collection_items.present? %>
      <div class="vstack gap-3">
        <% @collection_items.each do |collection_item| %>
          <% work = collection_item.work %>

          <div class="card u-card-flat">
            <div class="card-body">
              <h2 class="fw-bold h3 mb-3">
                <%= collection_item.name %>
              </h2>

              <div class="row">
                <div class="col-2">
                  <div class="text-center">
                    <%= link_to work_path(work.id) do %>
                      <%= Pictures::WorkPictureComponent.new(self, work: work, width: 200).render %>
                    <% end %>
                  </div>

                  <% if work.copyright.present? %>
                    <div class="mt-1 text-muted u-very-small">
                      <i class="far fa-copyright me-1"></i>
                      <%= work.copyright %>
                    </div>
                  <% end %>

                  <div class="mt-2 text-center">
                    <%= ButtonGroups::WorkButtonGroupComponent.new(self, work: work).render %>
                  </div>
                </div>

                <div class="col-10">
                  <%= BodyV6Component.new(self, content: collection_item.body, format: :markdown).render %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="card u-card-flat">
        <div class="card-body">
          <%= EmptyV6Component.new(self, text: t("messages._empty.no_works")).render %>
        </div>
      </div>
    <% end %>
  </div>
</div>
