<% title = t "head.title.collections.show", profile_name: @profile.name, username: @user.username, collection_name: @collection.name %>
<% description = meta_description(t("head.meta.description.collections.index", profile_name: @profile.name, username: @user.username)) %>
<% set_meta_tags(title: title, description: description, og: { description: description }, twitter: { description: description }, reverse: true, prefix: false) %>

<%= component_value_fetcher_tag("follow-button", internal_api_following_list_path) %>
<%= component_value_fetcher_tag("mute-user-button", internal_api_muted_user_list_path) %>
<%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path, method: :post, payload: {work_ids: @work_ids}) %>

<div class="py-3">
  <div class="container">
    <%= Headers::ProfileHeaderComponent.new(self, user: @user).render %>
  </div>

  <%= Navs::UserNavComponent.new(self, user: @user, params: params).render %>

  <div class="container mt-3">
    <h1 class="fw-bold mb-0">
      <%= @collection.name %>
    </h1>

    <% if @collection.description.present? %>
      <div class="mt-3">
        <%= BodyV6Component.new(self, content: @collection.description, format: :markdown).render %>
      </div>
    <% end %>
  </div>

  <div class="container mt-3 u-container-flat">
    <% if @collection_items.present? %>
      <div class="g-3 row">
        <% @collection_items.each do |collection_item| %>
          <div class="col-12 col-lg-6">
            <div class="card u-card-flat">
              <div class="card-body">
                <% user = collection_item.user %>
                <% work = collection_item.work %>
                <% library_entry = @library_entry_by_work_id[work.id] %>

                <div class="gx-3 row">
                  <div class="col-2">
                    <%= link_to work_path(work) do %>
                      <%= Pictures::WorkPictureComponent.new(self, work: work, width: 200, alt: work.local_title).render %>
                    <% end %>
                  </div>

                  <div class="col-10">
                    <h3 class="fw-bold h4 mb-0">
                      <%= link_to work_path(work), class: "text-body" do %>
                        <%= work.local_title %>
                      <% end %>
                    </h3>

                    <% if collection_item.body.present? %>
                      <div class="mt-1">
                        <%= BodyV6Component.new(self, content: collection_item.body, format: :markdown).render %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= EmptyV6Component.new(self, text: t("messages._empty.no_works")).render %>
    <% end %>
  </div>
</div>
