<% title = t "head.title.db.episodes.index" %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container-fluid py-3">
  <div class="mb-3">
    <div class="mb-1">
      <%= link_to @work.local_title, db_edit_work_path(@work) %>
    </div>
    <h1>
      <%= title %>
    </h1>

    <% if policy(:db_resource).create? %>
      <div class="text-right">
        <%= link_to db_new_episode_path, class: "btn btn-outline-primary" do %>
          <%= icon "plus" %>
          <%= t "resources.episode.new_episodes" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= render "db/works/subnav", work: @work %>
  </div>

  <div class="mb-3">
    <% max_generate_episodes_count = @work.slots.only_kept.order(number: :desc).first&.number %>
    <div class="alert alert-info">
      <%= t("messages.db.episodes.auto_generate_info_html",
        manual_episodes_count: (@work.manual_episodes_count.presence || t("noun.unknown")),
        max_generate_episodes_count: (max_generate_episodes_count.presence || 0),
        episodes_count: @work.episodes.only_kept.count
      ) %>
    </div>
  </div>

  <div class="mb-3">
    <% if @episodes.present? %>
      <table class="mb-3 table table-hover table-sm">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              <%= t "activerecord.attributes.episode.number" %>
            </th>
            <th>
              <%= t "noun.title" %>
            </th>
            <th>
              <%= t "resources.episode.previous_episode" %>
            </th>
            <th>
              <%= t "activerecord.attributes.episode.sort_number" %>
            </th>
            <th>
              <%= t "activerecord.attributes.episode.records_count" %>
            </th>
            <th>
              <%= t "noun.state" %>
            </th>
            <th>
              <%= t "noun.actions" %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @episodes.each do |episode| %>
            <tr>
              <td>
                <%= link_to episode.id, work_episode_path(@work, episode), target: "_blank" %>
              </td>
              <td>
                <%= episode.number.presence || "-" %>
                <br>
                <%= episode.raw_number.presence || "-" %>
              </td>
              <td>
                <%= episode.title.presence || "-" %>
                <br>
                <%= episode.title_en.presence || "-" %>
              </td>
              <td>
                <%= episode.prev_episode&.local_number.presence || "-" %>
              </td>
              <td>
                <%= episode.sort_number %>
              </td>
              <td>
                <%= episode.episode_records.only_kept.count %>
              </td>
              <td>
                <%= render Db::PublishingStateLabelComponent.new(resource: episode) %>
              </td>
              <td>
                <%= render Db::ActionButtonsComponent.new(
                  user: current_user,
                  resource: episode,
                  detail_path: db_episode_detail_path(episode),
                  edit_path: db_edit_episode_path(episode),
                  publishing_path: db_episode_publishing_path(episode)
                ) %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>

      <div class="text-center">
        <%= paginate @episodes %>
      </div>
    <% else %>
      <%= render "application/components/empty", text: t("messages._empty.no_episodes") %>
    <% end %>
  </div>
</div>
