<% title = t "head.title.db.episodes.new" %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<% form_disabled = !current_user.role.admin? && !@work.manual_episodes_creatable? %>

<div class="container py-3">
  <div>
    <div class="mb-1">
      <%= link_to @work.local_title, db_edit_work_path(@work) %>
    </div>
    <h1>
      <%= title %>
    </h1>
  </div>

  <div class="mt-3">
    <%= render "db/works/subnav", work: @work %>
  </div>

  <div class="gx-3 row mt-3">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <%= form_with model: @form, url: db_episode_list_path(@work) do |f| %>
            <%= render "application/components/error_panel", resource: f.object %>

            <% unless @work.manual_episodes_creatable? %>
              <div class="alert alert-warning">
                <% if @work.episodes_filled? %>
                  <%= t "messages.works.creating_episodes_restricted_episodes_filled" %>
                <% elsif @work.slots_exists? %>
                  <%= t "messages.works.creating_episodes_restricted_slots_exists" %>
                <% end %>
              </div>
            <% end %>

            <div class="mb-3">
              <%= f.label :rows, class: "c-label-required" %>
              <%= f.text_area :rows, class: "form-control", autofocus: true, required: true, rows: 30, readonly: form_disabled %>
            </div>

            <%= f.submit t("helpers.submit.create"), class: "btn btn-primary", disabled: form_disabled %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-6">
      <%= render "sidebar" %>
    </div>
  </div>
</div>
