<% title = t "head.title.channels.index" %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container py-3">
  <div
    class="card"
    data-controller="user-data-fetcher--receive-channel-button-list"
    data-user-data-fetcher--receive-channel-button-list-url-value="<%= my_receive_channel_button_list_path %>"
    data-user-data-fetcher--receive-channel-button-list-channel-ids-value="<%= @channels.pluck(:id) %>"
  >
    <% @channel_groups.each do |channel_group| %>
      <div class="card-header">
        <%= channel_group.name %>
      </div>

      <div class="border-bottom card-body pt-2 pb-3">
        <div class="row">
          <% @channels.filter { |channel| channel.channel_group_id == channel_group.id }.each do |channel| %>
            <div class="col-3 mt-2">
              <span
                data-user-data-fetcher--receive-channel-button-list-target="replacement"
                id="receive-channel-button-list-<%= channel.id %>"
              >
                <%= render Buttons::ReceiveChannelButtonComponent.new(channel: channel, class_name: "btn-sm rounded-circle") %>
              </span>

              <span class="ml-2">
                <%= channel.name %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
