<div
  class="c-anime-sidebar"
  data-controller="sidebar user-data-fetcher--anime-sidebar"
  data-user-data-fetcher--anime-sidebar-url-value="<%= my_anime_sidebar_path(anime_id: @anime.id) %>"
>
  <div class="row mb-3 mb-sm-0">
    <div class="col-4 col-sm-12">
      <div class="mb-2 text-sm-left">
        <%= link_to anime_path(anime_id: @anime.id) do %>
          <%= render WorkImageComponent.new(image_url_1x: @anime.image_url(size: "350x"), image_url_2x: @anime.image_url(size: "700x"), alt: @anime.local_title) %>
        <% end %>
        <div class="u-very-small text-muted">
          <i class="far fa-copyright"></i>
          <%= @anime.copyright %>
        </div>
      </div>
    </div>
    <div class="col-8 col-sm-12 pl-0 pl-sm-3">
      <h1 class="font-weight-bold h2 mb-3 text-sm-left">
        <%= link_to anime_path(anime_id: @anime.id), class: "u-text-body" do %>
          <%= @anime.local_title %>
        <% end %>
      </h1>

      <div class="row mb-3">
        <div class="col text-center">
          <div class="h4 font-weight-bold mb-1">
            <%= @anime.watchers_count %>
          </div>
          <div class="text-muted small">
            <%= t "noun.watchers_count" %>
          </div>
        </div>
        <div class="col text-center">
          <div class="h4 font-weight-bold mb-1">
            <%= @anime.satisfaction_rate.presence || "-" %><span class="small ml-1">%</span>
          </div>
          <div class="text-muted small">
            <%= t "noun.satisfaction_rate_shorten" %>
          </div>
        </div>
        <div class="col text-center">
          <div class="h4 font-weight-bold mb-1">
            <%= @anime.ratings_count %>
          </div>
          <div class="text-muted small">
            <%= t "noun.ratings_count" %>
          </div>
        </div>
      </div>

      <div
        class="mb-3"
        data-user-data-fetcher--anime-sidebar-target="replacement"
        id="c-anime-sidebar__status-selector"
      >
        <%= render StatusSelectorComponent.new(work_id: @anime.id, page_category: "work-detail") %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <h2 class="font-weight-bold h4 mb-3">
      <%= t "noun.information" %>
    </h2>

    <div class="mb-3 row">
      <% if @anime.title_kana.present? %>
        <div class="col-6 col-sm-12 mb-2">
          <div class="small">
            <%= t "activerecord.attributes.work.title_kana" %>
          </div>
          <div>
            <%= @anime.title_kana %>
          </div>
        </div>
      <% end %>

      <% if @anime.title_alter.present? %>
        <div class="col-6 col-sm-12 mb-2">
          <div class="small">
            <%= t "activerecord.attributes.work.title_alter" %>
          </div>
          <div>
            <%= @anime.title_alter %>
          </div>
        </div>
      <% end %>

      <% if @anime.title_en.present? %>
        <div class="col-6 col-sm-12 mb-2">
          <div class="small">
            <%= t "activerecord.attributes.work.title_en" %>
          </div>
          <div>
            <%= @anime.title_en %>
          </div>
        </div>
      <% end %>

      <% if @anime.title_alter_en.present? %>
        <div class="col-6 col-sm-12 mb-2">
          <div class="small">
            <%= t "activerecord.attributes.work.title_alter_en" %>
          </div>
          <div>
            <%= @anime.title_alter_en %>
          </div>
        </div>
      <% end %>

      <div class="col-6 col-sm-12 mb-2">
        <div class="small">
          <%= t "activerecord.attributes.work.media" %>
        </div>
        <div>
          <%= @anime.media.text %>
        </div>
      </div>

      <% if @anime.season.present? %>
        <div class="col-6 col-sm-12 mb-2">
          <div class="small">
            <%= t "noun.release_season" %>
          </div>
          <div>
            <%= @anime.release_season_link %>
          </div>
        </div>
      <% end %>

      <% if @anime.started_on.present? %>
        <div class="col-6 col-sm-12 mb-2">
          <div class="small">
            <%= @anime.started_on_label %>
          </div>
          <div>
            <%= helpers.display_date(@anime.started_on) %>
          </div>
        </div>
      <% end %>

      <% if @anime.official_site_url.present? %>
        <div class="col-6 col-sm-12 mb-2">
          <div class="small">
            <%= t "activerecord.attributes.work.official_site_url" %>
          </div>
          <div>
            <%= helpers.link_with_domain(@anime.official_site_url) %>
          </div>
        </div>
      <% end %>

      <% if @anime.official_site_url_en.present? %>
        <div class="col-6 col-sm-12 mb-2">
          <div class="small">
            <%= t "activerecord.attributes.work.official_site_url_en" %>
          </div>
          <div>
            <%= helpers.link_with_domain(@anime.official_site_url_en) %>
          </div>
        </div>
      <% end %>

      <% if @anime.twitter_username.present? %>
        <div class="col-6 col-sm-12 mb-2">
          <div class="small">
            <%= t "activerecord.attributes.work.twitter_username" %>
          </div>
          <div>
            <%= @anime.twitter_username_link %>
          </div>
        </div>
      <% end %>

      <% if @anime.twitter_hashtag.present? %>
        <div class="col-6 col-sm-12 mb-2">
          <div class="small">
            <%= t "activerecord.attributes.work.twitter_hashtag" %>
          </div>
          <div>
            <%= @anime.twitter_hashtag_link %>
          </div>
        </div>
      <% end %>

      <% if @anime.wikipedia_url.present? %>
        <div class="col-6 col-sm-12 mb-2">
          <div class="small">
            <%= t "activerecord.attributes.work.wikipedia_url" %>
          </div>
          <div>
            <%= helpers.link_with_domain(@anime.wikipedia_url) %>
          </div>
        </div>
      <% end %>

      <% if @anime.wikipedia_url_en.present? %>
        <div class="col-6 col-sm-12 mb-2">
          <div class="small">
            <%= t "activerecord.attributes.work.wikipedia_url_en" %>
          </div>
          <div>
            <%= helpers.link_with_domain(@anime.wikipedia_url_en) %>
          </div>
        </div>
      <% end %>

      <% if @anime.syobocal_tid.present? %>
        <div class="col-6 col-sm-12 mb-2">
          <div class="small">
            <%= t "noun.syobocal" %>
          </div>
          <div>
            <%= @anime.syobocal_link %>
          </div>
        </div>
      <% end %>

      <% if @anime.mal_anime_id.present? %>
        <div class="col-6 col-sm-12 mb-2">
          <div class="small">
            <%= t "noun.my_anime_list" %>
          </div>
          <div>
            <%= @anime.mal_anime_link %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if @vod_channels.present? %>
    <div class="mb-sm-1">
      <h2 class="font-weight-bold h4 mb-3">
        <%= t "noun.vods" %>
      </h2>

      <ul class="list-unstyled mb-0 row">
        <% @vod_channels.each do |vod_channel| %>
          <li class="col-6 col-sm-12 mb-3 mb-sm-2">
            <%= link_to vod_channel.name, vod_channel.programs.first.vod_title_url, rel: "noopener", target: "_blank" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <h2 class="font-weight-bold h4 mb-3">
      <%= t "noun.share" %>
    </h2>

    <%= render ShareToTwitterButtonComponent.new(
        text: @anime.local_title,
        url: "#{helpers.local_url}/works/#{@anime.id}",
        hashtags: @anime.twitter_hashtag.presence || ''
    ) %>

    <%= render ShareToFacebookButtonComponent.new(
        url: "#{helpers.local_url}/works/#{@anime.id}",
    ) %>
  </div>

  <div
    class="mt-3"
    data-user-data-fetcher--anime-sidebar-target="replacement"
    id="c-anime-sidebar__db-link"
  ></div>
</div>
