<div class="c-sign-up-form">
  <h1 class="my-5 text-center">
    <%= t "messages._common.join_annict" %>
  </h1>

  <div class="mb-3 text-center">
    <%= link_to user_twitter_omniauth_authorize_path, class: "btn d-inline-flex justify-content-between u-btn-twitter" do %>
      <span class="col-1 px-0">
        <%= icon "twitter", "fab" %>
      </span>

      <span class="col">
        <%= t "messages.registrations.new.start_with_twitter" %>
      </span>

      <span class="col-1 px-0"></span>
    <% end %>
  </div>

  <div class="mb-5 text-center">
    <%= link_to user_facebook_omniauth_authorize_path, class: "btn d-inline-flex justify-content-between u-btn-facebook" do %>
      <span class="col-1 px-0">
        <%= icon "facebook", "fab" %>
      </span>

      <span class="col">
        <%= t "messages.registrations.new.start_with_facebook" %>
      </span>

      <span class="col-1 px-0"></span>
    <% end %>
  </div>

  <div class="mb-3 text-center text-muted">
    <%= t "noun.or" %>
  </div>

  <%= form_with model: user, url: user_registration_path, html: { class: "mb-3" }, local: true do |f| %>
    <%= render "application/components/error_panel", resource: user %>

    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: "form-control", autofocus: true, required: true, placeholder: "BK201" %>
      <small class="text-muted form-text">
        <%= t "messages.registrations.new.username_hint" %>
      </small>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, type: "email", class: "form-control", required: true, placeholder: "hei@example.com" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true %>
      <small class="text-muted form-text">
        <%= t "messages.registrations.new.password_hint" %>
      </small>
    </div>

    <div class="form-check form-group">
      <%= f.check_box :terms_and_privacy_policy_agreement, class: "form-check-input" %>
      <%= f.label :terms_and_privacy_policy_agreement, class: "form-check-label" do %>
        <%= t "activerecord.attributes.user.terms_and_privacy_policy_agreement_html" %>
      <% end %>
    </div>

    <div class="text-center">
      <%= f.button class: "btn btn-primary" do %>
        <%= icon "rocket" %>
        <%= t "noun.sign_up" %>
      <% end %>
    </div>
  <% end %>
</div>
