<turbo-frame id="trackable-episode-list">
  <div class="card">
    <% @library_entries.each do |le| %>
      <div class="card-header">
        <div class="row">
          <div class="col">
            <div
              data-controller="tracking-modal-button"
              data-tracking-modal-button-frame-path="<%= anime_frame_path(le.work_id) %>"
              data-action="click->tracking-modal-button#open"
            >
              <%= le.work.local_title %>
            </div>
          </div>

          <div class="col text-right">
            <% if le.program %>
              <% if le.program.vod_title_url.present? %>
                <%= link_to le.program.vod_title_url, class: "text-body", rel: "noopener", target: "_blank" do %>
                  <%= le.program.channel.name %>
                  <i class="fas fa-external-link-alt pr-1"></i>
                <% end %>
              <% else %>
                <%= le.program.channel.name %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <ul class="list-group list-group-flush">
        <% @untracked_episodes.filter { |episode| episode.work_id == le.work_id }.each do |episode| %>
          <li class="list-group-item">
            <div class="align-items-center row">
              <div class="col-auto pr-0">
                <%= render Buttons::WatchEpisodeButtonComponent.new(
                  episode_id: episode.id, page_category: page_category, class_name: "btn-sm btn-outline-info rounded-circle"
                ) %>
              </div>

              <div class="col-auto pl-2 pr-0">
                <%= render Buttons::SkipEpisodeButtonComponent.new(
                  episode_id: episode.id, class_name: "btn-sm btn-outline-secondary rounded-circle"
                ) %>
              </div>

              <div class="c-tracking-state__title col">
                <%= episode.title_with_number %>
              </div>

              <div class="col text-right">
                <% if le.program %>
                  <span class="small text-muted">
                    <%= display_time(@slots.filter { |slot| slot.episode_id == episode.id }.first&.started_at) %>
                  </span>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="mt-3 text-center">
    <%= paginate @library_entries, params: { controller: 'tracks', action: 'show' } %>
  </div>
</turbo-frame>
