<div class="list-group">
  <%= active_link_to record_list_path(@user_entity.username),
      class: "align-items-center d-flex justify-content-between list-group-item",
      class_active: "active",
      active: params[:controller] == "v4/records" && params[:month].blank? do
  %>
    <%= t "noun.all" %>
    <span class="badge badge-pill badge-primary">
      <%= @months.values.reduce(&:+) %>
    </span>
  <% end %>

  <% @months.each do |month, count| %>
    <% if count > 0 %>
      <%= active_link_to record_list_path(@user_entity.username, month: month.to_s(:ym)),
          class: "align-items-center d-flex justify-content-between list-group-item",
          class_active: "active",
          active: params[:month] == month.to_s(:ym) do
      %>
        <%= month.to_s(:ym) %>

        <span class="badge badge-pill badge-primary">
        <%= count %>
      </span>
      <% end %>
    <% end %>
  <% end %>
</div>
