<%= link_to "#", class: "nav-link dropdown-toggle p-0", data: { toggle: "dropdown" } do %>
  <%= image_tag ann_image_url(current_user.profile, :image, size: "30x30"), class: "rounded-circle" %>
<% end %>
<div class="dropdown-menu dropdown-menu-right">
  <%= link_to t("noun.profile"), user_path(current_user.username), class: "dropdown-item" %>
  <%= link_to t("head.title.friends.index"), friends_path, class: "dropdown-item" %>
  <% if current_user.locale == "ja" %>
    <%= link_to t("head.title.channels.index"), channels_path, class: "dropdown-item" %>
  <% end %>
  <%= link_to t("noun.settings"), profile_path, class: "dropdown-item" %>
  <%= link_to t("noun.annict_userland"), userland_root_path, class: "dropdown-item" %>
  <%= link_to t("noun.annict_forum"), forum_root_path, class: "dropdown-item" %>
  <%= link_to t("noun.annict_db"), db_root_path, class: "dropdown-item" %>
  <% if current_user.locale == "ja" %>
    <%= link_to t("noun.annict_developers"), "https://developers.annict.jp", target: "_blank", class: "dropdown-item" %>
  <% end %>
  <%= link_to t("head.title.supporters.index"), supporters_path, class: "dropdown-item" %>
  <% if current_user.locale == "ja" %>
    <%= link_to t("head.title.faqs.index"), faqs_path, class: "dropdown-item" %>
  <% end %>
  <%= link_to t("head.title.pages.about"), about_path, class: "dropdown-item" %>
  <%= link_to t("verb.sign_out"), destroy_user_session_path, method: "delete", class: "dropdown-item" %>
</div>
