<turbo-frame class="row gy-3" id="<%= dom_id(@activity_group) %>">
  <%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path, method: :post, payload: {work_ids: @work_ids}) %>
  <%= component_value_fetcher_tag("like-button", internal_api_like_list_path) %>
  <%= component_value_fetcher_tag("spoiler-guard", internal_api_spoiler_guard_path) %>

  <div class="row gy-3">
    <% case @activity_group.itemable_type %>
    <% when "Status" %>
      <% @activity_group.items.each do |status| %>
        <%= Deprecated::Contents::StatusContentComponent.new(self, status: status).render %>
      <% end %>
    <% when "EpisodeRecord", "WorkRecord", "AnimeRecord" %>
      <% @activity_group.items.each do |record| %>
        <%= Deprecated::Contents::RecordContentComponent.new(self, record: record).render %>
      <% end %>
    <% end %>
  </div>
</turbo-frame>
