<% title = t "head.title.db.series_works.edit" %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container-fluid py-3">
  <div class="mb-3">
    <div class="mb-1">
      <%= link_to t("head.title.db.series_works.index"), db_series_work_list_path(@series) %>
    </div>
    <h1>
      <%= title %>
    </h1>
  </div>

  <div class="mb-3">
    <%= render "v4/db/series/subnav", series: @series %>
  </div>

  <div class="mb-3 row">
    <div class="col-6">
      <%= form_with model: @series_work, url: db_series_work_detail_path(@series_work), local: true do |f| %>
        <%= render "application/components/error_panel", resource: f.object %>

        <div class="form-group">
          <%= f.label :work_id %>
          <select
            class="form-control"
            data-controller="db--resource-selector"
            data-db--resource-selector-model-name="Work"
            name="series_work[work_id]"
          >
            <% if f.object.work&.id %>
              <option value="<%= f.object.work.id %>" selected="">
                <%= f.object.work.local_title %>
              </option>
            <% else %>
              <option value="" selected=""></option>
            <% end %>
          </select>
        </div>
        <div class="form-group">
          <%= f.label :summary %>
          <%= f.text_field :summary, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :summary_en %>
          <%= f.text_field :summary_en, class: "form-control" %>
        </div>
        <%= f.submit t("helpers.submit.update"), class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-6">
      <%= render "sidebar_edit" %>
    </div>
  </div>
</div>
