<% title = t "head.title.track_anime.show", title: @anime_entity.local_title %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 py-3">
      <%= render Sidebars::TrackSidebarComponent.new(library_entry_entities: @library_entry_entities) %>
    </div>

    <div class="col-md-9 py-3">
      <div class="row mb-3">
        <div class="col-1 pr-0">
          <%= link_to anime_path(anime_id: @anime_entity.database_id) do %>
            <%= render WorkImageComponent.new(
              image_url_1x: @anime_entity.image_url_1x,
              image_url_2x: @anime_entity.image_url_2x,
              alt: @anime_entity.local_title
            ) %>
          <% end %>
        </div>

        <div class="col">
          <h1 class="h3">
            <%= link_to anime_path(anime_id: @anime_entity.database_id), class: "u-text-body" do %>
              <%= @anime_entity.local_title %>
            <% end %>
          </h1>

          <div class="row">
            <div class="col-auto pr-0">
              <%= render StatusSelectorComponent.new(work_id: @anime_entity.database_id, page_category: page_category, small: true) %>
            </div>

            <div class="col pl-1">
              <%= render ButtonGroups::AnimeButtonGroupComponent.new(anime_id: @anime_entity.id) %>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <%= render Forms::AnimeRecordFormComponent.new(form: @form, viewer: current_user) %>
      </div>

      <% if @anime_entity.episodes && @anime_entity.episodes.length > 0 %>
        <table
          class="table table-hover"
          data-controller="bulk-track-episodes"
        >
          <tbody>
            <% @anime_entity.episodes.each do |episode_entity| %>
              <%= render TrackableEpisodeTableRowComponent.new(episode_entity: episode_entity) do %>
                <%= link_to episode_path(anime_id: @anime_entity.database_id, episode_id: episode_entity.database_id), class: "u-text-body" do %>
                  <span class="mr-1">
                    <%= episode_entity.local_number %>
                  </span>
                  <%= episode_entity.local_title %>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>

        <%= render PaginationComponent.new(page_info_entity: @page_info_entity, resources_path: current_path_with_query) %>
      <% else %>
        <%= render EmptyComponent.new(text: t("messages._empty.no_episodes")) %>
      <% end %>
    </div>
  </div>
</div>
