<% title = t "head.title.db.staffs.edit" %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container py-3">
  <div>
    <div class="mb-1">
      <%= link_to @work.local_title, db_edit_work_path(@work) %>
    </div>
    <h1>
      <%= title %>
    </h1>
  </div>

  <div class="mt-3">
    <%= render "db/works/subnav", work: @work %>
  </div>

  <div class="gx-3 row mt-3">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <%= form_with model: @staff, url: db_staff_detail_path(@staff), method: :patch do |f| %>
            <%= render "application/components/error_panel", resource: f.object %>

            <div class="mb-3">
              <% if f.object.resource_type == "Person" %>
                <%= f.label :resource_id, value: t("noun.person") %>
                <select
                  class="form-select"
                  data-controller="resource-selector"
                  data-resource-selector-model-name="Person"
                  name="staff[resource_id]"
                >
                  <option value="<%= f.object.resource.id %>" selected="">
                    <%= f.object.resource.name %>
                  </option>
                </select>
              <% elsif f.object.resource_type == "Organization" %>
                <%= f.label :resource_id, value: t("noun.organization") %>
                <select
                  class="form-select"
                  data-controller="resource-selector"
                  data-resource-selector-model-name="Organization"
                  name="staff[resource_id]"
                >
                  <option value="<%= f.object.resource.id %>" selected="">
                    <%= f.object.resource.name %>
                  </option>
                </select>
              <% end %>
              <%= hidden_field_tag "#{f.object.class.name.underscore}[resource_type]", f.object.resource_type %>
            </div>

            <div class="mb-3">
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :name_en %>
              <%= f.text_field :name_en, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :role %>
              <%= f.select(
                :role,
                options_for_select(Staff.role.options, f.object.role),
                { include_blank: true },
                { class: "form-select" }
              ) %>
            </div>

            <div class="mb-3">
              <%= f.label :role_other %>
              <%= f.text_field :role_other, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :role_other_en %>
              <%= f.text_field :role_other_en, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :sort_number %>
              <%= f.number_field :sort_number, class: "form-control" %>
            </div>

            <%= f.submit t("helpers.submit.update"), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-6">
      <%= render "sidebar_edit" %>
    </div>
  </div>
</div>
