<div class="overflow-hidden">
  <div class="gy-3 row">
    <% resource_years.each do |year| %>
      <div class="col-12">
        <h3 class="text-center mb-3">
          <%= year %>
        </h3>

        <div class="g-3 row">
          <% resources_with_year[year].group_by(&:work_id).each do |_, resources| %>
            <% work = resources.first.work %>
            <div class="col-4 col-sm-2">
              <%= link_to work_path(work_id: work.id) do %>
                <%= render Pictures::WorkPictureComponent.new(work: work, width: 140) %>
              <% end %>

              <div class="small text-truncate">
                <%= link_to work.local_title, work_path(work_id: work.id), class: "text-body" %>

                <div class="text-muted">
                  <% description = resources.map { |resource| root_resource.grid_description(resource) }.join(", ") %>
                  <%= description.html_safe %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
