<% title = t "head.title.db.casts.edit" %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container-fluid py-3">
  <div class="mb-3">
    <div class="mb-1">
      <%= link_to @work.local_title, db_edit_work_path(@work) %>
    </div>
    <h1>
      <%= title %>
    </h1>
  </div>

  <div class="mb-3">
    <%= render "v4/db/works/subnav", work: @work %>
  </div>

  <div class="mb-3 row">
    <div class="col-6">
      <%= form_with model: @cast, url: db_cast_detail_path(@cast), method: :patch, local: true do |f| %>
        <%= render "application/components/error_panel", resource: f.object %>

        <div class="mb-3">
          <%= f.label :character_id %>
          <select
            class="form-control"
            data-controller="db--resource-selector"
            data-db--resource-selector-model-name="Character"
            name="cast[character_id]"
          >
            <% if f.object.character&.id %>
              <option value="<%= f.object.character.id %>" selected="">
                <%= f.object.character.name %>
              </option>
            <% else %>
              <option value="" selected=""></option>
            <% end %>
          </select>
        </div>

        <div class="mb-3">
          <%= f.label :person_id %>
          <select
            class="form-control"
            data-controller="db--resource-selector"
            data-db--resource-selector-model-name="Person"
            name="cast[person_id]"
          >
            <% if f.object.person&.id %>
              <option value="<%= f.object.person.id %>" selected="">
                <%= f.object.person.name %>
              </option>
            <% else %>
              <option value="" selected=""></option>
            <% end %>
          </select>
        </div>

        <div class="mb-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :name_en %>
          <%= f.text_field :name_en, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :sort_number %>
          <%= f.number_field :sort_number, class: "form-control" %>
        </div>

        <%= f.submit t("helpers.submit.update"), class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="col-6">
      <%= render "sidebar_edit" %>
    </div>
  </div>
</div>
