<div class="c-timeline__episode-record-activity">
  <div class="row mb-2">
    <div class="col-auto pr-0">
      <%= link_to profile_detail_path(activity_group.user.username) do %>
        <%= render ProfileImageComponent.new(
            image_url_1x: activity_group.user.avatar_url,
            alt: "@#{activity_group.user.username}"
        ) %>
      <% end %>
    </div>

    <div class="col">
      <span class="c-timeline__user-name">
        <%= link_to activity_group.user.name, profile_detail_path(activity_group.user.username), class: "text-body font-weight-bold u-link" %>
      </span>

      <small class="mr-1">
        <%= t "messages._components.activities.episode_record.created" %>
      </small>

      <%= render RelativeTimeComponent.new(time: activity_group.created_at.iso8601, class_name: "small text-muted") %>
    </div>
  </div>

  <% if activity_group.single %>
    <%= render SpoilerGuardComponent.new(work_id: episode_records.first.work.id, episode_id: episode_records.first.episode.id) do %>
      <div>
        <% if episode_records.first.rating_state %>
          <%= render RatingLabelComponent.new(kind: episode_records.first.rating_state.downcase, class_name: "mb-1") %>
        <% end %>

        <%= render BodyComponent.new(height: 300, markdown: false) do %>
          <%= episode_records.first.body %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="c-timeline__activity-cards">
    <%= render EpisodeRecordActivityCardsComponent.new(activity_group: activity_group) %>
  </div>

  <% if activity_group.activities_count > 2 %>
    <div
      class="text-center"
      data-action="click->timeline-activity#next"
      data-target="timeline-activity.nextButton"
    >
      <div class="mb-3 text-center">
        <div class="c-activity-more-button btn btn-outline-secondary btn-small py-1">
          <i class="fal fa-chevron-double-down"></i>
          <%= t "messages._components.activities.episode_record.more", n: activity_group.activities_count - 2 %>
        </div>
      </div>
    </div>
  <% end %>
</div>
