<div class="c-episode-record-card c-record-card card col-11 col-lg-10 mb-2 px-0">
  <div class="card-body p-2">
    <div class="row">
      <div class="col-auto pr-0">
        <%= link_to anime_path(anime_id: work_entity.database_id) do %>
          <%= render WorkImageComponent.new(
              image_url_1x: work_entity.image_url_1x,
              image_url_2x: work_entity.image_url_2x,
              alt: work_entity.local_title
          ) %>
        <% end %>
      </div>

      <div class="col">
        <div class="mb-1">
          <%= link_to work_entity.local_title, anime_path(anime_id: work_entity.database_id), class: "d-block" %>

          <%= link_to episode_path(anime_id: work_entity.database_id, episode_id: episode_entity.database_id), class: "d-block small" do %>
            <span class="pr-1">
              <%= episode_entity.local_number %>
            </span>

            <%= episode_entity.local_title %>
          <% end %>
        </div>

        <%= render StatusSelectorComponent.new(work_id: work_entity.database_id, page_category: "user-home", small: true) %>
      </div>
    </div>
  </div>
</div>
