<div class="c-episode-record-content c-record-content">
  <% if @record.episode_record.rating_state || @episode_record.body.present? %>
    <%= render SpoilerGuardComponent2.new(record: @record, current_user: @current_user) do %>
      <div class="c-record-content__wrapper mb-3">
        <% if @record.episode_record.rating_state %>
          <%= render RatingLabelComponent.new(rating: @episode_record.rating_state, advanced_rating: @episode_record.rating, class_name: "mb-1") %>
        <% end %>

        <%= render BodyComponent.new(height: 300, format: :html) do %>
          <%== helpers.render_markdown(@episode_record.comment) %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @show_card %>
    <%= render EpisodeRecordCardComponent2.new(episode_record: @episode_record) %>
  <% end %>

  <%= render EpisodeRecordFooterComponent2.new(episode_record: @episode_record) %>
</div>
