<div
  class="c-like-button <%= like_button_class_name %>"
  data-controller="like-button"
  data-like-button-resource-name="<%= @resource_name %>"
  data-like-button-resource-id="<%= @resource_id %>"
  data-like-button-page-category="<%= @page_category %>"
  data-like-button-init-is-liked-value="<%= @init_is_liked %>"
  data-action="click->like-button#toggle"
>
  <i class="c-like-button__icon"></i>
  <span class="c-like-button__count" data-like-button-target="count">
    <%= @likes_count %>
  </span>
</div>
