<div class="c-profile-header">
  <div class="c-profile-header__background" style="background-image: url(<%= user_entity.background_image_url %>);"></div>
  <div class="c-profile-header__content container-fluid">
    <div class="row">
      <div class="col-auto c-profile-header__profile-image">
        <%= link_to profile_path do %>
          <%= render ProfileImageComponent.new(image_url_1x: user_entity.avatar_url, alt: "@#{user_entity.username}") %>
        <% end %>
      </div>

      <div class="col mb-2 mb-lg-0">
        <div class="align-self-center px-3 py-2">
          <%= render SupporterBadgeComponent.new(user_entity: user_entity) %>

          <h1 class="h2 mb-0">
            <%= link_to profile_path, class: "text-body" do %>
              <%= user_entity.name %>
              <div class="c-profile-header__username text-muted">
                @<%= user_entity.username %>
              </div>
            <% end %>
          </h1>
        </div>
      </div>

      <div class="align-self-center col-12 col-lg text-center text-lg-right">
        <% if current_user&.id != user_entity.database_id %>
          <c-follow-button :user-id="<%= user_entity.database_id %>"></c-follow-button>
        <% end %>
      </div>
    </div>
  </div>

  <div class="c-subnav2">
    <ul class="c-subnav2__list">
      <li class="c-subnav2__item">
        <%= active_link_to t("noun.profile"), profile_path(user_entity.username),
            class: "c-subnav2__link",
            class_active: "c-subnav2__link--active",
            active: params[:controller] == "v4/users" && params[:action] == "show"
        %>
      </li>
      <li class="c-subnav2__item">
        <%= active_link_to t("noun.records"), record_list_path(user_entity.username),
            class: "c-subnav2__link",
            class_active: "c-subnav2__link--active",
            active: params[:controller] == "v4/records" && params[:action].in?(%w(index show))
        %>
      </li>
      <li class="c-subnav2__item">
        <%= active_link_to t("noun.library"), library_path(user_entity.username, :watching),
            class: "c-subnav2__link",
            class_active: "c-subnav2__link--active",
            active: params[:controller] == "libraries" && params[:action] == "show"
        %>
      </li>
      <li class="c-subnav2__item">
        <%= active_link_to t("noun.favorites"), favorite_characters_path(user_entity.username),
            class: "c-subnav2__link",
            class_active: "c-subnav2__link--active",
            active: params[:controller].in?(%w(favorite_characters favorite_people favorite_organizations)) && params[:action] == "index"
        %>
      </li>
      <li class="c-subnav2__item">
        <%= active_link_to t("noun.following"), following_user_path(user_entity.username),
            class: "c-subnav2__link",
            class_active: "c-subnav2__link--active",
            active: params[:controller] == "users" && params[:action] == "following"
        %>
      </li>
      <li class="c-subnav2__item">
        <%= active_link_to t("noun.followers"), followers_user_path(user_entity.username),
            class: "c-subnav2__link",
            class_active: "c-subnav2__link--active",
            active: params[:controller] == "users" && params[:action] == "followers"
        %>
      </li>
    </ul>
  </div>
</div>
