<div class="c-record-header row">
  <div class="col-auto pr-0">
    <%= link_to profile_path(@user_entity.username) do %>
      <%= render ProfileImageComponent.new(
          image_url_1x: @user_entity.avatar_url,
          alt: "@#{@user_entity.username}"
      ) %>
    <% end %>
  </div>

  <div class="col">
    <div>
      <%= link_to profile_path(@user_entity.username), class: "font-weight-bold mr-1 text-body" do %>
        <span class="mr-1">
          <%= @user_entity.name %>
        </span>

        <small class="text-muted">
          @<%= @user_entity.username %>
        </small>
      <% end %>

      <% if @user_entity.display_supporter_badge %>
        <span class="badge u-badge-supporter">
          <%= t "noun.supporter" %>
        </span>
      <% end %>
    </div>

    <div>
      <%= link_to record_path(@user_entity.username, @record_entity.database_id), class: "small text-muted" do %>
        <%= helpers.display_time(@record_entity.created_at) %>
      <% end %>

      <% if @record_entity.modified_at %>
        <small class="ml-1 text-muted">
          <i class="fas fa-pencil-alt"></i>
        </small>
      <% end %>
    </div>
  </div>

  <div class="col-auto pl-0">
    <%= render Dropdowns::RecordOptionsDropdownComponent.new(
      viewer: @viewer,
      user_entity: @user_entity,
      record_entity: @record_entity
    ) %>
  </div>
</div>
