<span
  class="c-share-to-twitter-button <%= class_name %>"
  data-controller="share-to-twitter-button"
  data-share-to-twitter-button-text="<%= text %>"
  data-share-to-twitter-button-url="<%= url %>"
  data-share-to-twitter-button-hashtags="<%= hashtags %>"
>
  <span class="btn btn-sm u-btn-twitter" data-action="click->share-to-twitter-button#open">
    <div class="small">
      <i class="fab fa-twitter me-1"></i>
      <%= t "noun.tweet" %>
    </div>
  </span>
</span>
