<c-sidebar class="h-100" v-slot:default="slotProps">
  <div :class="{ active: slotProps.isSidebarOpen }" class="c-sidebar__background" v-on:click="slotProps.hideSidebar"></div>

  <transition name="slide">
    <div :class="{ active: slotProps.isSidebarOpen }" class="c-sidebar__content" v-show="slotProps.isSidebarOpen">
      <%= link_to root_path, class: "c-sidebar__logo d-inline-block mb-3 text-center u-bg-mizuho w-100" do %>
        <%= image_tag(
          "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E",
          alt: "Annict",
          class: "js-lazy",
          data: { src: helpers.asset_bundle_url("images/logos/color-white.png") },
          size: "25x30"
        ) %>
      <% end %>

      <% if user %>
        <div class="mb-3 px-3">
          <%= link_to profile_path(user.username), class: "align-content-center row" do %>
            <div class="col-3 pr-0">
              <%= render ProfileImageComponent.new(image_url_1x: helpers.ann_image_url(user.profile, :image, size: "50x50"), alt: "@#{user.username}") %>
            </div>

            <div class="col-auto">
              <div class="font-weight-bold u-text-body">
                <%= user.profile.name %>
              </div>

              <div class="small text-secondary">
                @<%= user.username %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="mb-3 px-1">
        <%= form_with html: { autocomplete: "off", method: :get }, local: true, url: search_path do %>
          <%= text_field_tag "q", search.q, class: "form-control", placeholder: t("messages._common.search_with_keywords") %>
        <% end %>
      </div>

      <ul class="list-unstyled px-3">
        <li>
          <%= link_to root_path, class: "d-flex justify-content-between py-2" do %>
            <div class="c-sidebar__icon text-muted">
              <i class="fal fa-home"></i>
            </div>

            <div class="flex-grow-1 text-body">
              <%= t "noun.home" %>
            </div>
          <% end %>
        </li>

        <% if user %>
          <li>
            <%= link_to profile_path(user.username), class: "d-flex justify-content-between py-2" do %>
              <div class="c-sidebar__icon text-muted">
                <i class="fal fa-user"></i>
              </div>

              <div class="flex-grow-1 text-body">
                <%= t "noun.profile" %>
              </div>
            <% end %>
          </li>

          <li>
            <%= link_to notifications_path, class: "d-flex justify-content-between py-2" do %>
              <div class="c-sidebar__icon text-muted">
                <i class="fal fa-bell"></i>
              </div>

              <div class="flex-grow-1 text-body">
                <%= t "head.title.notifications.index" %>
              </div>

              <% if user.notifications_count > 0 %>
                <div>
                  <span class="badge badge-pill badge-primary">
                    <%= user.notifications_count %>
                  </span>
                </div>
              <% end %>
            <% end %>
          </li>

          <li>
            <%= link_to programs_path, class: "d-flex justify-content-between py-2" do %>
              <div class="c-sidebar__icon text-muted">
                <i class="fal fa-calendar"></i>
              </div>

              <div class="flex-grow-1 text-body">
                <%= t "noun.slots" %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>

      <% if user %>
        <div class="font-weight-bold mb-3 px-3 small text-secondary">
          <%= t "noun.library" %>
        </div>

        <ul class="list-unstyled px-3">
          <% [
            [:watching, "play", t("noun.watching")],
            [:wanna_watch, "circle", t("noun.plan_to_watch")],
            [:watched, "check", t("noun.completed")],
            [:on_hold, "pause", t("noun.on_hold")],
            [:stop_watching, "stop", t("noun.dropped")]
          ].each do |status_kind, icon_name, link_text| %>
            <li>
              <%= link_to library_path(username: user.username, status_kind: status_kind), class: "d-flex justify-content-between py-2" do %>
                <div class="c-sidebar__icon text-muted">
                  <i class="fal fa-<%= icon_name %>"></i>
                </div>

                <div class="flex-grow-1 text-body">
                  <%= link_text %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <div class="font-weight-bold mb-3 px-3 small text-secondary">
        <%= t "verb.explore" %>
      </div>

      <ul class="list-unstyled px-3">
        <% [
          [ENV.fetch("ANNICT_CURRENT_SEASON"), "flower", t("noun.current_season")],
          [ENV.fetch("ANNICT_NEXT_SEASON"), "island-tropical", t("noun.next_season")],
          [ENV.fetch("ANNICT_PREVIOUS_SEASON"), "snowflake", t("noun.previous_season")],
          [:popular, "fire", t("head.title.works.popular")],
          [:newest, "bolt", t("head.title.works.newest")]
        ].each do |page_type, icon_name, link_text| %>
          <li>
            <%= link_to "/works/#{page_type}", class: "d-flex justify-content-between py-2" do %>
              <div class="c-sidebar__icon text-muted">
                <i class="fal fa-<%= icon_name %>"></i>
              </div>

              <div class="flex-grow-1 text-body">
                <%= link_text %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>

      <div class="font-weight-bold mb-3 px-3 small text-secondary">
        Misc
      </div>

      <ul class="list-unstyled px-3">
        <% [
          [friends_path, "search", t("head.title.friends.index"), true],
          [channels_path, "tv-retro", t("head.title.channels.index"), true],
          [profile_setting_path, "cog", t("noun.settings"), true],
          [faqs_path, "question-circle", t("head.title.faqs.index"), false],
          [about_path, "info-circle", t("head.title.pages.about"), false]
        ].each do |link_path, icon_name, link_text, sign_in_required| %>
          <% if user || !sign_in_required %>
            <li>
              <%= link_to link_path, class: "d-flex justify-content-between py-2" do %>
                <div class="c-sidebar__icon text-muted">
                  <i class="fal fa-<%= icon_name %>"></i>
                </div>

                <div class="flex-grow-1 text-body">
                  <%= link_text %>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <div class="font-weight-bold mb-3 px-3 small text-secondary">
        <%= t "noun.services" %>
      </div>

      <ul class="list-unstyled px-3">
        <% [
          [userland_root_path, "signal-stream", t("noun.annict_userland")],
          [forum_root_path, "comments-alt", t("noun.annict_forum")],
          [db_root_path, "database", t("noun.annict_db")],
          [supporters_path, "sparkles", t("noun.annict_supporters")]
        ].each do |link_path, icon_name, link_text| %>
          <li>
            <%= link_to link_path, class: "d-flex justify-content-between py-2" do %>
              <div class="c-sidebar__icon text-muted">
                <i class="fal fa-<%= icon_name %>"></i>
              </div>

              <div class="flex-grow-1 text-body">
                <%= link_text %>
              </div>
            <% end %>
          </li>
        <% end %>

        <li>
          <%= link_to "https://developers.annict.jp", class: "d-flex justify-content-between py-2", rel: "noopener", target: "_blank" do %>
            <div class="c-sidebar__icon text-muted">
              <i class="fal fa-code"></i>
            </div>

            <div class="flex-grow-1 text-body">
              <%= t "noun.annict_developers" %>
            </div>
          <% end %>
        </li>
      </ul>

      <hr>

      <ul class="list-unstyled px-3">
        <li>
          <% if user %>
            <%= link_to(
              destroy_user_session_path,
              class: "d-flex justify-content-between py-2",
              data: {
                confirm: t("messages._common.are_you_sure"),
                method: :delete
              }
            ) do %>
              <div class="c-sidebar__icon text-muted">
                <i class="fal fa-sign-out"></i>
              </div>

              <div class="flex-grow-1 text-body">
                <%= t "verb.sign_out" %>
              </div>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path, class: "d-flex justify-content-between py-2" do %>
              <div class="c-sidebar__icon text-muted">
                <i class="fal fa-sign-in"></i>
              </div>

              <div class="flex-grow-1 text-body">
                <%= t "noun.sign_in" %>
              </div>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </transition>
</c-sidebar>
