<div
  class="c-status-selector <%= 'c-status-selector--small' if small %> <%= class_name %>"
  data-controller="status-selector"
  data-status-selector-work-id="<%= work_id %>"
  data-status-selector-page-category="<%= page_category %>"
>
  <div class="c-status-selector__object">
    <select class="w-100" data-target="status-selector.kind" data-action="status-selector#change">
      <% status_options.each do |status_option| %>
        <option value="<%= status_option[1] %>">
          <%= status_option[0] %>
        </option>
      <% end %>
    </select>
    <i class="fas fa-caret-down"></i>
  </div>
</div>
