<div
  class="c-status-selector <%= status_selector_class_name %>"
  data-controller="status-selector"
  data-status-selector-anime-id-value="<%= @anime_id %>"
  data-status-selector-init-kind-value="<%= @init_kind %>"
  data-status-selector-page-category-value="<%= @page_category %>"
>
  <div class="c-status-selector__object">
    <select class="w-100" data-status-selector-target="kind" data-action="status-selector#change">
      <% status_options.each do |status_option| %>
        <option value="<%= status_option[1] %>">
          <%= status_option[0] %>
        </option>
      <% end %>
    </select>

    <i class="fas fa-caret-down"></i>
  </div>
</div>
