<div class="c-status-card card col-11 col-lg-10 mb-2 px-0">
  <div class="card-body p-2">
    <div class="row">
      <div class="col-auto pr-0">
        <%= link_to anime_path(anime_id: status_entity.anime.database_id) do %>
          <%= render WorkImageComponent.new(
              image_url_1x: status_entity.anime.image_url_1x,
              image_url_2x: status_entity.anime.image_url_2x,
              alt: status_entity.anime.local_title
          ) %>
        <% end %>
      </div>

      <div class="col">
        <div>
          <span class="badge u-badge-<%= status_entity.kind %>">
            <%= t "enumerize.status.kind_v3.#{status_entity.kind}" %>
          </span>
        </div>

        <div class="mb-1">
          <%= link_to status_entity.anime.local_title, anime_path(anime_id: status_entity.anime.database_id) %>
        </div>

        <%= render StatusSelectorComponent.new(work_id: status_entity.anime.database_id, page_category: "user-home", small: true) %>
      </div>
    </div>
  </div>
</div>
