<div class="c-timeline__status-activity">
  <div class="row mb-2">
    <div class="col-auto pr-0">
      <%= link_to user_path(activity_group.user.username) do %>
        <%= render ProfileImageComponent.new(
            image_url_1x: activity_group.user.avatar_url,
            alt: "@#{activity_group.user.username}"
        ) %>
      <% end %>
    </div>

    <div class="col">
      <span class="c-timeline__user-name">
        <%= link_to activity_group.user.name, user_path(activity_group.user.username), class: "text-body font-weight-bold u-link" %>
      </span>

      <small class="mr-1">
        <%= t "messages._components.activities.status.changed" %>
      </small>

      <c-relative-time class="small text-muted" time="<%= activity_group.created_at.iso8601 %>"></c-relative-time>
    </div>
  </div>

  <%= render StatusActivityCardsComponent.new(activity_group: activity_group) %>

  <% if activity_group.activities_count > 2 %>
    <c-activity-more-button
      activity-group-id="<%= activity_group.id %>"
      cursor="<%= activity_group.activities_page_info.end_cursor %>"
    >
      <i class="fal fa-chevron-double-down"></i>
      <%= t "messages._components.activities.status.more", n: activity_group.activities_count - 2 %>
    </c-activity-more-button>

    <c-activity-more-content activity-group-id="<%= activity_group.id %>"></c-activity-more-content>
  <% end %>
</div>
