<div class="c-tab-bar bg-white" data-controller="tab-bar">
  <div class="d-block h-100 navbar navbar-expand navbar-white px-0">
    <ul class="align-items-center h-100 justify-content-around navbar-nav">
      <li class="col nav-item px-0 text-center" data-action="click->tab-bar#showSidebar">
        <%= link_to "#", class: "text-dark" do %>
          <i class="fal fa-bars"></i>

          <div class="small mt-1">
            <%= t "noun.menu" %>
          </div>
        <% end %>
      </li>

      <li class="col nav-item px-0 text-center">
        <%= link_to root_path, class: "text-dark" do %>
          <i class="fal fa-home"></i>

          <div class="small mt-1">
            <%= t "noun.home" %>
          </div>
        <% end %>
      </li>

      <% if user %>
        <li class="col nav-item px-0 text-center">
          <%= link_to programs_path, class: "text-dark" do %>
            <i class="fal fa-calendar"></i>

            <div class="small mt-1">
              <%= t "noun.slots" %>
            </div>
          <% end %>
        </li>

        <li class="col nav-item px-0 text-center">
          <%= link_to "/@#{user.username}/watching", class: "text-dark" do %>
            <i class="fal fa-play"></i>

            <div class="small mt-1">
              <%= t "noun.watching_shorten" %>
            </div>
          <% end %>
        </li>

        <li class="col nav-item px-0 text-center">
          <%= link_to "/works/#{ENV.fetch('ANNICT_CURRENT_SEASON')}", class: "text-dark" do %>
            <i class="fal fa-tv"></i>

            <div class="small mt-1">
              <%= t "noun.airing" %>
            </div>
          <% end %>
        </li>
      <% else %>
        <li class="col nav-item px-0 text-center">
          <%= link_to "/works/#{ENV.fetch('ANNICT_CURRENT_SEASON')}", class: "text-dark" do %>
            <i class="fal fa-tv"></i>

            <div class="small mt-1">
              <%= t "noun.airing" %>
            </div>
          <% end %>
        </li>

        <li class="col nav-item px-0 text-center">
          <%= link_to "/sign_up", class: "text-dark" do %>
            <i class="fal fa-rocket"></i>

            <div class="small mt-1">
              <%= t "noun.sign_up_shorten" %>
            </div>
          <% end %>
        </li>

        <li class="col nav-item px-0 text-center">
          <%= link_to "/about", class: "text-dark" do %>
            <i class="fal fa-lightbulb"></i>

            <div class="small mt-1">
              <%= t "noun.about" %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
