<tr
  class="c-trackable-episode-table-row"
  data-controller="trackable-episode-table-row"
  data-target="bulk-track-episodes.episodeRow"
  data-trackable-episode-table-row-episode-id="<%= @episode_entity.id %>"
  data-trackable-episode-table-row-tracked="<%= @episode_entity.viewer_did_track_in_current_status %>"
>
  <td class="align-middle">
    <%= content %>
  </td>
  <td class="align-middle text-right">
    <button
      class="btn btn-outline-secondary"
      data-controller="episode-record-button"
      data-episode-record-button-episode-id="<%= @episode_entity.id %>"
      data-action="click->episode-record-button#track"
    >
      <i class="fal fa-check"></i>
    </button>

    <button
      class="btn btn-outline-secondary c-bulk-track-episode-button"
      data-action="click->bulk-track-episodes#trackEpisodes"
      data-episode-id="<%= @episode_entity.id %>"
      <%= @episode_entity.viewer_did_track_in_current_status ? 'disabled' : '' %>
    >
      <span class="fa-layers">
        <i class="fal fa-check"></i>
        <i class="fal fa-arrow-to-bottom" data-fa-transform="down-8 right-8 shrink-3"></i>
      </span>
    </button>

    <button
      class="btn btn-outline-secondary"
      data-controller="skip-episode-record-button"
      data-skip-episode-record-button-episode-id="<%= @episode_entity.id %>"
      data-action="click->skip-episode-record-button#skip"
    >
      <i class="fal fa-eye-slash"></i>
    </button>
  </td>
</tr>
