<tr
  class="c-trackable-episode-table-row <%= class_name %>"
  data-controller="trackable-episode-table-row"
  data-trackable-episode-table-row-episode-id="<%= @episode_entity.id %>"
>
  <td class="align-middle">
    <%= content %>
  </td>
  <td class="align-middle text-right">
    <button
      class="btn btn-outline-secondary"
      data-controller="episode-record-button"
      data-episode-record-button-episode-id="<%= @episode_entity.id %>"
      data-action="click->episode-record-button#track"
    >
      <i class="fal fa-check"></i>
    </button>

    <button
      class="btn btn-outline-secondary"
      data-controller="skip-episode-record-button"
      data-skip-episode-record-button-episode-id="<%= @episode_entity.id %>"
      data-action="click->skip-episode-record-button#skip"
    >
      <span class="fa-layers">
        <i class="fal fa-check"></i>
        <i class="fal fa-arrow-down" data-fa-transform="down-8 right-8 shrink-5"></i>
      </span>
    </button>

    <button
      class="btn btn-outline-secondary"
      data-controller="skip-episode-record-button"
      data-skip-episode-record-button-episode-id="<%= @episode_entity.id %>"
      data-action="click->skip-episode-record-button#skip"
    >
      <i class="fal fa-eye-slash"></i>
    </button>
  </td>
</tr>
