<div class="c-timeline__work-record-activity">
  <div class="row mb-2">
    <div class="col-auto pr-0">
      <%= link_to user_path(activity_group.user.username) do %>
        <%= render ProfileImageComponent.new(
            image_url_1x: activity_group.user.avatar_url,
            alt: "@#{activity_group.user.username}"
        ) %>
      <% end %>
    </div>

    <div class="col">
      <span class="c-timeline__user-name">
        <%= link_to activity_group.user.name, user_path(activity_group.user.username), class: "text-body font-weight-bold u-link" %>
      </span>

      <small class="mr-1">
        <%= t "messages._components.activities.work_record.created" %>
      </small>

      <c-relative-time class="small text-muted" time="<%= activity_group.created_at %>"></c-relative-time>
    </div>
  </div>

  <% if activity_group.single %>
    <div>
      <% if work_records.first.rating_overall_state %>
        <c-rating-label class="mb-1" init-kind="<%= work_records.first.rating_overall_state.downcase %>"></c-rating-label>
      <% end %>

      <%= work_records.first.body_html.html_safe %>
    </div>
  <% end %>

  <% work_records.each do |work_record| %>
    <div class="card col-11 col-lg-10 mb-2 px-0">
      <div class="card-body p-2">
        <div class="row">
          <div class="col-auto pr-0">
            <%= link_to work_path(work_record.work.id) do %>
              <%= render WorkImageComponent.new(
                  image_url_1x: work_record.work.image_url_1x,
                  image_url_2x: work_record.work.image_url_2x,
                  alt: work_record.work.local_title
              ) %>
            <% end %>
          </div>

          <div class="col">
            <div class="mb-1">
              <%= link_to work_record.work.local_title, work_path(work_record.work.id), class: "d-block" %>
            </div>

            <c-status-selector :work-id="<%= work_record.work.id %>" page-category="user-home" class="c-status-selector--small"></c-status-selector>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <c-like-button
        :init-likes-count="<%= work_record.likes_count %>"
        :is-signed-in="true"
        :resource-id="<%= work_record.id %>"
        class="u-fake-link mr-3"
        page-category="user-home"
        resource-name="WorkRecord"
      ></c-like-button>
    </div>
  <% end %>
</div>
