<% work_records.each do |work_record| %>
  <div class="card col-11 col-lg-10 mb-2 px-0">
    <div class="card-body p-2">
      <div class="row">
        <div class="col-auto pr-0">
          <%= link_to work_path(work_record.work.id) do %>
            <%= render WorkImageComponent.new(
                image_url_1x: work_record.work.image_url_1x,
                image_url_2x: work_record.work.image_url_2x,
                alt: work_record.work.local_title
            ) %>
          <% end %>
        </div>

        <div class="col">
          <div class="mb-1">
            <%= link_to work_record.work.local_title, work_path(work_record.work.id), class: "d-block" %>
          </div>

          <c-status-selector :work-id="<%= work_record.work.id %>" page-category="user-home" class="c-status-selector--small"></c-status-selector>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <c-like-button
      :init-likes-count="<%= work_record.likes_count %>"
      :is-signed-in="true"
      :resource-id="<%= work_record.id %>"
      class="u-fake-link mr-3"
      page-category="user-home"
      resource-name="WorkRecord"
    ></c-like-button>
  </div>
<% end %>
