<div class="c-subnav c-subnav--transparent">
  <%= link_to work_path(work.id), class: "c-subnav__link #{'c-subnav__link--active' if page_category == 'work_detail'}" do %>
    <div class="c-subnav__item">
      <%= t "noun.detail" %>
    </div>
  <% end %>

  <% unless work.is_no_episodes %>
    <%= link_to work_episodes_path(work.id), class: "c-subnav__link #{'c-subnav__link--active' if page_category == 'episode_list'}" do %>
      <div class="c-subnav__item">
        <%= t "noun.episodes" %>
      </div>
    <% end %>
  <% end %>

  <%= link_to work_records_path(work.id), class: "c-subnav__link #{'c-subnav__link--active' if page_category == 'work_record_list'}" do %>
    <div class="c-subnav__item">
      <%= t "noun.records" %>
    </div>
  <% end %>
</div>
