<% work_records.each do |work_record| %>
  <div class="card col-11 col-lg-10 mb-2 px-0">
    <div class="card-body p-2">
      <div class="row">
        <div class="col-auto pr-0">
          <%= link_to work_path(work_record.work.id) do %>
            <%= render WorkImageComponent.new(
                image_url_1x: work_record.work.image_url_1x,
                image_url_2x: work_record.work.image_url_2x,
                alt: work_record.work.local_title
            ) %>
          <% end %>
        </div>

        <div class="col">
          <div class="mb-1">
            <%= link_to work_record.work.local_title, work_path(work_record.work.id), class: "d-block" %>
          </div>

          <%= render StatusSelectorComponent.new(work_id: work_record.work.id, page_category: "user-home", small: true) %>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= render LikeButtonComponent.new(
      resource_name: "WorkRecord",
      resource_id: work_record.id,
      likes_count: work_record.likes_count,
      page_category: "user-home",
      class_name: "mr-3"
    ) %>
  </div>
<% end %>
