<div class="c-work-record-content c-record-content">
  <% if work_record_entity.rating_overall_state || work_record_entity.body.present? %>
    <%= render SpoilerGuardComponent.new(work_id: work_entity.database_id) do %>
      <div class="c-record-content__wrapper mb-3 row">
        <div class="col-12 col-xl-4 order-1 order-xl-2">
          <% if work_record_entity.rating_overall_state %>
            <div class="mb-3 mb-xl-0 p-3 rounded u-bg-black-000">
              <div class="small font-weight-bold text-center mb-2">
                <%= t "noun.rating" %>
              </div>
              <% if work_record_entity.rating_animation_state %>
                <div class="row">
                  <div class="col">
                    <%= t "noun.animation" %>
                  </div>
                  <div class="col pl-0 text-right">
                    <%= render RatingLabelComponent.new(kind: work_record_entity.rating_animation_state) %>
                  </div>
                </div>
              <% end %>
              <% if work_record_entity.rating_music_state %>
                <div class="row">
                  <div class="col">
                    <%= t "noun.music" %>
                  </div>
                  <div class="col pl-0 text-right">
                    <%= render RatingLabelComponent.new(kind: work_record_entity.rating_music_state) %>
                  </div>
                </div>
              <% end %>
              <% if work_record_entity.rating_story_state %>
                <div class="row">
                  <div class="col">
                    <%= t "noun.story" %>
                  </div>
                  <div class="col pl-0 text-right">
                    <%= render RatingLabelComponent.new(kind: work_record_entity.rating_story_state) %>
                  </div>
                </div>
              <% end %>
              <% if work_record_entity.rating_character_state %>
                <div class="row">
                  <div class="col">
                    <%= t "noun.character" %>
                  </div>
                  <div class="col pl-0 text-right">
                    <%= render RatingLabelComponent.new(kind: work_record_entity.rating_character_state) %>
                  </div>
                </div>
              <% end %>
              <% if work_record_entity.rating_overall_state %>
                <div class="row">
                  <div class="col">
                    <%= t "noun.overall" %>
                  </div>
                  <div class="col pl-0 text-right">
                    <%= render RatingLabelComponent.new(kind: work_record_entity.rating_overall_state) %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="col-12 col-xl-8 order-2 order-xl-1">
          <%= render BodyComponent.new(height: 300, class_name: "mb-3") do %>
            <%= work_record_entity.body %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render WorkRecordCardComponent.new(work_entity: work_entity, work_record_entity: work_record_entity) %>

  <%= render WorkRecordFooterComponent.new(user_entity: user_entity, record_entity: record_entity, work_record_entity: work_record_entity) %>
</div>
