<% title = t "head.title.sign_in.new" %>
<% description = meta_description t("head.meta.description.sign_in.new") %>
<% set_meta_tags(title: title, description: description, og: { description: description }, twitter: { description: description }, reverse: true, prefix: false) %>

<%= content_for :head_vendor_assets do %>
  <%= render "application/recaptcha", recaptcha: @recaptcha %>
<% end %>

<div class="container">
  <div class="justify-content-center row">
    <div class="col-12 col-lg-6 py-5">
      <div class="mb-5 text-center">
        <%= link_to root_path do %>
          <%= image_tag "logos/color-mizuho.png", size: "50x61", alt: "Annict" %>
        <% end %>
      </div>

      <div class="c-sign-upin-form px-3 mb-3">
        <h1 class="my-5 text-center">
          <%= t "messages._common.welcome_back" %>
        </h1>

        <p class="mb-5 text-center">
          <%= t "messages.sign_in.new.description_html" %>
        </p>

        <%= form_with(
          model: @form,
          url: internal_api_sign_in_path,
          html: { class: "mb-5" },
          data: {
            controller: "forms--basic-form",
            action: "turbo:submit-start->forms--basic-form#handleSubmitStart turbo:submit-end->forms--basic-form#handleSubmitEnd",
            "forms--basic-form-target": "form"
          }
        ) do |f| %>
          <%= ErrorPanelV6Component.new(self, stimulus_controller: "forms--basic-form").render %>

          <% if @recaptcha.enabled? %>
            <%= Inputs::RecaptchaInputComponent.new(self, recaptcha: @recaptcha).render %>
          <% end %>

          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "hello@annict.com", required: true, tabindex: 1 %>
          </div>

          <div class="text-center">
            <%= f.button class: "btn btn-primary", data: { "forms--basic-form-target": "submitButton" }, tabindex: 2, type: :submit do %>
              <i class="far fa-rocket me-1"></i>
              <%= t("verb.send") %>
            <% end %>
          </div>
        <% end %>

        <div class="mb-5 text-muted text-center">
          <%= t "noun.or" %>
        </div>

        <% if !@oauth_app || !@oauth_app.hide_social_login? %>
          <div class="mb-3 text-center">
            <%= button_to user_twitter_omniauth_authorize_path, class: "btn d-inline-flex justify-content-between u-btn-twitter", data: { turbo: "false" } do %>
              <span class="col-1 px-0">
                <i class="fab fa-twitter"></i>
              </span>

              <span class="col">
                <%= t "messages.registrations.new.start_with_twitter" %>
              </span>
            <% end %>
          </div>

          <div class="mb-3 text-center">
            <%= button_to user_facebook_omniauth_authorize_path, class: "btn d-inline-flex justify-content-between u-btn-facebook", data: { turbo: "false" } do %>
                <span class="col-1 px-0">
                  <i class="fab fa-facebook"></i>
                </span>

              <span class="col">
                  <%= t "messages.registrations.new.start_with_facebook" %>
                </span>
            <% end %>
          </div>
        <% end %>

        <div class="mb-5 text-center">
          <%= link_to legacy_sign_in_path, class: "btn btn-light d-inline-flex justify-content-between" do %>
              <span class="col-1 px-0">
                <i class="far fa-key"></i>
              </span>

            <span class="col">
                <%= t "head.title.legacy_sign_in.new" %>
              </span>
          <% end %>
        </div>
      </div>

      <div class="small text-center">
        <%= t "messages.sign_in.new.sign_up_link_html", link: link_to(t("noun.sign_up"), sign_up_path) %>
      </div>
    </div>
  </div>
</div>
