<% title = t "head.title.sign_in.new" %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container">
  <div class="justify-content-center row">
    <div class="col-12 col-lg-6 py-5">
      <div class="mb-5 text-center">
        <%= link_to root_path do %>
          <%= image_tag "logos/color-mizuho.png", size: "50x61", alt: "Annict" %>
        <% end %>
      </div>

      <div class="c-sign-up-form px-3 mb-3">
        <h1 class="my-5 text-center">
          <%= t "noun.sign_in" %>
        </h1>

        <p class="mb-5 text-center">
          <%= @message %>
        </p>
      </div>

      <div class="text-center">
        <%= link_to(t("noun.sign_in"), sign_in_path, class: "btn btn-primary") %>
      </div>
    </div>
  </div>
</div>
