<%= form_with model: @form, url: anime_record_list_path(anime_id: params[:anime_id]), method: form_method do |f| %>
  <%= render ErrorPanelComponent.new(form: f.object) %>

  <% if @form.persisted? %>
    <%= f.hidden_field :record_id %>
  <% else %>
    <%= f.hidden_field :anime_id %>
  <% end %>

  <div class="form-row">
    <% WorkRecord::RATING_FIELDS.each do |rating_field| %>
      <div class="col-md-6 mb-3">
        <%= f.label rating_field %>
        <%= render ButtonGroups::RecordRatingButtonGroupComponent.new(form: f, rating_field: rating_field) %>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= render Forms::RecordTextareaComponent.new(form: f, optional_textarea_classname: "form-control", textarea_name: "anime_record_form[comment]") %>
  </div>

  <div class="row">
    <div class="col">
      <% if @viewer&.authorized_to?(:twitter, shareable: true) %>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.check_box :share_to_twitter, class: "form-check-input", checked: @viewer.share_record_to_twitter? %>
            <%= t "messages._common.share_to_twitter" %>
          </label>
        </div>
      <% end %>
    </div>

    <div class="col">
      <div class="text-center">
        <%= f.button class: "btn btn-primary" do %>
          <i class="far fa-edit me-1"></i>
          <% if f.object.persisted? %>
            <%= t "verb.update" %>
          <% else %>
            <%= t "verb.track" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col"></div>
  </div>
<% end %>
