<% title = t "head.title.db.people.edit", name: @person.name %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container py-3">
  <div class="align-items-center row">
    <div class="col">
      <h1>
        <%= title %>
      </h1>
    </div>

    <div class="col-auto">
      <%= link_to person_path(@person), class: "btn btn-outline-primary", target: "_blank" do %>
        <%= icon "external-link-alt" %>
        <%= t("resources.person.go_to_person") %>
      <% end %>
    </div>
  </div>

  <div class="gx-3 row mt-3">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <%= form_with model: @person, url: db_person_detail_path(@person), method: :patch do |f| %>
            <%= render "application/components/error_panel", resource: f.object %>

            <div class="mb-3">
              <%= f.label :name, class: "c-label-required" %>
              <%= f.text_field :name, class: "form-control", autofocus: true, required: true %>
            </div>

            <div class="mb-3">
              <%= f.label :name_kana %>
              <%= f.text_field :name_kana, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :name_en %>
              <%= f.text_field :name_en, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :nickname %>
              <%= f.text_field :nickname, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :nickname_en %>
              <%= f.text_field :nickname_en, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :gender %>
              <%= f.select(
                :gender,
                options_for_select(Person.gender.options, f.object.gender),
                { include_blank: true },
                { class: "form-select" }
              ) %>
            </div>

            <div class="mb-3">
              <%= f.label :blood_type %>
              <%= f.select(
                :blood_type,
                options_for_select(Person.blood_type.options, f.object.blood_type),
                { include_blank: true },
                { class: "form-select" }
              ) %>
            </div>

            <div class="mb-3">
              <%= f.label :prefecture_id %>
              <%= f.select(
                :prefecture_id,
                options_from_collection_for_select(Prefecture.all, :id, :name, f.object.prefecture_id),
                { include_blank: true },
                { class: "form-select" }
              ) %>
            </div>

            <div class="mb-3">
              <%= f.label :birthday %>
              <%= f.date_field :birthday, class: "form-control", placeholder: "例: 1990-01-01" %>
            </div>

            <div class="mb-3">
              <%= f.label :height %>
              <div class="input-group">
                <%= f.number_field :height, class: "form-control" %>
                <div class="input-group-append">
                  <div class="input-group-text">cm</div>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <%= f.label :url %>
              <%= f.url_field :url, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :url_en %>
              <%= f.url_field :url_en, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :wikipedia_url %>
              <%= f.url_field :wikipedia_url, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :wikipedia_url_en %>
              <%= f.url_field :wikipedia_url_en, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :twitter_username %>
              <%= f.text_field :twitter_username, class: "form-control", placeholder: t("resources.person.twitter_hashtag_placeholder") %>
            </div>

            <div class="mb-3">
              <%= f.label :twitter_username_en %>
              <%= f.text_field :twitter_username_en, class: "form-control", placeholder: t("resources.person.twitter_hashtag_placeholder") %>
            </div>

            <%= f.submit class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-6">
      <%= render "sidebar_edit" %>
    </div>
  </div>
</div>
