<turbo-frame id="my-episode-record-list">
  <div class="mb-3">
    <h3 class="font-weight-bold mb-3">
      <%= t "noun.my_records" %>
    </h3>

    <% if user_signed_in? %>
      <%= Lists::RecordListComponent2.new(self, records: @my_records, current_user: current_user, show_card: false).render %>
    <% end %>
  </div>

  <hr class="mb-5">

  <div class="mb-3">
    <h3 class="font-weight-bold mb-3">
      <%= t "noun.following_records" %>
    </h3>

    <% if user_signed_in? %>
      <%= Lists::RecordListComponent2.new(self, records: @following_records, current_user: current_user, show_card: false).render %>
    <% end %>
  </div>

  <hr class="mb-5">

  <div class="mb-3">
    <h3 class="font-weight-bold mb-3">
      <%= t "noun.other_comments" %>
    </h3>

    <%= Lists::RecordListComponent2.new(self, records: @all_records, current_user: current_user, show_card: false).render %>
  </div>
</div>
