<% title = t "head.title.works.show", title: @work.local_title %>
<% description = meta_description(t("head.meta.description.works.show", title: @work.local_title)) %>
<% image_url = ann_work_image_url(@work, width: 640, format: :jpg) %>
<% set_meta_tags(title: title, description: description, og: { description: description, image: image_url }, twitter: { description: description, image: image_url }, reverse: true, prefix: false) %>

<%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path, method: :post, payload: {work_ids: [@work.id]}) %>
<%= component_value_fetcher_tag("like-button", internal_api_like_list_path) %>
<%= component_value_fetcher_tag("spoiler-guard", internal_api_spoiler_guard_path) %>

<%= Headers::WorkHeaderComponent.new(self, work: @work, programs: @programs).render %>

<%= AdsenseComponent.new(self, slot: ENV["GOOGLE_AD_SLOT_ON_WORK"]).render %>

<% if @trailers.present? %>
  <div class="container mt-5">
    <div class="d-flex justify-content-between">
      <h2 class="fw-bold h3 mb-3">
        <%= t "noun.videos" %>
      </h2>

      <% if @trailers.size > 4 %>
        <div>
          <%= link_to "#" do %>
            <i class="far fa-angle-right me-1"></i>
            <%= t("verb.view_all") %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container u-container-flat">
    <div class="card u-card-flat">
      <div class="card-body">
        <div class="gx-3 row">
          <% @trailers.first(4).each do |trailer| %>
            <div class="col-md-3 col-6 text-center">
              <%= link_to trailer.url, rel: "noopener", target: "_blank" do %>
                <div class="c-video-thumbnail">
                  <div class="c-video-thumbnail__image" style="background-image: url(<%= ann_video_image_url(trailer, width: 300) %>);"></div>
                  <i class="far fa-play-circle"></i>
                </div>

                <div class="mt-1 small text-body">
                  <%= trailer.title %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @work.local_synopsis.present? %>
  <div class="container mt-5">
    <h2 class="fw-bold h3 mb-3">
      <%= t "activerecord.attributes.work.synopsis" %>
    </h2>
  </div>

  <div class="container u-container-flat">
    <div class="card u-card-flat">
      <div class="card-body">
        <%= BodyV6Component.new(self, content: @work.local_synopsis(raw: true), format: :simple, height: 150).render %>

        <div class="text-end text-muted u-very-small">
          <%= t "noun.source" %>: <%= @work.local_synopsis_source %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% unless @work.no_episodes? %>
  <div class="container mt-5">
    <div class="d-flex justify-content-between">
      <h2 class="fw-bold h3 mb-3">
        <%= t "noun.episodes" %>
      </h2>

      <% if @episodes.present? && @episodes.size > 28 %>
        <div>
          <%= link_to episode_list_path(@work) do %>
            <i class="far fa-angle-right me-1"></i>
            <%= t("verb.view_all") %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container u-container-flat">
    <div class="card u-card-flat">
      <div class="card-body">
        <% if @episodes.present? %>
          <div class="g-3 row">
            <% @episodes.first(28).each do |episode| %>
              <div class="col-6 col-sm-3">
                <%= link_to episode_path(@work, episode), class: "btn p-0 text-start u-fake-link" do %>
                  <%= episode.local_number %>

                  <div class="small text-body">
                    <%= episode.local_title %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= EmptyV6Component.new(self, text: t("messages._empty.no_episodes")).render %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <h2 class="fw-bold h3 mb-0">
      <%= t "noun.record_body_list" %>
    </h2>

    <% if @records.present? && @records.size > 10 %>
      <div>
        <%= link_to work_record_list_path(@work) do %>
          <i class="far fa-angle-right me-1"></i>
          <%= t("verb.view_all") %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="container u-container-flat">
  <%= Lists::RecordListComponent.new(self, records: @records, show_box: false, show_options: false, empty_text: :no_comments).render %>
</div>
