<% title = t "head.title.records.index", profile_name: @user.name, username: @user.username %>
<% description = meta_description t("head.meta.description.records.index", profile_name: @user.name, username: @user.username) %>
<% image_url = v6_ann_image_url(@profile, :image, height: 200, width: 200, format: "jpg") %>
<% set_meta_tags(title: title, description: description, og: { description: description, image: image_url }, twitter: { description: description, image: image_url }, reverse: true, prefix: false) %>

<%= component_value_fetcher_tag("follow-button", internal_api_following_list_path) %>
<%= component_value_fetcher_tag("mute-user-button", internal_api_muted_user_list_path) %>
<%= component_value_fetcher_tag("status-selector", internal_api_library_entry_list_path(anime_ids: @anime_ids)) %>

<div class="container py-3">
  <%= V6::Headers::ProfileHeaderComponent.new(self, user: @user, current_user: current_user, params: params).render %>

  <div class="row">
    <div class="col-12 col-lg-9">
      <%= V6::Lists::RecordListComponent.new(self, records: @records).render %>
    </div>

    <div class="col-12 col-lg-3 py-3">
      <%= V6::ListGroups::RecordMonthListGroupComponent.new(
        self,
        user: @user,
        months: @months,
        controller_name: params[:controller],
        current_month: params[:month]
      ).render %>
    </div>
  </div>
</div>
