<turbo-frame id="c-tracking-offcanvas-frame">
  <%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path, method: :post, payload: {work_ids: [@work.id]}) %>
  <%= component_value_fetcher_tag("like-button", internal_api_like_list_path) %>
  <%= component_value_fetcher_tag("spoiler-guard", internal_api_spoiler_guard_path) %>

  <div class="offcanvas-body pt-0 px-0">
    <div class="container">
      <div class="gx-3 row">
        <div class="col-auto">
          <%= link_to work_path(@work.id) do %>
            <%= render Pictures::WorkPictureComponent.new(work: @work, width: 100) %>
          <% end %>

          <div class="mt-2 text-center">
            <%= ButtonGroups::WorkButtonGroupComponent.new(self, work: @work, show_option_button: false).render %>
          </div>
        </div>

        <div class="col">
          <%= link_to fragment_trackable_work_path(@work.id), class: "small" do %>
            <i class="far fa-angle-left"></i>
            <span class="ps-1">
              <%= @episode.work.local_title %>
            </span>
          <% end %>

          <h3 class="fw-bold mb-0 mt-2">
            <%= @episode.title_with_number %>
          </h3>

          <%= ButtonGroups::EpisodeTransitionButtonGroupComponent.new(
            self,
            episode: @episode,
            path: :fragment_trackable_episode_path,
            button_style: false,
            class_name: "mt-2 small"
          ).render %>

          <ul class="list-inline mt-2 small">
            <li class="list-inline-item">
              <%= link_to work_path(@work.id), data: { "turbo-frame": "_top" } do %>
                <%= t("noun.work_detail_page") %>
                <i class="far fa-angle-right ms-1"></i>
              <% end %>
            </li>

            <li class="list-inline-item mt-1 mt-sm-0">
              <%= link_to episode_path(@work.id, @episode.id), data: { "turbo-frame": "_top" } do %>
                <%= t("noun.episode_page") %>
                <i class="far fa-angle-right ms-1"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container mt-3 u-container-flat">
      <div class="card u-card-flat">
        <div class="card-body">
          <%= Forms::EpisodeRecordFormComponent.new(self, form: @form).render %>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <div
        data-controller="reloadable"
        data-reloadable-event-name-value="episode-record-list-group"
        data-reloadable-url-value="<%= fragment_episode_record_list_path(@episode.id, page: params[:page]) %>"
      >
        <%= ListGroups::RecordListGroupComponent.new(self, my_records: @my_records, following_records: @following_records, all_records: @all_records).render %>
      </div>
    </div>
  </div>
</turbo-frame>
