<turbo-frame id="c-tracking-offcanvas-frame">
  <%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path, method: :post, payload: {work_ids: [@work.id]}) %>

  <div class="offcanvas-body pt-0 px-0">
    <div class="container">
      <div class="gx-3 row">
        <div class="col-auto">
          <%= link_to work_path(@work.id) do %>
            <%= render Pictures::WorkPictureComponent.new(work: @work, width: 100) %>
          <% end %>

          <div class="mt-2 text-center">
            <%= ButtonGroups::WorkButtonGroupComponent.new(self, work: @work, show_option_button: false).render %>
          </div>
        </div>

        <div class="col">
          <h3 class="fw-bold mb-0">
            <%= @work.local_title %>
          </h3>

          <ul class="list-inline mt-2 small">
            <li class="list-inline-item">
              <%= link_to work_path(@work.id), data: { "turbo-frame": "_top" } do %>
                <%= t("noun.work_detail_page") %>
                <i class="far fa-angle-right ms-1"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <div class="mt-5">
        <h4 class="fw-bold">
          <%= t "noun.programs" %>
        </h4>

        <div>
          <% if @programs.present? %>
            <%= Radios::ProgramSelectRadioComponent.new(self, library_entry: @library_entry, programs: @programs).render %>
          <% else %>
            <%= t "messages._empty.no_programs" %>
          <% end %>
        </div>
      </div>

      <div class="mt-5">
        <h4 class="fw-bold">
          <%= t "noun.collections" %>
        </h4>

        <turbo-frame id="c-new-collection-item" loading="lazy" src="<%= fragment_new_collection_item_path(@work) %>"></turbo-frame>
      </div>

      <div class="mt-5">
        <h4 class="fw-bold">
          <%= t "noun.note_alt" %>
        </h4>

        <turbo-frame id="c-note-form" loading="lazy" src="<%= fragment_edit_note_path(@work) %>"></turbo-frame>
      </div>
    </div>

    <div class="container mt-5">
      <h4 class="fw-bold">
        <%= t "noun.untracked_episodes" %>
      </h4>
    </div>

    <div class="container u-container-flat">
      <% if @episodes.present? %>
        <div class="card u-card-flat">
          <ul class="c-tracking-episode-list-group list-group list-group-flush">
            <% @episodes.each do |episode| %>
              <li class="list-group-item py-3" data-episode-id="<%= episode.id %>">
                <div class="c-tracking-state__title col">
                  <%= link_to fragment_trackable_episode_path(episode.id), class: "text-body" do %>
                    <i class="far fa-chevron-right me-1 text-muted"></i>
                    <%= episode.title_with_number %>
                  <% end %>
                </div>

                <div class="align-items-center gx-3 justify-content-center mt-3 row">
                  <div class="col-auto">
                    <%= Buttons::WatchEpisodeButtonComponent.new(
                      self, episode_id: episode.id, button_text: t("verb.track"), class_name: "btn-sm btn-outline-info rounded-3 w-100"
                    ).render %>
                  </div>

                  <div class="col-auto">
                  <%= Buttons::BulkWatchEpisodesButtonComponent.new(
                      self, episode_id: episode.id, button_text: t("verb.bulk_watch_up_to_shorten"), class_name: "btn-sm btn-outline-info rounded-3 w-100"
                    ).render %>
                  </div>

                  <div class="col-auto">
                    <%= Buttons::SkipEpisodeButtonComponent.new(
                      self, episode_id: episode.id, button_text: t("verb.skip_shorten"), class_name: "btn-sm btn-outline-secondary rounded-3 w-100"
                    ).render %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="mt-3 text-center">
          <%= ButtonGroups::PaginationButtonGroupComponent.new(self, collection: @episodes).render %>
        </div>
      <% else %>
        <div class="card u-card-flat">
          <div class="card-body">
            <%= EmptyV6Component.new(self, text: t("messages.tracks.no_trackable_episodes")).render %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>
