<%= form_with model: model, url: form_url, method: form_method, local: true do |f| %>
  <%= render "application/components/error_panel", resource: f.object %>

  <div class="form-group">
    <%= f.label :name, class: "c-label-required" %>
    <%= f.text_field :name, autofocus: true, class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :name_alter %>
    <%= f.text_field :name_alter, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name_en %>
    <%= f.text_field :name_en, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name_alter_en %>
    <%= f.text_field :name_alter_en, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
