<%= form_with model: model, url: form_url, method: form_method do |f| %>
  <%= render "application/components/error_panel", resource: f.object %>

  <div class="mb-3">
    <%= f.label :title, class: "c-label-required" %>
    <%= f.text_field :title, class: "form-control", autofocus: true, required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :title_kana %>
    <%= f.text_field :title_kana, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :title_alter %>
    <%= f.text_field :title_alter, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :title_en %>
    <%= f.text_field :title_en, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :title_alter_en %>
    <%= f.text_field :title_alter_en, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :media, class: "c-label-required" %>
    <%= f.select(
      :media,
      options_for_select(Anime.media.options, f.object.media),
      { include_blank: true },
      { class: "form-select", required: true }
    ) %>
  </div>

  <div class="mb-3">
    <%= f.label :season_year %>
    <%= f.select(
      :season_year,
      options_for_select(Season::YEAR_LIST.to_a.reverse, f.object.season_year),
      { include_blank: true },
      { class: "form-select" }
    ) %>
  </div>

  <div class="mb-3">
    <%= f.label :season_name %>
    <%= f.select(
      :season_name,
      options_for_select(Season::NAME_HASH.map { |h| [t("noun.#{h[0]}"), h[1]] }, f.object.season_name&.value),
      { include_blank: true },
      { class: "form-select" }
    ) %>
  </div>

  <div class="mb-3">
    <%= f.label :started_on %>
    <%= f.text_field(
      :started_on,
      class: "form-control",
      placeholder: t("resources.work.started_on_eg"),
      value: f.object.started_on&.in_time_zone(current_user.time_zone)&.strftime("%Y-%m-%d")
    ) %>
  </div>

  <div class="mb-3">
    <%= f.label :ended_on %>
    <%= f.text_field(
      :ended_on,
      class: "form-control",
      placeholder: t("resources.work.started_on_eg"),
      value: f.object.ended_on&.in_time_zone(current_user.time_zone)&.strftime("%Y-%m-%d")
    ) %>
  </div>

  <div class="mb-3">
    <%= f.label :official_site_url do %>
      <%= t "activerecord.attributes.anime.official_site_url" %>
      <% if f.object.official_site_url.present? %>
        <%= link_to f.object.official_site_url, class: "ms-2", target: "_blank", rel: "noopener" do %>
          <%= icon "external-link-alt" %>
        <% end %>
      <% end %>
    <% end %>
    <%= f.text_field :official_site_url, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :official_site_url_en do %>
      <%= t "activerecord.attributes.anime.official_site_url_en" %>
      <% if f.object.official_site_url_en.present? %>
        <%= link_to f.object.official_site_url_en, class: "ms-2", target: "_blank", rel: "noopener" do %>
          <%= icon "external-link-alt" %>
        <% end %>
      <% end %>
    <% end %>
    <%= f.text_field :official_site_url_en, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :wikipedia_url do %>
      <%= t "activerecord.attributes.anime.wikipedia_url" %>
      <% if f.object.wikipedia_url.present? %>
        <%= link_to f.object.wikipedia_url, class: "ms-2", target: "_blank", rel: "noopener" do %>
          <%= icon "external-link-alt" %>
        <% end %>
      <% end %>
    <% end %>
    <%= f.text_field :wikipedia_url, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :wikipedia_url_en do %>
      <%= t "activerecord.attributes.anime.wikipedia_url_en" %>
      <% if f.object.wikipedia_url_en.present? %>
        <%= link_to f.object.wikipedia_url_en, class: "ms-2", target: "_blank", rel: "noopener" do %>
          <%= icon "external-link-alt" %>
        <% end %>
      <% end %>
    <% end %>
    <%= f.text_field :wikipedia_url_en, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :twitter_username do %>
      <%= t "activerecord.attributes.anime.twitter_username" %>
      <% if f.object.twitter_username.present? %>
        <%= link_to f.object.twitter_username_url, class: "ms-2", target: "_blank", rel: "noopener" do %>
          <%= icon "external-link-alt" %>
        <% end %>
      <% end %>
    <% end %>
    <%= f.text_field :twitter_username, class: "form-control", placeholder: t("resources.work.twitter_username_placeholder") %>
  </div>

  <div class="mb-3">
    <%= f.label :twitter_hashtag do %>
      <%= t "activerecord.attributes.anime.twitter_hashtag" %>
      <% if f.object.twitter_hashtag.present? %>
        <%= link_to f.object.twitter_hashtag_url, class: "ms-2", target: "_blank", rel: "noopener" do %>
          <%= icon "external-link-alt" %>
        <% end %>
      <% end %>
    <% end %>
    <%= f.text_field :twitter_hashtag, class: "form-control", placeholder: t("resources.work.twitter_hashtag_placeholder") %>
  </div>

  <div class="mb-3">
    <%= f.label :sc_tid do %>
      <%= t "activerecord.attributes.anime.sc_tid" %>
      <% if f.object.sc_tid.present? %>
        <%= link_to f.object.syobocal_url, class: "ms-2", target: "_blank", rel: "noopener" do %>
          <%= icon "external-link-alt" %>
        <% end %>
      <% end %>
    <% end %>
    <%= f.text_field :sc_tid, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :mal_anime_id do %>
      <%= t "activerecord.attributes.anime.mal_anime_id" %>
      <% if f.object.mal_anime_id.present? %>
        <%= link_to f.object.mal_anime_url, class: "ms-2", target: "_blank", rel: "noopener" do %>
          <%= icon "external-link-alt" %>
        <% end %>
      <% end %>
    <% end %>
    <%= f.text_field :mal_anime_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :synopsis %>
    <%= f.text_area :synopsis, class: "form-control", rows: 10 %>
  </div>

  <div class="mb-3">
    <%= f.label :synopsis_source %>
    <%= f.text_field :synopsis_source, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :synopsis_en %>
    <%= f.text_area :synopsis_en, class: "form-control", rows: 10 %>
  </div>

  <div class="mb-3">
    <%= f.label :synopsis_source_en %>
    <%= f.text_field :synopsis_source_en, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :manual_episodes_count %>
    <%= f.text_field :manual_episodes_count, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :start_episode_raw_number %>
    <%= f.text_field :start_episode_raw_number, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :number_format_id %>
    <%= f.select(
      :number_format_id,
      options_from_collection_for_select(NumberFormat.order(:sort_number), :id, :name, f.object.number_format_id),
      { include_blank: true },
      { class: "form-select" }
    ) %>
  </div>

  <div class="mb-3">
    <div class="form-check">
      <%= f.label :no_episodes, class: "form-check-label" do %>
        <%= f.check_box :no_episodes, class: "form-check-input" %>
        <%= t "activerecord.attributes.anime.no_episodes" %>
      <% end %>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
