<h3>
  登録して良い作品について
</h3>

<p>
  Annictにはアニメ作品のみ登録することができます。
  例えば以下のような作品はアニメではないため、登録できません。
</p>

<ul>
  <li>
    特撮ヒーローもの
  </li>
  <li>
    声優やスタッフ本人が出演するもの
  </li>
</ul>

<p>
  また、アダルトアニメに関しては、Annictはアダルトサイトではないため、登録できません。
</p>

<hr>

<% if %w(new create).include?(params[:action]) %>
  <%= render "db/works/creation_basis" %>
<% end %>

<h3>
  「タイトル (英)」について
</h3>

<p>
  <%= link_to("MyAnimeList", "https://myanimelist.net/", target: "_blank", rel: "noopener") %>
  に作品が登録されている場合は、MyAnimeList に登録されている作品タイトルを登録します。
  基本的にはローマ字表記で登録し、もともと英語のタイトルの場合は英語で登録します。
</p>

<hr>

<h3>
  「タイトルの別名」について
</h3>

<p>
  作品の略称などの別名を入力します。
  例えば「<%= link_to("魔法少女まどか☆マギカ", "/works/2108", target: "_blank") %>」の場合、略称である「まどマギ」を入力します。
</p>

<p>
  ここに入力した内容は作品ページに表示されるだけでなく、キーワード検索の検索対象にも含まれます。
  検索したときにヒットさせたいキーワードを入力すると良いと思います。
</p>

<p>
  別名が複数あるときは半角カンマ「,」などで区切って入力してください。
</p>

<hr>

<h3>
  「リリース時期」について
</h3>

<p>
  作品が最初に放送、放映、配信、販売された時期を登録します。
</p>

<ul>
  <li>
    冬 … 1月~3月
  </li>
  <li>
    春 … 4月~6月
  </li>
  <li>
    夏 … 7月~9月
  </li>
  <li>
    秋 … 10月~12月
  </li>
</ul>

<p>
  基本的には上記の月の範囲で時期を登録しますが、例えば初回放送は3月だけど春アニメとして公式に扱われている作品がたまにあったりします。
  そのようなときは公式に準拠して春アニメとして登録します。
</p>

<hr>

<h3>
  「開始日」と「終了日」について
</h3>

<p>
  放送、放映、販売等、その作品の最速の開始日・終了日を入力して下さい。
  終了日に関しては、OVA等は空になることがあります (販売終了日が不明確なため)。
</p>

<hr>

<h3>
  「しょぼかるID」について
</h3>

<p>
  <%= link_to("しょぼいカレンダー", "http://cal.syoboi.jp/", target: "_blank", rel: "noopener") %>
  というサービスの各作品に設定されているIDを入力します。
  IDは作品詳細ページのURLに含まれています。
</p>

<p>
  例えば <%= link_to("SHIROBAKO", "http://cal.syoboi.jp/tid/3524", target: "_blank", rel: "noopener") %> の場合、
  「3524」がしょぼかるIDになります。
</p>

<hr>

<h3>
  「あらすじ」と「あらすじの引用元」について
</h3>

<p>
  あらすじを登録するときは引用元の登録もお願いします。
</p>

<hr>

<h3>
  「エピソード数」について
</h3>

<p>
  作品の総エピソード数を入力します。放送予定をもとにエピソードが自動生成されるとき、ここに入力した数字より多く生成しないようになっています。
</p>

<hr>

<h3>
  「開始話数」について
</h3>

<p>
  作品によっては初回が第1話でないことがあったりします。
  例えば2クール目の作品で初回のエピソードが第13話から始まるときは「13」と入力します。
  「13」と入力すると、放送予定データをもとにエピソードが自動生成されるとき、第13話から生成し始めます。
</p>

<hr>

<h3>
  「エピソード無し」について
</h3>

<p>
  映画や単発のOVAなどのエピソードが存在しない作品には「エピソード無し」チェックボックスへのチェックをお願いします。
  チェックを入れると作品ページに表示されていたエピソードページが表示されなくなったりします。
</p>
