<% title = t "head.title.db.works.index" %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container py-3">
  <div class="align-items-center row">
    <div class="col">
      <h1>
        <%= title %>
      </h1>
    </div>

    <div class="col-auto">
      <% if policy(Work).create? %>
        <div class="text-end">
          <%= link_to db_new_work_path, class: "btn btn-outline-primary" do %>
            <%= icon "plus" %>
            <%= t "resources._common.new" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <%= form_with url: db_work_list_path, method: :get do %>
        <div class="row mb-3">
          <div class="col-4">
            <%= label_tag :season_slugs, t("noun.release_season") %>
            <%= select_tag(
              :season_slugs,
              options_for_select(Season.list(sort: :desc).map { |s| [s.local_name, s.slug] }, @season_slugs),
              multiple: true,
              class: "form-select",
              style: "height: 150px;"
            ) %>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-md-6">
                <div class="form-check">
                  <%= check_box_tag :no_image, "1", @is_no_image %>
                  <%= label_tag :no_image, t("messages.db.works.no_image") %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-check">
                  <%= check_box_tag :no_release_season, "1", @is_no_release_season %>
                  <%= label_tag :no_release_season, t("messages.db.works.no_release_season") %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-check">
                  <%= check_box_tag :no_slots, "1", @is_no_slots %>
                  <%= label_tag :no_slots, t("messages.db.works.no_slots") %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <%= submit_tag t("verb.search"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <%= render "work_list", resources: @works %>
    </div>
  </div>

  <div class="text-center mt-3">
    <%= Deprecated::ButtonGroups::PaginationButtonGroupComponent.new(self, collection: @works).render %>
  </div>
</div>
