<table class="table table-sm">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        <%= t "activerecord.attributes.channel_group.name" %>
      </th>
      <th>
        <%= t "activerecord.attributes.channel_group.sort_number" %>
      </th>
      <th>
        <%= t "noun.state" %>
      </th>
      <th>
        <%= t "noun.actions" %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% channel_groups.each do |channel_group| %>
      <tr>
        <td>
          <%= channel_group.id %>
        </td>
        <td>
          <%= channel_group.name %>
        </td>
        <td>
          <%= channel_group.sort_number %>
        </td>
        <td>
          <%= render Db::PublishingStateLabelComponent.new(resource: channel_group) %>
        </td>
        <td>
          <%= render Db::ActionButtonsComponent.new(
              user: current_user,
              resource: channel_group,
              detail_path: db_channel_group_detail_path(channel_group),
              edit_path: db_edit_channel_group_path(channel_group),
              publishing_path: db_channel_group_publishing_path(channel_group)
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
