<% title = t "head.title.db.channel_groups.index" %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container py-3">
  <div class="align-items-center row">
    <div class="col">
      <h1>
        <%= title %>
      </h1>
    </div>

    <div class="col-auto">
      <% if policy(ChannelGroup).create? %>
        <div class="text-end">
          <%= link_to db_new_channel_group_path, class: "btn btn-outline-primary" do %>
            <%= icon "plus" %>
            <%= t "resources._common.new" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <%= render "channel_group_list", channel_groups: @channel_groups %>
    </div>
  </div>
</div>
