<% title = t "head.title.sign_up.new" %>
<% set_meta_tags title: title, reverse: true, prefix: false %>

<div class="container">
  <div class="justify-content-center row">
    <div class="col-12 col-lg-6 py-5">
      <div class="mb-5 text-center">
        <%= link_to root_path do %>
          <%= image_tag "logos/color-mizuho.png", size: "50x61", alt: "Annict" %>
        <% end %>
      </div>

      <div class="c-sign-up-form-via-oauth px-3 mb-5">
        <h1 class="my-5 text-center">
          <%= t "messages._common.join_annict" %>
        </h1>

        <% if @expired %>
          <p class="text-center">
            <%= t "messages.registrations.new.expired_html" %>
          </p>
        <% else %>
          <%= form_with(
            data: {
              controller: "forms--basic-form",
              action: "turbo:submit-start->forms--basic-form#handleSubmitStart turbo:submit-end->forms--basic-form#handleSubmitEnd",
              "forms--basic-form-target": "form"
            },
            model: @form,
            url: internal_api_registrations_path
          ) do |f| %>
            <%= ErrorPanelV6Component.new(self, stimulus_controller: "forms--basic-form").render %>

            <div class="mb-3">
              <%= f.label :username, class: "form-label" %>
              <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "BK201", required: true, tabindex: 1 %>
              <small class="text-muted form-text">
                <%= t "messages.registrations.new.username_hint" %>
              </small>
            </div>

            <div class="mb-3">
              <%= f.label :email, class: "form-label" %>
              <%= f.text_field :email, class: "form-control-plaintext", readonly: true %>
            </div>

            <div class="form-check mb-3">
              <%= f.check_box :terms_and_privacy_policy_agreement, class: "form-check-input", tabindex: 2 %>
              <%= f.label :terms_and_privacy_policy_agreement, class: "form-check-label" do %>
                <%= t "activerecord.attributes.user.terms_and_privacy_policy_agreement_html" %>
              <% end %>
            </div>

            <%= f.hidden_field :token %>

            <div class="text-center">
              <%= f.button class: "btn btn-primary", data: { "forms--basic-form-target": "submitButton" }, tabindex: 3, type: :submit do %>
                <i class="far fa-rocket me-1"></i>
                <%= t "noun.sign_up" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
