<div class="container p-3">
  <div class="row">
    <div class="col-md-3 pr-md-0">
      <div class="c-work-image mb-2">
        <%= link_to work_path(@work.annict_id) do %>
          <%= image_tag(@work.image.internal_url, class: "img-fluid img-thumbnail rounded") %>
        <% end %>
        <div class="u-very-small text-right text-muted">
          <%= icon "copyright", "far", class: "mr-1" %>
          <%= @work.copyright %>
        </div>
      </div>
      <h1 class="h2 font-weight-bold">
        <%= @work.title %>
      </h1>
      <div class="row mb-3">
        <div class="col text-center">
          <div class="h4 font-weight-bold mb-1">
            <%= @work.watchers_count %>
          </div>
          <div class="text-muted small">
            <%= t "noun.watchers_count" %>
          </div>
        </div>
        <div class="col text-center">
          <div class="h4 font-weight-bold mb-1">
            <%= @work.satisfaction_rate %><span class="small ml-1">%</span>
          </div>
          <div class="text-muted small">
            <%= t "noun.satisfaction_rate_shorten" %>
          </div>
        </div>
        <div class="col text-center">
          <div class="h4 font-weight-bold mb-1">
            <%= @work.ratings_count %>
          </div>
          <div class="text-muted small">
            <%= t "noun.ratings_count" %>
          </div>
        </div>
      </div>
      <%= render "v3/application/status_selector", gql_work_id: @work.id %>
    </div>
    <div class="col-md-9">
      <%= render "subnav", work: @work %>

      <% if @work.trailers.present? %>
        <h2 class="h4 text-center my-4 font-weight-bold">
          <%= t "noun.pv" %>
        </h2>
        <div class="c-card mt-3 pt-3">
          <div class="row ml-3 pr-3">
            <% @work.trailers.each do |trailer| %>
              <div class="col-md-4 col-6 text-center mb-3 pl-0">
                <%= link_to trailer.url, target: "_blank" do %>
                  <div class="c-video-thumbnail">
                    <div class="c-video-thumbnail__image" style="background-image: url('<%= trailer.internal_image_url%>')"></div>
                    <%= icon "play-circle", "far" %>
                  </div>
                  <div class="small">
                    <%= trailer.title %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @work.synopsis %>
        <h2 class="h4 text-center my-4 font-weight-bold">
          <%= t "activerecord.attributes.work.synopsis" %>
        </h2>
        <div class="c-card mt-3 p-3">
          <%= @work.decorate.local_synopsis %>
          <div class="text-right small">
            <span class="mr-1">
              <%= t("noun.source") %>: <%= @work.synopsis_source %>
            </span>
          </div>
        </div>
      <% end %>

      <h2 class="h4 text-center my-4 font-weight-bold">
        <%= t "noun.episodes" %>
      </h2>
      <div class="c-card container mt-3 pt-3">
        <div class="row">
          <% @work.episodes.each do |episode| %>
            <div class="col-4 mb-3">
              <%= link_to "" do %>
                <div class="">
                  <%= episode.number_text %>
                </div>
                <div class="small u-text-body">
                  <%= episode.title %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <h2 class="h4 text-center my-4 font-weight-bold">
        <%= t "noun.characters" %>
      </h2>
      <div class="c-card container mt-3 pt-3">
        <div class="row">
          <% @work.casts.each do |cast| %>
            <div class="col-3 mb-3">
              <%= link_to cast.character.name, character_path(cast.character.annict_id) %>
              <div class="small">
                <span>CV:</span>
                <%= link_to cast.person.name, person_path(cast.person.annict_id) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <h2 class="h4 text-center my-4 font-weight-bold">
        <%= t "noun.staffs" %>
      </h2>
      <div class="c-card container mt-3 pt-3">
        <div class="row">
          <% @work.staffs.each do |staff| %>
            <div class="col-3 mb-3">
              <%= link_to staff.person.name, "" %>
              <div class="small">
                <%= staff.role_text %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
