<div class="container p-3">
  <div class="row">
    <div class="col-md-3 pr-md-0">
      <div class="c-work-image mb-2">
        <%= link_to work_path(@work.annict_id) do %>
          <%= image_tag(@work.image.internal_url, class: "img-fluid img-thumbnail rounded") %>
        <% end %>
        <div class="u-very-small text-right text-muted">
          <%= icon "copyright", "far", class: "mr-1" %>
          <%= @work.copyright %>
        </div>
      </div>
      <h1 class="h2 font-weight-bold mb-3">
        <%= @work.title %>
      </h1>
      <div class="row mb-3">
        <div class="col text-center">
          <div class="h4 font-weight-bold mb-1">
            <%= @work.watchers_count %>
          </div>
          <div class="text-muted small">
            <%= t "noun.watchers_count" %>
          </div>
        </div>
        <div class="col text-center">
          <div class="h4 font-weight-bold mb-1">
            <%= @work.satisfaction_rate %><span class="small ml-1">%</span>
          </div>
          <div class="text-muted small">
            <%= t "noun.satisfaction_rate_shorten" %>
          </div>
        </div>
        <div class="col text-center">
          <div class="h4 font-weight-bold mb-1">
            <%= @work.ratings_count %>
          </div>
          <div class="text-muted small">
            <%= t "noun.ratings_count" %>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <%= render "v3/application/status_selector", gql_work_id: @work.id %>
      </div>

      <h2 class="h4 font-weight-bold mb-3">
        <%= icon "sticky-note", "far", class: "mr-1" %>
        <%= t "noun.information" %>
      </h2>

      <dl>
        <% if @work.title_kana.present? %>
          <dt class="small">
            <%= t "activerecord.attributes.work.title_kana" %>
          </dt>
          <dd>
            <%= @work.title_kana %>
          </dd>
        <% end %>
        <% if @work.title_en.present? %>
          <dt class="small">
            <%= t "activerecord.attributes.work.title_en" %>
          </dt>
          <dd>
            <%= @work.title_en %>
          </dd>
        <% end %>
        <dt class="small">
          <%= t "activerecord.attributes.work.media" %>
        </dt>
        <dd>
          <%= @work.decorate.media_text %>
        </dd>
        <% if @work.decorate.release_season_link.present? %>
          <dt class="small">
            <%= t "noun.release_season" %>
          </dt>
          <dd>
            <%= @work.decorate.release_season_link %>
          </dd>
        <% end %>
        <% if @work.started_on.present? %>
          <dt class="small">
            <%= @work.started_on_label %>
          </dt>
          <dd>
            <%= display_date(@work.casted_started_on) %>
          </dd>
        <% end %>
        <% if @work.official_site_url.present? %>
          <dt class="small">
            <%= t "activerecord.attributes.work.official_site_url" %>
          </dt>
          <dd>
            <%= link_with_domain @work.official_site_url %>
          </dd>
        <% end %>
        <% if @work.official_site_url_en.present? %>
          <dt class="small">
            <%= t "activerecord.attributes.work.official_site_url_en" %>
          </dt>
          <dd>
            <%= link_with_domain @work.official_site_url_en %>
          </dd>
        <% end %>
        <% if @work.twitter_username.present? %>
          <dt class="small">
            <%= t "activerecord.attributes.work.twitter_username" %>
          </dt>
          <dd>
            <%= @work.twitter_username_link %>
          </dd>
        <% end %>
        <% if @work.twitter_hashtag.present? %>
          <dt class="small">
            <%= t "activerecord.attributes.work.twitter_hashtag" %>
          </dt>
          <dd>
            <%= @work.twitter_hashtag_link %>
          </dd>
        <% end %>
        <% if @work.wikipedia_url.present? %>
          <dt class="small">
            <%= t "activerecord.attributes.work.wikipedia_url" %>
          </dt>
          <dd>
            <%= link_with_domain @work.wikipedia_url %>
          </dd>
        <% end %>
        <% if @work.wikipedia_url_en.present? %>
          <dt class="small">
            <%= t "activerecord.attributes.work.wikipedia_url_en" %>
          </dt>
          <dd>
            <%= link_with_domain @work.wikipedia_url_en %>
          </dd>
        <% end %>
        <% if @work.syobocal_tid.present? %>
          <dt class="small">
            <%= t "noun.syobocal" %>
          </dt>
          <dd>
            <%= @work.syobocal_link(@work.syobocal_tid) %>
          </dd>
        <% end %>
        <% if @work.mal_anime_id.present? %>
          <dt class="small">
            <%= t "noun.my_anime_list" %>
          </dt>
          <dd>
            <%= @work.mal_anime_link %>
          </dd>
        <% end %>
      </dl>
    </div>
    <div class="col-md-9">
      <%= render "subnav", work: @work %>

      <% if @work.trailers.present? %>
        <h2 class="h4 text-center my-4 font-weight-bold">
          <%= t "noun.pv" %>
        </h2>
        <div class="c-card mt-3 pt-3">
          <div class="row ml-3 pr-3">
            <% @work.trailers.each do |trailer| %>
              <div class="col-md-4 col-6 text-center mb-3 pl-0">
                <%= link_to trailer.url, target: "_blank" do %>
                  <div class="c-video-thumbnail">
                    <div class="c-video-thumbnail__image" style="background-image: url('<%= trailer.internal_image_url%>')"></div>
                    <%= icon "play-circle", "far" %>
                  </div>
                  <div class="small">
                    <%= trailer.title %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @work.synopsis %>
        <h2 class="h4 text-center my-4 font-weight-bold">
          <%= t "activerecord.attributes.work.synopsis" %>
        </h2>
        <div class="c-card mt-3 p-3">
          <%= simple_format(@work.local_synopsis) %>
          <div class="text-right small">
            <span class="mr-1">
              <%= t("noun.source") %>: <%= @work.local_synopsis_source %>
            </span>
          </div>
        </div>
      <% end %>

      <h2 class="h4 text-center my-4 font-weight-bold">
        <%= t "noun.episodes" %>
      </h2>
      <div class="c-card container mt-3 pt-3">
        <div class="row">
          <% @work.episodes.each do |episode| %>
            <div class="col-4 mb-3">
              <%= link_to "" do %>
                <div class="">
                  <%= episode.number_text %>
                </div>
                <div class="small u-text-body">
                  <%= episode.title %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <h2 class="h4 text-center my-4 font-weight-bold">
        <%= t "noun.characters" %>
      </h2>
      <div class="c-card container mt-3 pt-3">
        <div class="row">
          <% @work.casts.each do |cast| %>
            <div class="col-3 mb-3">
              <%= link_to cast.character.name, character_path(cast.character.annict_id) %>
              <div class="small">
                <span>CV:</span>
                <%= cast.decorate.local_accurated_name_link %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <h2 class="h4 text-center my-4 font-weight-bold">
        <%= t "noun.staffs" %>
      </h2>
      <div class="c-card container mt-3 pt-3">
        <div class="row">
          <% @work.staffs.each do |staff| %>
            <div class="col-3 mb-3">
              <%= staff.decorate.local_accurated_name_link %>
              <div class="small">
                <%= staff.local_role %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
