<mj-section padding-top="10px">
  <mj-column width="180px" padding-top="0px">
    <mj-image width="180px"
              padding-right="0"
              src="<%= ann_work_image_url(work, width: 240, format: :jpg) %>"
              align="center"
              href="<%= work_url(work.id, utm_source: 'email_notification', utm_campaign: utm_campaign, utm_medium: 'email', domain: local_domain) %>"></mj-image>
    <mj-button href="<%= work_url(work.id, utm_source: 'email_notification', utm_campaign: utm_campaign, utm_medium: 'email', domain: local_domain) %>"
               background-color="#fff"
               border="1px solid #f85b73"
               color="#f85b73"
               padding-top="0"
               padding-right="0">
      <%= I18n.t("email_notification_mailer.favorite_works_added.view_detail") %>
    </mj-button>
  </mj-column>

  <mj-column width="420px">
    <mj-text>
      <span style="color: #fff; background-color: #2985be; padding: 3px; display: inline-block; margin-right: 3px;">
        <%= work.media.text %>
      </span>

      <% if work.season.present? %>
        <span style="color: #fff; background-color: <%= work.season.color %>; padding: 3px; display: inline-block;">
          <%= work.season.local_name %>
        </span>
      <% else %>
        <span style="color: #fff; background-color: #bdbdbd; padding: 3px;">
          <%= I18n.t("noun.unknown_season") %>
        </span>
      <% end %>
    </mj-text>

    <mj-text font-size="18px" font-weight="400" padding-top="0" padding-bottom="5px">
      <%= link_to "#{work.local_title}", work_url(work.id, utm_source: 'email_notification', utm_campaign: utm_campaign, utm_medium: 'email', domain: local_domain), style: "color: #0366d6; text-decoration: none;" %>
    </mj-text>
    <mj-text font-size="14px" padding-top="0px" padding-bottom="7px"><%= "#{work.watchers_count} Watchers" %></mj-text>

    <% if work.local_synopsis.present? %>
      <mj-text font-weight="800" padding="10px 25px"><%= I18n.t("activerecord.attributes.work.synopsis") %></mj-text>
      <mj-text padding-top="0" line-height="22px">
        <%= work.local_synopsis(raw: true) %>
      </mj-text>
    <% end %>

    <% if work.trailers.only_kept.exists? %>
      <%- trailer = work.trailers.only_kept.order(:sort_number).first %>
      <mj-text font-weight="800" padding="10px 25px 0 25px"><%= I18n.t("noun.pv") %></mj-text>
      <mj-image src="<%= ann_video_image_url(trailer, width: 640, format: :jpg) %>" align="center" href="<%= trailer.url %>"></mj-image>
      <mj-text padding-top="0"
               align="center"
               color="#0366d6">
        <%= link_to trailer.title, trailer.url, style: "text-decoration: none;" %>
      </mj-text>
    <% end %>

    <% if work.casts.only_kept.exists? %>
      <mj-text font-weight="800" padding="10px 25px"><%= I18n.t("noun.casts") %></mj-text>
      <mj-text padding-top="0" line-height="22px">
        <% work.casts.only_kept.order(:sort_number).limit(10).each do |cast| %>
          <%= cast.character.local_name %>: <%= cast.person.local_name %>
        <% end %>
      </mj-text>
    <% end %>

    <% if work.staffs.only_kept.exists? %>
      <mj-text font-weight="800" padding="10px 25px"><%= I18n.t("noun.staffs") %></mj-text>
      <mj-text padding-top="0" line-height="22px">
        <% work.staffs.only_kept.major.order(:sort_number).each do |staff| %>
          <%= staff.decorate.role_name %>: <%= staff.local_name %>
        <% end %>
      </mj-text>
    <% end %>

    <%= yield %>
  </mj-column>
</mj-section>
