<% title = t "head.title.videos.index", title: @work.local_title %>
<% description = meta_description(t("head.meta.description.videos.index", title: @work.local_title)) %>
<% image_url = ann_work_image_url(@work, width: 640, format: :jpg) %>
<% set_meta_tags(title: title, description: description, og: { description: description, image: image_url }, twitter: { description: description, image: image_url }, reverse: true, prefix: false) %>

<%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path, method: :post, payload: {work_ids: [@work.id]}) %>

<%= Headers::WorkHeaderComponent.new(self, work: @work, programs: @programs).render %>

<%= AdsenseComponent.new(self, slot: ENV["GOOGLE_AD_SLOT_ON_VIDEO_LIST"]).render %>

<div class="py-3">
  <div class="container u-container-flat">
    <div class="card u-card-flat">
      <div class="card-body">
        <div class="g-3 row">
          <% if @videos.present? %>
            <% @videos.each do |video| %>
              <div class="col-md-3 col-6 text-center">
                <%= link_to video.url, rel: "noopener", target: "_blank" do %>
                  <div class="c-video-thumbnail">
                    <div class="c-video-thumbnail__image" style="background-image: url(<%= ann_video_image_url(video, width: 300) %>);"></div>
                    <i class="far fa-play-circle"></i>
                  </div>

                  <div class="mt-1 small text-body">
                    <%= video.title %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <%= EmptyV6Component.new(self, text: t("messages._empty.no_resources")).render %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
