<% title = t "head.title.db.trailers.index" %>
<% set_meta_tags(title: "#{title} | #{@work.local_title}", reverse: true, prefix: false) %>

<div class="container py-3">
  <div class="align-items-center row">
    <div class="col">
      <div class="mb-1">
        <%= link_to @work.local_title, db_edit_work_path(@work) %>
      </div>
      <h1>
        <%= title %>
      </h1>
    </div>

    <div class="col-auto">
      <% if policy(Trailer).create? %>
        <div class="text-end">
          <%= link_to db_new_trailer_path(@work), class: "btn btn-outline-primary" do %>
            <%= icon "plus" %>
            <%= t "resources._common.new" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mt-3">
    <%= render "db/works/subnav", work: @work %>
  </div>

  <% if @trailers.present? %>
    <div class="card mt-3">
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>
                ID
              </th>
              <th>
                <%= t "activerecord.attributes.trailer.thumbnail" %>
              </th>
              <th>
                <%= t "noun.video_page" %>
              </th>
              <th>
                <%= t "activerecord.attributes.trailer.title" %>
              </th>
              <th>
                <%= t "activerecord.attributes.trailer.sort_number" %>
              </th>
              <th>
                <%= t "noun.state" %>
              </th>
              <th>
                <%= t "noun.actions" %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @trailers.each do |trailer| %>
              <tr>
                <td>
                  <%= trailer.id %>
                </td>
                <td>
                  <%= image_tag ann_video_image_url(trailer, width: 70), class: "rounded img-thumbnail" %>
                </td>
                <td>
                  <% if trailer.youtube? %>
                    <span class="me-1">
                      YouTube:
                    </span>
                    <%= link_to trailer.youtube_video_id, trailer.url, target: "_blank", rel: "noopener" %>
                  <% else %>
                    <%= link_with_domain trailer.url %>
                  <% end %>
                </td>
                <td>
                  <%= trailer.title %>
                </td>
                <td>
                  <%= trailer.sort_number %>
                </td>
                <td>
                  <%= render Db::PublishingStateLabelComponent.new(resource: trailer) %>
                </td>
                <td>
                  <%= render Db::ActionButtonsComponent.new(
                      user: current_user,
                      resource: trailer,
                      detail_path: db_trailer_detail_path(trailer),
                      edit_path: db_edit_trailer_path(trailer),
                      publishing_path: db_trailer_publishing_path(trailer)
                  ) %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <div class="card mt-3">
      <div class="card-body">
        <%= render "application/components/empty", text: t("messages._empty.no_resources") %>
      </div>
    </div>
  <% end %>
</div>
