<% title = t "head.title.episodes.show", work_title: @anime.local_title, episode_title_with_number: @episode.title_with_number %>
<% description = meta_description(t("head.meta.description.episodes.show", work_title: @anime.local_title, episode_title_with_number: @episode.title_with_number)) %>
<% image_url = ann_image_url(@anime.anime_image, :image, width: 640) %>
<% set_meta_tags(title: title, description: description, og: { description: description, image: image_url }, twitter: { description: description, image: image_url }, reverse: true, prefix: false) %>

<%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path(anime_ids: [@anime.id])) %>

<%= Headers::AnimeHeaderComponent.new(self, anime: @anime, programs: @programs).render %>

<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="align-items-center mb-1 row">
        <div class="col">
          <h2 class="mb-0">
            <%= link_to @episode.title_with_number, episode_path(@anime.id, @episode.id), class: "u-text-body" %>
          </h2>
        </div>
        <div class="col-auto ps-0">
          <%= ButtonGroups::EpisodeTransitionButtonGroupComponent.new(self, episode: @episode).render %>
        </div>
      </div>

      <ul class="list-inline mb-3">
        <li class="list-inline-item">
          <span class="fw-bold h4">
            <%= @episode.episode_records_count %>
          </span>
          <span class="small text-muted">
            <%= t "noun.records_count" %>
          </span>
        </li>
        <li class="list-inline-item">
          <span class="fw-bold h4">
            <%= @episode.commented_episode_records_count %>
          </span>
          <span class="small text-muted">
            <%= t "noun.comments_count" %>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <%= Forms::EpisodeRecordFormComponent.new(self, form: @form, current_user: current_user).render %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div
        data-controller="reloadable"
        data-reloadable-event-name-value="episode-record-list-group"
        data-reloadable-url-value="<%= fragment_episode_record_list_path(@episode.id, page: params[:page]) %>"
      >
        <%= ListGroups::EpisodeRecordListGroupComponent.new(
          self,
          my_records: @my_records,
          following_records: @following_records,
          all_records: @all_records
        ).render %>
      </div>
    </div>
  </div>
</div>
