<% title = t("head.title.users.show", profile_name: @user_entity.name, username: @user_entity.username) %>
<% description = meta_description(@user_entity.description.presence || t("head.meta.description.users.show", profile_name: @user_entity.name, username: @user_entity.username)) %>
<% image_url = @user_entity.avatar_url %>
<% set_meta_tags(title: title, description: description, og: { description: description, image: image_url }, twitter: { description: description }, reverse: true, prefix: false) %>

<%= render ProfileHeaderComponent.new(user_entity: @user_entity, current_user: current_user) %>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-5 mb-lg-0 order-first order-lg-last pl-lg-0 py-3">
      <div class="text-center mb-3">
        <%= render ShareToTwitterButtonComponent.new(
          text: title,
          url: "#{local_url}#{profile_path(@user_entity.username)}",
          class_name: "mr-2"
        ) %>

        <%= render ShareToFacebookButtonComponent.new(
          url: "#{local_url}#{profile_path(@user_entity.username)}"
        ) %>
      </div>

      <div class="mb-5">
        <div class="mb-1">
          <div>
            <%= @user_entity.description %>
          </div>

          <% if @user_entity.url.present? %>
            <%= link_with_domain(@user_entity.url) %>
          <% end %>
        </div>

        <p class="small">
          <%= t("resources.user.start_date", started_on: display_date(@user_entity.created_at), days: @user_entity.days_from_started(local_time_zone)) %>
        </p>
      </div>

      <div class="mb-5">
        <h2 class="font-weight-bold h3 mb-3">
          <%= t "noun.your_statistics" %>
        </h2>

        <c-user-heatmap class="mb-3" username="<%= @user_entity.username %>"></c-user-heatmap>
      </div>

      <div class="mb-3 row">
        <% [
          [record_list_path(@user_entity.username), @user_entity.records_count, "Records"],
          [library_path(@user_entity.username, :watching), @user_entity.watching_anime_count, "Watching"],
          [following_user_path(@user_entity.username), @user_entity.following_count, "Following"],
          [followers_user_path(@user_entity.username), @user_entity.followers_count, "Followers"],
          [favorite_characters_path(@user_entity.username), @user_entity.character_favorites_count, "Characters"],
          [favorite_people_path(@user_entity.username), @user_entity.person_favorites_count, "People"],
          [favorite_organizations_path(@user_entity.username), @user_entity.organization_favorites_count, "Organizations"],
        ].each do |path, count, text| %>
          <div class="col-3 mb-3">
            <%= link_to path, class: "text-body" do %>
              <div class="h3">
                <%= count %>
              </div>
              <%= text %>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if @user_entity.character_favorites.present? %>
        <div class="mb-3">
          <div class="align-items-center mb-3 row">
            <h2 class="col font-weight-bold h3 mb-0">
              <%= t("noun.favorite_characters") %>
            </h2>

            <% if @user_entity.character_favorites.length > 6 %>
              <div class="col col-auto text-right">
                <%= link_to favorite_characters_path(@user_entity.username), class: "small" do %>
                  <i class="fal fa-angle-right"></i>
                  <%= t "verb.view_all" %>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="pl-3 row">
            <% @user_entity.character_favorites.first(6).each do |cf| %>
              <div class="col-4 mb-3 pl-0 pr-2">
                <%= link_to cf.character.local_name, character_path(cf.character.database_id) %>
                <% if cf.character.series %>
                  <div class="text-muted u-very-small">
                    <%= cf.character.series.local_name %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% [
        [@user_entity.cast_favorites, t("noun.favorite_voice_actors"), favorite_people_path(@user_entity.username), :person],
        [@user_entity.staff_favorites, t("noun.favorite_staffs"), favorite_people_path(@user_entity.username), :person],
        [@user_entity.organization_favorites, t("noun.favorite_organizations"), favorite_organizations_path(@user_entity.username), :organization]
      ].each do |resource_favorites, title, resource_favorite_list_path, resource_name| %>
        <% if resource_favorites.present? %>
          <div class="mb-3">
            <div class="align-items-center mb-3 row">
              <h2 class="col font-weight-bold h3 mb-0">
                <%= title %>
              </h2>

              <% if resource_favorites.length > 6 %>
                <div class="col col-auto text-right">
                  <%= link_to resource_favorite_list_path, class: "small" do %>
                    <i class="fal fa-angle-right"></i>
                    <%= t "verb.view_all" %>
                  <% end %>
                </div>
              <% end %>
            </div>

            <div class="pl-3 row">
              <% resource_favorites.first(6).each do |rf| %>
                <div class="col-4 mb-3 pl-0">
                  <% resource = rf.send(resource_name) %>
                  <%= link_to resource.local_name, send("#{resource_name}_path", resource.database_id) %>
                  <div class="text-muted u-very-small">
                    <%= t("noun.n_works_watched", count: rf.watched_anime_count) %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-12 col-lg-7 order-last order-lg-first">
      <% if @activity_group_entities.present? %>
        <%= render TimelineComponent.new(
            username: @user_entity.username,
            page_category: "profile",
            activity_group_entities: @activity_group_entities,
            page_info_entity: @page_info_entity
        ) %>
      <% else %>
        <%= render EmptyComponent.new(text: t("messages._empty.no_activities")) %>
      <% end %>
    </div>
  </div>
</div>
