<% title = t "head.title.home.index" %>
<% set_meta_tags(title: title, site: false) %>

<%= render "partial_layouts/v2/default", page_category: "user-home" do %>
  <div class="container-fluid py-3">
    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="align-items-center justify-content-between row">
          <div class="col-auto">
            <h2 class="font-weight-bold h3 mb-0">
              <%= t "noun.timeline" %>
            </h2>
          </div>

          <div class="col text-right">
            <div class="c-timeline-mode-switcher">
              <%= form_with html: { class: "d-inline", method: :patch }, local: true, url: timeline_mode_path do %>
                <%= hidden_field_tag :timeline_mode, "following" %>
                <%= submit_tag(
                  t("noun.following_shorten"),
                  class: "btn btn-sm rounded-left #{current_user.timeline_mode.following? ? 'btn-secondary' : 'btn-outline-secondary'}"
                ) %>
              <% end %>
              <%= form_with html: { class: "d-inline", method: :patch }, local: true, url: timeline_mode_path do %>
                <%= hidden_field_tag :timeline_mode, "global" %>
                <%= submit_tag(
                  t("noun.global"),
                  class: "btn btn-sm rounded-right #{current_user.timeline_mode.global? ? 'btn-secondary' : 'btn-outline-secondary'}"
                ) %>
              <% end %>
            </div>
          </div>
        </div>

        <%= render TimelineComponent.new(activity_groups: @activity_group_result[:activity_groups], page_info: @activity_group_result[:page_info]) %>
      </div>

      <div class="col-12 col-lg-5">
        <% if @forum_posts.present? %>
          <h2 class="font-weight-bold h3 mb-3">
            <%= t "resources.forum_category.site_news" %>
          </h2>

          <ul class="list-unstyled">
            <% @forum_posts.each do |p| %>
              <li class="mb-2">
                <div class="small text-muted">
                  <%= display_time p.created_at %>
                </div>
                <%= link_to p.title, forum_post_path(p) %>
              </li>
            <% end %>
          </ul>

          <div class="small text-right mb-3">
            <%= link_to forum_category_path(:site_news) do %>
              <%= icon "angle-right", class: "mr-1" %>
              <%= t "messages.forum._common.view_all_site_news" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
