<% title = t "head.title.home.show" %>
<% set_meta_tags(title: title, site: false) %>

<%= component_value_fetcher_tag("status-selector", internal_api_library_entry_list_path(anime_ids: @anime_ids)) %>

<div class="container-fluid py-3">
  <div class="row g-3">
    <div class="col-12 col-lg-8">
      <div class="align-items-start justify-content-between row">
        <div class="col-auto">
          <h2 class="fw-bold h3 mb-0">
            <%= t "noun.timeline" %>
          </h2>
        </div>

        <div class="col text-end">
          <div class="c-timeline-mode-switcher">
            <%= form_with html: { class: "d-inline", method: :patch }, local: true, url: timeline_mode_path do %>
              <%= hidden_field_tag "setting[timeline_mode]", "following", id: :setting_timeline_mode_following %>
              <%= submit_tag(
                t("noun.following_shorten"),
                class: "btn btn-sm rounded-start #{current_user.timeline_mode.following? ? 'btn-secondary' : 'btn-outline-secondary'}"
              ) %>
            <% end %>
            <%= form_with html: { class: "d-inline", method: :patch }, local: true, url: timeline_mode_path do %>
              <%= hidden_field_tag "setting[timeline_mode]", "global", id: :setting_timeline_mode_global %>
              <%= submit_tag(
                t("noun.global"),
                class: "btn btn-sm rounded-end #{current_user.timeline_mode.global? ? 'btn-secondary' : 'btn-outline-secondary'}"
              ) %>
            <% end %>
          </div>
        </div>
      </div>

      <% if @activity_groups.present? %>
        <%= TimelineComponent.new(
          self,
          activity_groups: @activity_groups,
          page_category: page_category
        ).render %>
      <% else %>
        <%= EmptyComponent.new(self, text: t("messages._empty.no_activities")).render %>
      <% end %>
    </div>

    <hr class="d-lg-none my-5 w-100">

    <div class="col-12 col-lg-4">
      <div class="mb-5">
        <% if @new_anime_list.present? %>
          <div class="align-items-start justify-content-between mb-3 row">
            <div class="col-auto">
              <h2 class="fw-bold h3 mb-0">
                <%= t("head.title.works.newest") %>
              </h2>
            </div>

            <div class="col text-end">
              <%= link_to newest_works_path, class: "small" do %>
                <i class="far fa-angle-right me-1"></i>
                <%= t "verb.view_all" %>
              <% end %>
            </div>
          </div>

          <div class="card">
            <div class="card-body p-2">
              <div class="row g-2">
                <% @new_anime_list.each do |anime| %>
                  <div class="col-6 col-sm-4">
                    <%= Cards::AnimeCardComponent.new(self, anime: anime, width: 195, mb_width: 77).render %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div>
        <% if @forum_posts.present? %>
          <div class="align-items-start justify-content-between row">
            <div class="col-auto">
              <h2 class="fw-bold h3 mb-3">
                <%= t "resources.forum_category.site_news" %>
              </h2>
            </div>

            <div class="col text-end">
              <%= link_to forum_category_path(:site_news), class: "small" do %>
                <i class="far fa-angle-right me-1"></i>
                <%= t "messages.forum._common.view_all_site_news" %>
              <% end %>
            </div>
          </div>

          <ul class="list-unstyled">
            <% @forum_posts.each do |p| %>
              <li class="mb-2">
                <div class="small text-muted">
                  <%= display_time p.created_at %>
                </div>
                <%= link_to p.title, forum_post_path(p) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
