<% title = t "head.title.home.show" %>
<% set_meta_tags(title: title, site: false) %>

<%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path, method: :post, payload: {work_ids: @work_ids}) %>
<%= component_value_fetcher_tag("like-button", internal_api_like_list_path) %>
<%= component_value_fetcher_tag("spoiler-guard", internal_api_spoiler_guard_path) %>

<div class="py-3">
  <div class="container">
    <h1 class="fw-bold">
      <%= t "noun.timeline" %>
    </h1>

    <p>
      <%= t "messages._page_hints.home" %>
    </p>
  </div>

  <hr class="mb-0">

  <%= AdsenseComponent.new(self, slot: ENV["GOOGLE_AD_SLOT_ON_HOME"]).render %>

  <% if @activity_groups.present? %>
    <div class="container u-container-flat">
      <%= TimelineComponent.new(self, activity_groups: @activity_groups).render %>
    </div>
  <% else %>
    <div class="container mt-3 u-container-flat">
      <%= EmptyV6Component.new(self, text: t("messages._empty.no_activities")).render %>
    </div>
  <% end %>
</div>
