<% title = t "head.title.home.index" %>
<% set_meta_tags(title: title, site: false) %>

<%
=begin
%>
<div class="container-fluid py-3">
  <div class="row">
    <div class="col-12 col-lg-7">
      <div class="align-items-start justify-content-between row">
        <div class="col-auto">
          <h2 class="font-weight-bold h3 mb-0">
            <%= t "noun.timeline" %>
          </h2>
        </div>

        <div class="col text-right">
          <div class="c-timeline-mode-switcher">
            <%= form_with html: { class: "d-inline", method: :patch }, local: true, url: timeline_mode_path do %>
              <%= hidden_field_tag "setting[timeline_mode]", "following", id: :setting_timeline_mode_following %>
              <%= submit_tag(
                t("noun.following_shorten"),
                class: "btn btn-sm rounded-left #{current_user.timeline_mode.following? ? 'btn-secondary' : 'btn-outline-secondary'}"
              ) %>
            <% end %>
            <%= form_with html: { class: "d-inline", method: :patch }, local: true, url: timeline_mode_path do %>
              <%= hidden_field_tag "setting[timeline_mode]", "global", id: :setting_timeline_mode_global %>
              <%= submit_tag(
                t("noun.global"),
                class: "btn btn-sm rounded-right #{current_user.timeline_mode.global? ? 'btn-secondary' : 'btn-outline-secondary'}"
              ) %>
            <% end %>
          </div>
        </div>
      </div>

      <% if @activity_group_structs.present? %>
        <%= TimelineComponent.new(
          self,
          activity_group_structs: @activity_group_structs,
          activity_groups: @activity_groups,
          page_category: page_category
        ).render %>
      <% else %>
        <%= render EmptyComponent.new(text: t("messages._empty.no_activities")) %>
      <% end %>
    </div>

    <hr class="d-lg-none my-5 w-100">

    <div class="col-12 col-lg-5">
      <div class="mb-5">
        <% if @userland_projects.present? %>
          <div class="align-items-start justify-content-between mb-3 row">
            <div class="col-auto">
              <h2 class="font-weight-bold h3 mb-0">
                Userland
              </h2>
            </div>

            <div class="col text-right">
              <%= link_to userland_root_path, class: "small" do %>
                <%= icon "angle-right", class: "mr-1" %>
                <%= t "verb.view_all" %>
              <% end %>
            </div>
          </div>

          <% @userland_projects.each do |project| %>
            <div class="row mb-3">
              <div class="col-auto pr-0">
                <%= link_to userland_project_path(project) do %>
                  <%= render UserlandProjectImageComponent.new(image_url_1x: ann_image_url(project, :image, size: "80x"), alt: project.name) %>
                <% end %>
              </div>

              <div class="col">
                <div class="mb-1">
                  <div class="small">
                    <%= project.userland_category.local_name %>
                  </div>
                  <%= link_to project.name, userland_project_path(project) %>
                </div>

                <div class="small text-muted">
                  <%= project.summary %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div>
        <% if @forum_posts.present? %>
          <div class="align-items-start justify-content-between row">
            <div class="col-auto">
              <h2 class="font-weight-bold h3 mb-3">
                <%= t "resources.forum_category.site_news" %>
              </h2>
            </div>

            <div class="col text-right">
              <%= link_to forum_category_path(:site_news), class: "small" do %>
                <%= icon "angle-right", class: "mr-1" %>
                <%= t "messages.forum._common.view_all_site_news" %>
              <% end %>
            </div>
          </div>

          <ul class="list-unstyled">
            <% @forum_posts.each do |p| %>
              <li class="mb-2">
                <div class="small text-muted">
                  <%= display_time p.created_at %>
                </div>
                <%= link_to p.title, forum_post_path(p) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%
=end
%>
