<div class="c-about l-welcome__about py-5">
  <div class="container">
    <h2 class="fw-bold h1 mb-0 text-center">
      <%= t("messages.welcome.show.annict_features") %>
    </h2>

    <div class="align-items-center mt-5 row">
      <div class="col-12 col-sm-5">
        <div class="badge bg-primary rounded-3">
          <i class="display-5 far fa-check p-2"></i>
        </div>

        <h3 class="fw-bold h1 mt-3">
          見たアニメが記録できる
        </h3>

        <p>
          「何話まで見たっけ？」とならないように、見たアニメを記録することができます。
          <br>
          記録には感想を残すことができ、後から当時どんなことを思っていたかを振り返ることができます。
        </p>
      </div>

      <div class="col-12 col-sm-7">
        <%= image_tag "about/feature-1.jpg", alt: "見たアニメが記録できる", class: "img-fluid rounded-3" %>
      </div>
    </div>

    <div class="align-items-center mt-5 row">
      <div class="col-12 col-sm-5">
        <div class="badge bg-primary rounded-3">
          <i class="display-5 far fa-album-collection p-2"></i>
        </div>

        <h3 class="fw-bold h1 mt-3">
          アニメを視聴ステータスで管理
        </h3>

        <p>
          アニメを「見てる」「見たい」「見た」「一時中断」「視聴中止」という5つの視聴ステータスで管理することができます。
          <br>
          各ステータスを設定したアニメはライブラリページで一覧することができます。
        </p>
      </div>

      <div class="col-12 col-sm-7">
        <%= image_tag "about/feature-2.jpg", alt: "アニメを5つのステータスで管理", class: "img-fluid rounded-3" %>
      </div>
    </div>

    <div class="align-items-center mt-5 row">
      <div class="col-12 col-sm-5">
        <div class="badge bg-primary rounded-3">
          <i class="display-5 far fa-users p-2"></i>
        </div>

        <h3 class="fw-bold h1 mt-3">
          友達の視聴状況をチェック
        </h3>

        <p>
          Annictの利用者をフォローすると、その人の視聴記録などがタイムラインに表示されます。
          <br>
          ネタバレを防止するため、自分が見ていないアニメやエピソードへの感想にはぼかしが入るようになっています。
        </p>
      </div>

      <div class="col-12 col-sm-7">
        <%= image_tag "about/feature-3.jpg", alt: "友達の視聴状況をチェック", class: "img-fluid rounded-3" %>
      </div>
    </div>

    <div class="align-items-center mt-5 row">
      <div class="col-12 col-sm-5">
        <div class="badge bg-primary rounded-3">
          <i class="display-5 far fa-calendar-alt p-2"></i>
        </div>

        <h3 class="fw-bold h1 mt-3">
          今晩見れるアニメがわかる
        </h3>

        <p>
          普段見ているテレビのチャンネルを設定すると、見ているアニメの放送時間をカレンダーなどで確認することができます。
        </p>
      </div>

      <div class="col-12 col-sm-7">
        <%= image_tag "about/feature-4.jpg", alt: "今晩見れるアニメがわかる", class: "img-fluid rounded-3" %>
      </div>
    </div>

    <div class="align-items-center mt-5 row">
      <div class="col-12 col-sm-5">
        <div class="badge bg-primary rounded-3">
          <i class="display-5 far fa-brackets-curly p-2"></i>
        </div>

        <h3 class="fw-bold h1 mt-3">
          Web APIでアニメデータを取得
        </h3>

        <p>
          Annictはアニメデータや自分の視聴データなどが取得できるWeb APIを公開しています。
          <br>
          Web APIを使ってアニメ関係のアプリケーションを作ったり、自分の好みのAnnictクライアントを作ることができます。
        </p>
      </div>

      <div class="col-12 col-sm-7">
        <%= image_tag "about/feature-5.jpg", alt: "Web APIでアニメデータを取得", class: "img-fluid rounded-3" %>
      </div>
    </div>
  </div>
</div>
