<% title = t("head.title.welcome.show") %>
<% set_meta_tags(title: title, reverse: false) %>

<%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path(anime_ids: [])) %>

<div class="align-items-center c-hero d-flex position-relative py-3">
  <div class="c-hero__bg-image position-absolute w-100" style="background-image: url(<%= @cover_image_anime ? v6_ann_image_url(@cover_image_anime.anime_image, :image, blur: 60, height: 800, width: 600) : "" %>);"></div>
  <div class="c-hero__content text-center align-self-center">
    <h1 class="display-3 mb-0 text-white">
      <%= t("messages.welcome.show.hero_title_html") %>
    </h1>

    <p class="lead mb-0 mt-5 px-2 text-white">
      <%= t("messages.welcome.show.hero_description_html") %>
    </p>

    <div class="mt-5 text-center">
      <%= link_to sign_up_path, class: "btn btn-primary" do %>
        <i class="far fa-rocket"></i>
        <span class="ms-1">
          <%= t("noun.sign_up") %>
        </span>
      <% end %>

      <%= link_to sign_in_path, class: "btn btn-outline-light ms-2" do %>
        <%= t("noun.sign_in") %>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="mb-0 py-5 row">
    <div class="col">
      <h2 class="fw-bold h3 m-0">
        <%= t("noun.current_season") %>
      </h2>
    </div>

    <div class="col text-end">
      <%= link_to seasonal_anime_list_path(slug: ENV.fetch("ANNICT_CURRENT_SEASON")) do %>
        <i class="far fa-angle-right"></i>
        <%= t("verb.view_more") %>
      <% end %>
    </div>
  </div>
</div>

<div class="container container-flat">
  <div class="card">
    <div class="card-body">
      <% if @seasonal_anime_list.present? %>
        <div class="row g-3">
          <% @seasonal_anime_list.each do |anime| %>
            <div class="col-4 col-sm-2">
              <%= V6::Cards::AnimeCardComponent.new(self, anime: anime, width: 195).render %>
            </div>
          <% end %>
        </div>
      <% else %>
        <%= V6::EmptyComponent.new(self, text: t("messages._empty.no_anime")).render %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="mb-0 py-5 row">
    <div class="col">
      <h2 class="fw-bold h3 m-0">
        <%= t("noun.popular_anime") %>
      </h2>
    </div>

    <div class="col text-end">
      <%= link_to popular_anime_list_path do %>
        <i class="far fa-angle-right"></i>
        <%= t("verb.view_more") %>
      <% end %>
    </div>
  </div>
</div>

<div class="container container-flat">
  <div class="card">
    <div class="card-body">
      <% if @seasonal_anime_list.present? %>
        <div class="row g-3">
          <% @popular_anime_list.each do |anime| %>
            <div class="col-4 col-sm-2">
              <%= V6::Cards::AnimeCardComponent.new(self, anime: anime, width: 195).render %>
            </div>
          <% end %>
        </div>
      <% else %>
        <%= V6::EmptyComponent.new(self, text: t("messages._empty.no_anime")).render %>
      <% end %>
    </div>
  </div>
</div>

<hr class="mb-0 mt-5" />
