<% title = t("head.title.welcome.show") %>
<% set_meta_tags(title: title, reverse: false) %>

<%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path, method: :post, payload: {work_ids: []}) %>

<div class="align-items-center c-hero d-flex position-relative py-3">
  <div class="c-hero__content text-center align-self-center">
    <h1 class="display-3 mb-0">
      <%= t("messages.welcome.show.hero_title_html") %>
    </h1>

    <p class="lead mb-0 mt-5 px-2">
      <%= t("messages.welcome.show.hero_description_html") %>
    </p>

    <div class="mt-5 text-center">
      <%= link_to sign_up_path, class: "btn btn-primary rounded-pill" do %>
        <i class="far fa-rocket"></i>
        <span class="ms-1">
          <%= t("noun.sign_up") %>
        </span>
      <% end %>

      <%= link_to sign_in_path, class: "btn btn-outline-primary ms-2 rounded-pill" do %>
        <%= t("noun.sign_in") %>
      <% end %>
    </div>
  </div>
</div>

<div class="container py-5 u-container-flat">
  <h2 class="fw-bold h1 mb-0 text-center">
    <%= t("noun.current_season") %>
  </h2>

  <div class="card mt-5 u-card-flat">
    <div class="card-body">
      <% if @seasonal_work_list.present? %>
        <div class="row g-3">
          <% @seasonal_work_list.each do |work| %>
            <div class="col-6 col-lg-2 col-md-4 col-sm-6">
              <%= Cards::WorkCardComponent.new(self, work: work, width: 166).render %>
            </div>
          <% end %>
        </div>
      <% else %>
        <%= EmptyV6Component.new(self, text: t("messages._empty.no_works")).render %>
      <% end %>
    </div>
  </div>

  <div class="mt-3 text-center">
    <%= link_to seasonal_work_list_path(ENV.fetch("ANNICT_CURRENT_SEASON")), class: "btn btn-outline-secondary rounded-pill" do %>
      <i class="far fa-angle-right"></i>
      <%= t("verb.view_more") %>
    <% end %>
  </div>
</div>

<%= render "about" %>

<div class="l-welcome__cta">
  <div class="container">
    <div class="h1 fw-bold text-white">
      <%= t "messages.welcome.show.lets_start_tracking" %>
    </div>


    <%= link_to sign_up_path, class: "btn btn-light mt-1 rounded-pill u-text-mizuho" do %>
      <i class="far fa-rocket"></i>
      <span class="ms-1">
        <%= t("noun.sign_up") %>
      </span>
    <% end %>
  </div>
</div>
