<% title = t "head.title.records.show", profile_name: @user_entity.name, username: @user_entity.username, trackable_title: @record_entity.local_trackable_title %>
<% description = meta_description t("head.meta.description.records.show", profile_name: @user_entity.name, username: @user_entity.username, trackable_title: @record_entity.local_trackable_title) %>
<% image_url = @user_entity.avatar_url %>
<% set_meta_tags(title: title, description: description, og: { description: description, image: image_url }, twitter: { description: description, image: image_url }, reverse: true, prefix: false) %>

<%= V6::Headers::ProfileHeaderComponent.new(self, user: @user, current_user: current_user, params: params).render %>

<div class="container-fluid py-3">
  <div class="row">
    <div class="col-12 col-lg-9">
      <div class="mb-3">
        <%= render V4::RecordHeaderComponent.new(viewer: current_user, user_entity: @user_entity, record_entity: @record_entity) %>
      </div>

      <% if @record_entity.episode_record? %>
        <%= render V4::EpisodeRecordContentComponent.new(
          viewer: current_user,
          user_entity: @user_entity,
          work_entity: @record_entity.trackable.anime,
          episode_entity: @record_entity.trackable,
          record_entity: @record_entity,
          episode_record_entity: @record_entity.recordable,
          show_card: true
        ) %>
      <% elsif @record_entity.anime_record? %>
        <%= render V4::AnimeRecordContentComponent.new(
          user_entity: @user_entity,
          anime_entity: @record_entity.trackable,
          record_entity: @record_entity,
          anime_record_entity: @record_entity.recordable,
          show_card: true
        ) %>
      <% end %>
    </div>

    <div class="col-12 col-lg-3">
      <%= render V4::ListGroups::RecordMonthComponent.new(user_entity: @user_entity, months: @months) %>
    </div>
  </div>
</div>
