<%= content_for :head_assets do %>
  <%= stylesheet_bundle_tag "v4.css", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_bundle_tag "v4.js", defer: "", "data-turbo-track": "reload" %>
<% end %>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "application/head" %>
  </head>
  <body>
    <div class="l-db-default">
      <div class="l-db-default__sidebar">
        <%= render V4::Db::SidebarComponent.new(search: @search) %>
      </div>
      <div class="l-db-default__main d-flex flex-column">
        <div class="f-application__main__content">
          <%= render V4::FlashComponent.new(flash) %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
