<%= content_for :head_vendor_assets do %>
  <script>
    <%# Set this config to rerender icon when Vue's state changed %>
    window.FontAwesomeConfig = { autoReplaceSvg: 'nest' };
  </script>
<% end %>

<%= content_for :head_assets do %>
  <%= stylesheet_bundle_tag "v4.css", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_bundle_tag "v4.js", defer: "", "data-turbo-track": "reload" %>
<% end %>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "application/head" %>
  </head>
  <body>
    <div class="ann-application">
      <div class="l-default">
        <div class="l-default__sidebar">
          <%= render V4::SidebarComponent.new(user: current_user, search: @search) %>
        </div>

        <div class="l-default__main d-flex flex-column">
          <div class="l-default__content">
            <%= render V4::FlashComponent.new(flash) %>
            <%= yield %>
          </div>

          <div class="l-default__footer">
            <%= V6::FooterComponent.new(self).render %>
          </div>

          <div class="l-default__tab_bar">
            <%= V6::TabBarComponent.new(self, current_user: current_user).render %>
          </div>
        </div>
      </div>

      <%= render "application/sign_up_modal" %>
    </div>
  </body>
</html>
