<%= content_for :head_vendor_assets do %>
  <script>
    <%# Set this config to rerender icon when Vue's state changed %>
    window.FontAwesomeConfig = { autoReplaceSvg: 'nest' };
  </script>
<% end %>

<%= content_for :head_assets do %>
  <%= stylesheet_bundle_tag "v4.css", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_bundle_tag "v4.js", defer: "", "data-turbo-track": "reload" %>
<% end %>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "application/head" %>
  </head>
  <body>
    <div class="ann-application">
      <div class="l-simple">
        <%= render FlashComponent.new(flash) %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
