<% title = t "head.title.sign_up.new" %>
<% set_meta_tags title: title, reverse: true, prefix: false %>

<div class="container">
  <div class="justify-content-center row">
    <div class="col-12 col-lg-6 py-5">
      <div class="mb-5 text-center">
        <%= link_to root_path do %>
          <%= image_tag asset_bundle_path("images/logos/color-mizuho.png"), size: "50x61", alt: "Annict" %>
        <% end %>
      </div>

      <div class="c-sign-up-form-via-oauth px-3 mb-3">
        <h1 class="my-5 text-center">
          <%= t "messages._common.join_annict" %>
        </h1>

        <% if @expired %>
          <p class="text-center">
            <%= t "messages.registrations.new.expired_html" %>
          </p>
        <% else %>
          <%= form_for @form, url: registrations_path do |f| %>
            <%= render ErrorPanelComponent.new(form: @form) %>

            <div class="form-group">
              <%= f.label :username %>
              <%# f.text_field :username, autofocus: true, class: "form-control", placeholder: "BK201", required: true, tabindex: 1 %>
              <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "BK201", tabindex: 1 %>
              <small class="text-muted form-text">
                <%= t "messages.registrations.new.username_hint" %>
              </small>
            </div>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, class: "form-control-plaintext", readonly: true %>
            </div>

            <div class="form-group form-check">
              <%= f.check_box :terms_and_privacy_policy_agreement, class: "form-check-input" %>
              <%= f.label :terms_and_privacy_policy_agreement, class: "form-check-label" do %>
                <%= t "activerecord.attributes.user.terms_and_privacy_policy_agreement_html" %>
              <% end %>
            </div>

            <%= f.hidden_field :token %>

            <div class="text-center">
              <%= f.button class: "btn btn-primary" do %>
                <%= icon "rocket" %>
                <%= t "noun.sign_up" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
