<% title = t "head.title.mutes.index" %>
<% set_meta_tags title: title, reverse: true, prefix: false %>

<%= render "settings/nav" %>

<div class="mt-3 u-container-narrow u-container-flat">
  <div class="card u-card-flat">
    <div class="card-body py-0">
      <% if @mute_users.present? %>
        <% @mute_users.each do |mute_user| %>
          <div class="py-3 u-underline">
            <div class="align-items-center gx-3 row">
              <div class="col-auto">
                <%= link_to profile_path(mute_user.muted_user.username) do %>
                  <%= render Pictures::AvatarPictureComponent.new(user: mute_user.muted_user, width: 50) %>
                <% end %>
              </div>

              <div class="col">
                <%= link_to mute_user.muted_user.profile.name, profile_path(mute_user.muted_user.username), class: "profile-name" %>
              </div>

              <div class="col-auto">
                <%= link_to t("verb.unmute"), settings_muted_user_path(mute_user), class: "btn btn-primary btn-sm", data: { method: :delete, confirm: t("messages._common.are_you_sure") } %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= render "application/components/empty", text: t("messages.mutes.no_muted_users_found") %>
      <% end %>
    </div>
  </div>
</div>
