<% title = t "head.title.works.newest" %>
<% description = meta_description(t("head.meta.description.works.newest")) %>
<% set_meta_tags(title: title, description: description, og: { description: description }, twitter: { description: description }, reverse: true, prefix: false) %>

<%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path, method: :post, payload: {anime_ids: @anime_ids}) %>

<div class="container mt-3">
  <div class="align-items-center justify-content-between row">
    <div class="col">
      <h1 class="fw-bold h3 mb-0">
        <%= title %>
      </h1>
    </div>

    <div class="col-auto">
      <%= Buttons::ShareToTwitterButtonComponent.new(self, text: title, url: "#{local_url}#{newest_anime_list_path}", class_name: "me-3").render %>
      <%= render "animes/display_option_buttons", display_option: @display_option %>
    </div>
  </div>
</div>

<div class="container mt-3 u-container-flat">
  <div class="card u-card-flat">
    <div class="card-body">
      <%= render "animes/display_options/#{@display_option}", animes: @animes %>
    </div>
  </div>
</div>

<% if @animes.present? %>
  <div class="mt-3 text-center">
    <%= ButtonGroups::PaginationButtonGroupComponent.new(self, collection: @animes).render %>
  </div>
<% end %>
