<%= content_for :head_assets do %>
  <%= stylesheet_bundle_tag "db.css", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_bundle_tag "db.js", defer: "", "data-turbo-track": "reload" %>
<% end %>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "application/head" %>
  </head>
  <body>
    <div class="f-app">
      <div class="f-app__sidebar">
        <%= render Db::SidebarComponent.new(search: @search) %>
      </div>
      <div class="f-app__main d-flex flex-column">
        <div class="f-application__main__content">
          <%= render FlashComponent.new(flash) %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
