<div class="c-db-sidebar">
  <%= link_to db_root_path, class: "c-db-sidebar__lockup my-3 px-3" do %>
    <span class="c-db-sidebar__lockup__logo">
      Annict
    </span>
    <span class="c-db-sidebar__lockup__brand">
      DB
    </span>
  <% end %>

  <%= form_with class: "px-1", html: { method: :get }, url: db_search_path do %>
    <div class="mb-3">
      <%= text_field_tag "q", search.q, class: "form-control", placeholder: t("messages._common.search_with_keywords") %>
    </div>
  <% end %>

  <ul class="c-db-sidebar__menu nav navbar-nav px-3 mt-3">
    <li>
      <%= link_to t("noun.activities"), db_activity_list_path, class: "d-inline-block" %>
    </li>

    <li>
      <%= link_to t("noun.series"), db_series_list_path, class: "d-inline-block" %>
    </li>

    <li>
      <%= link_to t("noun.works"), db_works_path, class: "d-inline-block" %>
    </li>

    <li>
      <%= link_to t("noun.people"), db_people_path, class: "d-inline-block" %>
    </li>

    <li>
      <%= link_to t("noun.organizations"), db_organizations_path, class: "d-inline-block" %>
    </li>

    <li>
      <%= link_to t("noun.characters"), db_characters_path, class: "d-inline-block" %>
    </li>

    <li>
      <%= link_to t("noun.channel_groups"), db_channel_groups_path, class: "d-inline-block" %>
    </li>

    <li>
      <%= link_to t("noun.channels"), db_channels_path, class: "d-inline-block" %>
    </li>
  </ul>

  <%= link_to root_path, class: "c-db-sidebar__annict-link d-inline-block text-center" do %>
    <%= image_tag "logos/color-white.png", size: "33x40" %>
  <% end %>
</div>
