<div
  class="pl-default"
  data-controller="application"
  data-application-page-category="<%= page_category %>"
  data-application-params="<%= user_data_fetcher_params.to_json %>"
>
  <div class="pl-default__sidebar">
    <%= render SidebarComponent.new(user: current_user, search: @search) %>
  </div>

  <div class="pl-default__main d-flex flex-column">
    <div class="pl-default__content">
      <%= render FlashComponent.new(flash) %>
      <%= yield %>
    </div>

    <div class="pl-default__footer">
      <%= render FooterComponent.new %>
    </div>

    <div class="pl-default__tab_bar">
      <%= render TabBarComponent.new(user: current_user) %>
    </div>
  </div>
</div>

<%= render "application/sign_up_modal" %>
