<turbo-frame id="<%= dom_id(@form.record) %>">
  <%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path, method: :post, payload: {work_ids: @work_ids}) %>
  <%= component_value_fetcher_tag("like-button", internal_api_like_list_path) %>

  <%= Headers::RecordHeaderComponent.new(self, record: @record, show_options: @show_options).render %>

  <div class="mt-3">
    <% if @record.episode_record? %>
      <%= Forms::EpisodeRecordFormComponent.new(self, form: @form).render %>
    <% else %>
      <%= Forms::WorkRecordFormComponent.new(self, form: @form).render %>
    <% end %>
  </div>

  <% if @show_box %>
    <hr>

    <%= Boxes::WorkBoxComponent.new(self, work: @work, episode: @episode).render %>

    <hr>
  <% end %>

  <div class="mt-1">
    <%= Footers::RecordFooterComponent.new(self, record: @record).render %>
  </div>
</turbo-frame>
