<%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path, method: :post, payload: {work_ids: resources.pluck(:id)}) %>

<% if resources.present? %>
  <div class="vstack gap-3">
    <% resources.each do |work| %>
      <div class="g-3 row">
        <div class="col-4 col-sm-3 col-md-2">
          <%= link_to work_path(work.id) do %>
            <%= render Pictures::WorkPictureComponent.new(work: work, width: 100) %>
          <% end %>
          <% if work.work_image.present? %>
            <div class="u-very-small text-end">
              <%= work.work_image.asin_or_copyright_text %>
            </div>
          <% end %>
        </div>

        <div class="col-8 col-sm-9 col-md-10">
          <%= Badges::WorkMediaBadgeComponent.new(self, work: work).render %>

          <div>
            <%= link_to work.local_title, work_path(work.id), class: "body-text" %>
          </div>

          <div class="mt-2">
            <%= ButtonGroups::WorkButtonGroupComponent.new(self, work: work).render %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <%= render "application/components/empty", text: t("messages._empty.no_works") %>
<% end %>
