<div class="c-subnav c-subnav--transparent">
  <%= link_to anime_path(anime_id: @anime.id), class: "c-subnav__link #{'c-subnav__link--active' if @page_category.in?(%w(anime))}" do %>
    <div class="c-subnav__item">
      <%= t "noun.detail" %>
    </div>
  <% end %>

  <% unless @anime.no_episodes? %>
    <%= link_to episode_list_path(anime_id: @anime.id), class: "c-subnav__link #{'c-subnav__link--active' if @page_category.in?(%w(episode episode-list))}" do %>
      <div class="c-subnav__item">
        <%= t "noun.episodes" %>
      </div>
    <% end %>
  <% end %>

  <%= link_to anime_record_list_path(anime_id: @anime.id), class: "c-subnav__link #{'c-subnav__link--active' if @page_category.in?(%w(anime-record-list))}" do %>
    <div class="c-subnav__item">
      <%= t "noun.records" %>
    </div>
  <% end %>
</div>
