<div class="c-episode-record-content c-record-content">
  <% if @episode_record_entity.rating || @record_entity.comment_html.present? %>
    <%= render V4::SpoilerGuardComponent.new(work_id: @work_entity.database_id, episode_id: @episode_entity.database_id) do %>
      <div class="c-record-content__wrapper mb-3">
        <% if @episode_record_entity.rating %>
          <%= render V4::RatingLabelComponent.new(rating: @episode_record_entity.rating, advanced_rating: @episode_record_entity.advanced_rating, class_name: "mb-1") %>
        <% end %>
        <%= render V4::BodyComponent.new(height: 300, format: :html) do %>
          <%== @record_entity.comment_html %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <% if @show_card %>
    <%= render V4::EpisodeRecordCardComponent.new(work_entity: @work_entity, episode_entity: @episode_entity, episode_record_entity: @episode_record_entity) %>
  <% end %>
  <%= render V4::EpisodeRecordFooterComponent.new(viewer: @viewer, user_entity: @user_entity, record_entity: @record_entity, episode_record_entity: @episode_record_entity) %>
</div>
