<nav class="c-pagination">
  <ul class="<%= pagination_class_name %>">
    <li class="<%= prev_page_item_class_name %>">
      <%= link_to prev_resources_path, class: "page-link" do %>
        <i class="fal fa-angle-left me-1"></i>
        <%= t "noun.prev_page" %>
      <% end %>
    </li>

    <li class="<%= next_page_item_class_name %>">
      <%= link_to next_resources_path, class: "page-link" do %>
        <%= t "noun.next_page" %>
        <i class="fal fa-angle-right ms-1"></i>
      <% end %>
    </li>
  </ul>
</nav>
