<% title = t "head.title.works.show", title: @work_entity.local_title %>
<% description = meta_description(t("head.meta.description.works.show", title: @work_entity.local_title)) %>
<% image_url = @work_entity.image_url_1x %>
<% set_meta_tags(title: title, description: description, og: { description: description, image: image_url }, twitter: { description: description, image: image_url }, reverse: true, prefix: false) %>

<div class="container-fluid py-3">
  <div class="row">
    <div class="col-md-3 pr-md-0">
      <%= render Sidebar::AnimeSidebarComponent.new(anime_entity: @work_entity, vod_channel_entities: @existing_vod_channel_entities, viewer: current_user) %>
    </div>

    <div class="col-md-9">
      <div class="mb-3">
        <%= render WorkSubNavComponent.new(work_entity: @work_entity, page_category: "work_detail") %>
      </div>

      <% if @work_entity.trailers.present? %>
        <div>
          <h2 class="font-weight-bold h3 mb-3">
            <%= t "noun.pv" %>
          </h2>

          <div class="row">
            <% @work_entity.trailers.each do |trailer| %>
              <div class="col-md-4 col-6 text-center mb-4">
                <%= link_to trailer.url, rel: "noopener", target: "_blank" do %>
                  <div class="c-video-thumbnail">
                    <div class="c-video-thumbnail__image rounded" style="background-image: url(<%= trailer.image_url %>);"></div>
                    <i class="far fa-play-circle"></i>
                  </div>
                  <div class="small">
                    <%= trailer.title %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @work_entity.local_synopsis.present? %>
        <div class="mb-3">
          <h2 class="font-weight-bold h3 mb-3">
            <%= t "activerecord.attributes.work.synopsis" %>
          </h2>

          <%= render BodyComponent.new do %>
            <%= @work_entity.local_synopsis.html_safe %>
          <% end %>

          <div class="small text-right">
            <%= t "noun.source" %>: <%= @work_entity.local_synopsis_source %>
          </div>
        </div>
      <% end %>

      <% unless @work_entity.is_no_episodes %>
        <div class="mb-3">
          <h2 class="font-weight-bold h3 mb-3">
            <%= t "noun.episodes" %>
          </h2>

          <% if @work_entity.episodes && @work_entity.episodes.length > 0 %>
            <div class="row">
              <% @work_entity.episodes.each do |episode_entity| %>
                <div class="col-6 col-sm-4 mb-3">
                  <%= link_to work_episode_path(@work_entity.database_id, episode_entity.database_id) do %>
                    <%= episode_entity.number_text %>
                    <div class="small u-text-body">
                      <%= episode_entity.local_title %>
                    </div>
                  <% end %>
                </div>
              <% end %>

              <% if @work_entity.episodes_count > 50 %>
                <div class="container my-3">
                  <%= link_to work_episodes_path(@work_entity.database_id), class: "btn btn-secondary w-100" do %>
                    <i class="fas fa-angle-right"></i>
                    <%= t "messages.works.view_all_n_episodes", n: @work_entity.episodes_count %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% else %>
            <%= render EmptyComponent.new(text: t("messages._empty.no_episodes")) %>
          <% end %>
        </div>
      <% end %>

      <div class="mb-3">
        <h2 class="font-weight-bold h3 mb-3">
          <%= t "noun.characters" %>
        </h2>

        <% if @work_entity.casts.present? %>
          <div class="row">
            <% @work_entity.casts.each do |cast| %>
              <div class="col-6 col-sm-3 mb-3">
                <%= link_to cast.character.local_name, character_path(cast.character.database_id) %>
                <div class="small">
                  <span>CV:</span>
                  <%= link_to cast.local_accurate_name, person_path(cast.person.database_id) %>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= render EmptyComponent.new(text: t("messages._empty.no_characters")) %>
        <% end %>
      </div>

      <div class="mb-3">
        <h2 class="font-weight-bold h3 mb-3">
          <%= t "noun.staffs" %>
        </h2>

        <% if @work_entity.staffs.present? %>
          <div class="row">
            <% @work_entity.staffs.each do |staff| %>
              <div class="col-6 col-sm-3 mb-3">
                <% if staff.person? %>
                  <%= link_to staff.local_accurate_name, person_path(staff.resource.database_id) %>
                <% else %>
                  <%= link_to staff.local_accurate_name, organization_path(staff.resource.database_id) %>
                <% end %>
                <div class="small">
                  <%= staff.local_role %>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= render EmptyComponent.new(text: t("messages._empty.no_staffs")) %>
        <% end %>
      </div>

      <% if locale_ja? %>
        <div class="mb-3">
          <h2 class="font-weight-bold h3 mb-3">
            <%= t "noun.vods" %>
          </h2>

          <div class="row">
            <% @vod_channels.each do |vod_channel| %>
              <div class="col-6 col-xl-4 mb-3">
                <% if vod_channel.programs.length > 1 %>
                  <div class="btn-group w-100">
                    <button class="btn u-btn-link w-100 dropdown-toggle" type="button" data-toggle="dropdown">
                      <%= vod_channel.name %>
                      <div class="dropdown-menu w-100">
                        <% vod_channel.programs.each do |program| %>
                          <%= link_to program.vod_title_name, program.vod_title_url, class: "dropdown-item", target: "_blank", rel: "noopener" %>
                        <% end %>
                      </div>
                    </button>
                  </div>
                <% elsif vod_channel.programs.length == 1 && vod_channel.programs.first.vod_title_url.present? %>
                  <%= link_to vod_channel.name, vod_channel.programs.first.vod_title_url, class: "btn u-btn-link w-100", target: "_blank", rel: "noopener" %>
                <% else %>
                  <button class="btn u-btn-link u-cursor-default w-100" type="button" disabled>
                    <%= vod_channel.name %>
                  </button>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="mb-5">
        <div class="container">
          <div class="row justify-content-between">
            <h2 class="font-weight-bold h3 mb-3">
              <%= t "noun.record_body_list" %>
            </h2>

            <div>
              <%= link_to work_records_path(@work_entity.database_id), class: "btn btn-primary btn-sm" do %>
                <i class="far fa-edit mr-1"></i>
                <%= t "verb.track" %>
              <% end %>
            </div>
          </div>
        </div>

        <% if @work_entity.anime_records.present? %>
          <div>
            <% @work_entity.anime_records.first(10).each do |work_record| %>
              <div class="py-3 u-underline">
                <div class="mb-3 row">
                  <div class="col-auto pl-3 pr-0">
                    <%= link_to profile_path(work_record.user.username) do %>
                      <%= render ProfileImageComponent.new(
                          image_url_1x: work_record.user.avatar_url,
                          alt: "@#{work_record.user.username}"
                      ) %>
                    <% end %>
                  </div>
                  <div class="col">
                    <div>
                      <%= link_to profile_path(work_record.user.username) do %>
                        <%= work_record.user.name %>
                      <% end %>
                      <% if work_record.user.display_supporter_badge %>
                      <span class="badge u-badge-supporter ml-1">
                        <%= t "noun.supporter" %>
                      </span>
                      <% end %>
                    </div>
                    <div>
                      <%= link_to record_path(work_record.user.username, work_record.record.database_id), class: "small text-muted" do %>
                        <%= display_time(work_record.created_at) %>
                      <% end %>
                      <% if work_record.modified_at.present? %>
                        <small class="ml-1 text-muted">
                          <i class="fas fa-pencil-alt"></i>
                        </small>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <%= render SpoilerGuardComponent.new(work_id: @work_entity.database_id) do %>
                    <div class="row">
                      <div class="col-12 col-xl-4 order-1 order-xl-2">
                        <% if work_record.rating_overall_state.present? %>
                          <div class="mb-3 mb-xl-0 p-3 rounded u-bg-black-000">
                            <div class="small font-weight-bold text-center mb-2">
                              <%= t "noun.rating" %>
                            </div>
                            <% if work_record.rating_animation_state.present? %>
                              <div class="row">
                                <div class="col">
                                  <%= t "noun.animation" %>
                                </div>
                                <div class="col pl-0 text-right">
                                  <%= render RatingLabelComponent.new(kind: work_record.rating_animation_state) %>
                                </div>
                              </div>
                            <% end %>
                            <% if work_record.rating_music_state.present? %>
                              <div class="row">
                                <div class="col">
                                  <%= t "noun.music" %>
                                </div>
                                <div class="col pl-0 text-right">
                                  <%= render RatingLabelComponent.new(kind: work_record.rating_music_state) %>
                                </div>
                              </div>
                            <% end %>
                            <% if work_record.rating_story_state.present? %>
                              <div class="row">
                                <div class="col">
                                  <%= t "noun.story" %>
                                </div>
                                <div class="col pl-0 text-right">
                                  <%= render RatingLabelComponent.new(kind: work_record.rating_story_state) %>
                                </div>
                              </div>
                            <% end %>
                            <% if work_record.rating_character_state.present? %>
                              <div class="row">
                                <div class="col">
                                  <%= t "noun.character" %>
                                </div>
                                <div class="col pl-0 text-right">
                                  <%= render RatingLabelComponent.new(kind: work_record.rating_character_state) %>
                                </div>
                              </div>
                            <% end %>
                            <% if work_record.rating_overall_state.present? %>
                              <div class="row">
                                <div class="col">
                                  <%= t "noun.overall" %>
                                </div>
                                <div class="col pl-0 text-right">
                                  <%= render RatingLabelComponent.new(kind: work_record.rating_overall_state) %>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                      <div class="col-12 col-xl-8 order-2 order-xl-1">
                        <%= render BodyComponent.new(height: 300, class_name: "mb-3") do %>
                          <%= work_record.body %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>

                <div class="align-items-center px-3 row">
                  <div class="col text-right">
                    <span class="mr-2">
                      <%= render ShareToTwitterButtonComponent.new(
                        text: t("head.title.work_records.show", work_title: @work_entity.local_title, profile_name: work_record.user.name, username: work_record.user.username),
                        url: "#{local_url}/@#{work_record.user.username}/records/#{work_record.record.database_id}",
                        hashtags: @work_entity.twitter_hashtag.presence || ''
                      ) %>
                    </span>

                    <span class="mr-2">
                      <%= render ShareToFacebookButtonComponent.new(url: "#{local_url}/@#{work_record.user.username}/records/#{work_record.record.database_id}") %>
                    </span>

                    <%= render LikeButtonComponent.new(
                      resource_name: "WorkRecord",
                      resource_id: work_record.database_id,
                      likes_count: work_record.likes_count,
                      page_category: "work-detail",
                    ) %>
                  </div>
                </div>

                <% if user_signed_in? && current_user.username == work_record.user.username %>
                  <div class="small text-right mt-2">
                    <%= link_to edit_work_record_path(@work_entity.database_id, work_record.record.database_id), class: "mr-2" do %>
                      <i class="fab fa-edit mr-1"></i>
                      <%= t "noun.edit" %>
                    <% end %>
                    <%= link_to record_path(work_record.user.username, work_record.record.database_id), method: :delete do %>
                      <i class="far fa-trash-alt mr-1"></i>
                      <%= t "noun.delete" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>

          <% if @work_entity.anime_records.length > 10 %>
            <div class="container mb-3">
              <%= link_to work_records_path(@work_entity.database_id), class: "btn btn-secondary w-100" do %>
                <i class="fas fa-angle-right"></i>
                <%= t "messages.works.view_all_n_record_body_list", n: @work_entity.anime_records_with_body_count %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <%= render EmptyComponent.new(text: t("messages._empty.no_record_body_list")) %>
        <% end %>
      </div>

      <div class="mb-5">
        <h2 class="font-weight-bold h3 mb-3">
          <%= t "noun.stats" %>
        </h2>

        <div class="container mt-3 pt-3">
          <div class="row">
            <div class="col-12 col-sm-6 mb-3">
              <h3 class="small text-center">
                Watchers
              </h3>

              <c-work-watchers-chart :work-id="<%= @work_entity.database_id %>"></c-work-watchers-chart>
            </div>

            <div class="col-12 col-sm-6 mb-3">
              <h3 class="small text-center">
                Status
              </h3>

              <c-work-status-chart :work-id="<%= @work_entity.database_id %>"></c-work-status-chart>
            </div>
          </div>
        </div>
      </div>

      <% if @work_entity.series_list.present? %>
        <h2 class="h4 text-center my-4 font-weight-bold">
          <%= t "noun.related_works" %>
        </h2>
        <div class="p-works-show__series mt-3 pl-3 py-3">
          <% @work_entity.series_list.each do |series| %>
            <h3 class="text-center mb-3">
              <%= t "noun.series_with_name", series_name: series.local_name %>
            </h3>
            <div class="px-3">
              <div class="row">
                <% series.series_anime_list.each do |series_work| %>
                  <div class="col-4 col-sm-2 p-0 pr-3 mb-3">
                    <div class="c-card">
                      <%= link_to work_path(series_work.database_id) do %>
                        <div class="c-hover-image">
                          <div class="c-hover-image__image">
                            <%= render WorkImageComponent.new(image_url_1x: series_work.image_url_1x, image_url_2x: series_work.image_url_2x) %>
                          </div>
                          <div class="c-hover-image__over"></div>
                        </div>
                      <% end %>
                      <div class="p-1">
                        <div class="u-very-small">
                          <%= link_to series_work.local_title, work_path(series_work.database_id) %>
                        </div>
                        <% if series_work.local_summary.present? %>
                          <div class="u-very-small">
                            <%= series_work.local_summary %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
