<% title = t "head.title.works.show", title: @work.local_title %>
<% description = meta_description(t("head.meta.description.works.show", title: @work.local_title)) %>
<% image_url = @work.image_url_1x %>
<% set_meta_tags(title: title, description: description, og: { description: description, image: image_url }, twitter: { description: description, image: image_url }, reverse: true, prefix: false) %>
<% breadcrumb :work_detail_v4, @work %>

<%= render "partial_layouts/default", page_category: "work-detail" do %>
  <div class="py-3">
    <div class="row">
      <div class="col-md-3 pr-md-0">
        <div class="row mb-3 mb-sm-0">
          <div class="col-4 col-sm-12">
            <div class="mb-2 text-sm-left">
              <%= link_to work_path(@work.id) do %>
                <%= render WorkImageComponent.new(image_url_1x: @work.image_url_1x, image_url_2x: @work.image_url_2x, alt: @work.local_title) %>
              <% end %>
              <div class="u-very-small text-muted">
                <i class="far fa-copyright"></i>
                <%= @work.copyright %>
              </div>
            </div>
          </div>
          <div class="col-8 col-sm-12 pl-0 pl-sm-3">
            <h1 class="h2 font-weight-bold mb-3 text-sm-left">
              <%= link_to work_path(@work.id), class: "u-text-body" do %>
                <%= @work.local_title %>
              <% end %>
            </h1>

            <div class="row mb-3">
              <div class="col text-center">
                <div class="h4 font-weight-bold mb-1">
                  <%= @work.watchers_count %>
                </div>
                <div class="text-muted small">
                  <%= t "noun.watchers_count" %>
                </div>
              </div>
              <div class="col text-center">
                <div class="h4 font-weight-bold mb-1">
                  <%= @work.satisfaction_rate.presence || "-" %><span class="small ml-1">%</span>
                </div>
                <div class="text-muted small">
                  <%= t "noun.satisfaction_rate_shorten" %>
                </div>
              </div>
              <div class="col text-center">
                <div class="h4 font-weight-bold mb-1">
                  <%= @work.ratings_count %>
                </div>
                <div class="text-muted small">
                  <%= t "noun.ratings_count" %>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <c-status-selector :work-id="<%= @work.id %>" page_category="work-detail"></c-status-selector>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <h2 class="font-weight-bold h4 mb-3">
            <%= t "noun.information" %>
          </h2>

          <div class="mb-3 row">
            <% if @work.title_kana.present? %>
              <div class="col-6 col-sm-12 mb-2">
                <div class="small">
                  <%= t "activerecord.attributes.work.title_kana" %>
                </div>
                <div>
                  <%= @work.title_kana %>
                </div>
              </div>
            <% end %>

            <% if @work.title_alter.present? %>
              <div class="col-6 col-sm-12 mb-2">
                <div class="small">
                  <%= t "activerecord.attributes.work.title_alter" %>
                </div>
                <div>
                  <%= @work.title_alter %>
                </div>
              </div>
            <% end %>

            <% if @work.title_en.present? %>
              <div class="col-6 col-sm-12 mb-2">
                <div class="small">
                  <%= t "activerecord.attributes.work.title_en" %>
                </div>
                <div>
                  <%= @work.title_en %>
                </div>
              </div>
            <% end %>

            <% if @work.title_alter_en.present? %>
              <div class="col-6 col-sm-12 mb-2">
                <div class="small">
                  <%= t "activerecord.attributes.work.title_alter_en" %>
                </div>
                <div>
                  <%= @work.title_alter_en %>
                </div>
              </div>
            <% end %>

            <div class="col-6 col-sm-12 mb-2">
              <div class="small">
                <%= t "activerecord.attributes.work.media" %>
              </div>
              <div>
                <%= @work.media_text %>
              </div>
            </div>

            <% if @work.season_year.present? %>
              <div class="col-6 col-sm-12 mb-2">
                <div class="small">
                  <%= t "noun.release_season" %>
                </div>
                <div>
                  <%= link_to @work.local_season_name, season_works_path(slug: @work.season_slug) %>
                </div>
              </div>
            <% end %>

            <% if @work.started_on.present? %>
              <div class="col-6 col-sm-12 mb-2">
                <div class="small">
                  <%= t "noun.aired" %>
                </div>
                <div>
                  <%= @work.started_on %>
                </div>
              </div>
            <% end %>

            <% if @work.official_site_url.present? %>
              <div class="col-6 col-sm-12 mb-2">
                <div class="small">
                  <%= t "activerecord.attributes.work.official_site_url" %>
                </div>
                <div>
                  <%= link_with_domain(@work.official_site_url) %>
                </div>
              </div>
            <% end %>

            <% if @work.official_site_url_en.present? %>
              <div class="col-6 col-sm-12 mb-2">
                <div class="small">
                  <%= t "activerecord.attributes.work.official_site_url_en" %>
                </div>
                <div>
                  <%= link_with_domain(@work.official_site_url_en) %>
                </div>
              </div>
            <% end %>

            <% if @work.twitter_username.present? %>
              <div class="col-6 col-sm-12 mb-2">
                <div class="small">
                  <%= t "activerecord.attributes.work.twitter_username" %>
                </div>
                <div>
                  <%= render TwitterProfileLinkComponent.new(entity: @work)  %>
                </div>
              </div>
            <% end %>

            <% if @work.twitter_hashtag.present? %>
              <div class="col-6 col-sm-12 mb-2">
                <div class="small">
                  <%= t "activerecord.attributes.work.twitter_hashtag" %>
                </div>
                <div>
                  <%= render TwitterHashtagLinkComponent.new(entity: @work) %>
                </div>
              </div>
            <% end %>

            <% if @work.wikipedia_url.present? %>
              <div class="col-6 col-sm-12 mb-2">
                <div class="small">
                  <%= t "activerecord.attributes.work.wikipedia_url" %>
                </div>
                <div>
                  <%= link_with_domain(@work.wikipedia_url) %>
                </div>
              </div>
            <% end %>

            <% if @work.wikipedia_url_en.present? %>
              <div class="col-6 col-sm-12 mb-2">
                <div class="small">
                  <%= t "activerecord.attributes.work.wikipedia_url_en" %>
                </div>
                <div>
                  <%= link_with_domain(@work.wikipedia_url_en) %>
                </div>
              </div>
            <% end %>

            <% if @work.syobocal_tid.present? %>
              <div class="col-6 col-sm-12 mb-2">
                <div class="small">
                  <%= t "noun.syobocal" %>
                </div>
                <div>
                  <%= render SyobocalLinkComponent.new(work_entity: @work) %>
                </div>
              </div>
            <% end %>

            <% if @work.mal_anime_id.present? %>
              <div class="col-6 col-sm-12 mb-2">
                <div class="small">
                  <%= t "noun.my_anime_list" %>
                </div>
                <div>
                  <%= render MalLinkComponent.new(work_entity: @work) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <% if @existing_vod_channels.present? %>
          <div class="mb-sm-1">
            <h2 class="font-weight-bold h4 mb-3">
              <%= t "noun.vods" %>
            </h2>

            <ul class="list-unstyled mb-0 row">
              <% @existing_vod_channels.each do |vod_channel| %>
                <li class="col-6 col-sm-12 mb-3 mb-sm-2">
                  <%= link_to vod_channel.name, vod_channel.programs.first.vod_title_url, rel: "noopener", target: "_blank" %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <h2 class="font-weight-bold h4 mb-3">
            <%= t "noun.share" %>
          </h2>

          <c-share-to-twitter-button
            text="<%= @work.local_title %>"
            url="<%= "#{local_url}/works/#{@work.id}" %>"
            hashtags="<%= @work.twitter_hashtag.presence || '' %>"
          ></c-share-to-twitter-button>

          <c-share-to-facebook-button
            url="<%= "#{local_url}/works/#{@work.id}" %>"
          ></c-share-to-facebook-button>
        </div>

        <% if user_signed_in? && current_user.committer? %>
          <div class="mt-3">
            <%= link_to t("messages._common.edit_on_annict_db"), db_edit_work_path(@work.id), class: "btn btn-secondary w-100 mt-2" %>
          </div>
        <% end %>
      </div>

      <div class="col-md-9">
        <div class="mb-3">
          <%= render WorkSubNavComponent.new(work: @work, page_category: "work_detail") %>
        </div>

        <% if @work.trailers.present? %>
          <div>
            <h2 class="font-weight-bold h3 mb-3">
              <%= t "noun.pv" %>
            </h2>

            <div class="row">
              <% @work.trailers.each do |trailer| %>
                <div class="col-md-4 col-6 text-center mb-4">
                  <%= link_to trailer.url, rel: "noopener", target: "_blank" do %>
                    <div class="c-video-thumbnail">
                      <div class="c-video-thumbnail__image rounded" style="background-image: url(<%= trailer.image_url %>);"></div>
                      <i class="far fa-play-circle"></i>
                    </div>
                    <div class="small">
                      <%= trailer.title %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @work.local_synopsis_html.present? %>
          <div class="mb-3">
            <h2 class="font-weight-bold h3 mb-3">
              <%= t "activerecord.attributes.work.synopsis" %>
            </h2>

            <div class="c-body">
              <%= @work.local_synopsis_html.html_safe %>
            </div>

            <div class="small text-right">
              <%= t "noun.source" %>: <%= @work.local_synopsis_source %>
            </div>
          </div>
        <% end %>

        <% unless @work.is_no_episodes %>
          <div class="mb-3">
            <h2 class="font-weight-bold h3 mb-3">
              <%= t "noun.episodes" %>
            </h2>

            <% if @work.episodes.length > 0 %>
              <div class="row">
                <% @work.episodes.each do |episode| %>
                  <div class="col-6 col-sm-4 mb-3">
                    <%= link_to work_episode_path(@work.id, episode.id) do %>
                      <%= episode.number_text %>
                      <div class="small u-text-body">
                        <%= episode.local_title %>
                      </div>
                    <% end %>
                  </div>
                <% end %>

                <% if @work.episodes_count > 50 %>
                  <div class="container my-3">
                    <%= link_to work_episodes_path(@work.id), class: "btn btn-secondary w-100" do %>
                      <i class="fas fa-angle-right"></i>
                      <%= t "messages.works.view_all_n_episodes", n: @work.episodes_count %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <%= render EmptyComponent.new(text: t("messages._empty.no_episodes")) %>
            <% end %>
          </div>
        <% end %>

        <div class="mb-3">
          <h2 class="font-weight-bold h3 mb-3">
            <%= t "noun.characters" %>
          </h2>

          <% if @work.casts.present? %>
            <div class="row">
              <% @work.casts.each do |cast| %>
                <div class="col-6 col-sm-3 mb-3">
                  <%= link_to cast.character.local_name, character_path(cast.character.id) %>
                  <div class="small">
                    <span>CV:</span>
                    <%= link_to cast.local_accurate_name, person_path(cast.person.id) %>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <%= render EmptyComponent.new(text: t("messages._empty.no_characters")) %>
          <% end %>
        </div>

        <div class="mb-3">
          <h2 class="font-weight-bold h3 mb-3">
            <%= t "noun.staffs" %>
          </h2>

          <% if @work.staffs.present? %>
            <div class="row">
              <% @work.staffs.each do |staff| %>
                <div class="col-6 col-sm-3 mb-3">
                  <% if staff.person? %>
                    <%= link_to staff.local_accurate_name, person_path(staff.resource.id) %>
                  <% else %>
                    <%= link_to staff.local_accurate_name, organization_path(staff.resource.id) %>
                  <% end %>
                  <div class="small">
                    <%= staff.local_role %>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <%= render EmptyComponent.new(text: t("messages._empty.no_staffs")) %>
          <% end %>
        </div>

        <% if locale_ja? %>
          <div class="mb-3">
            <h2 class="font-weight-bold h3 mb-3">
              <%= t "noun.vods" %>
            </h2>

            <div class="row">
              <% @vod_channels.each do |vod_channel| %>
                <div class="col-6 col-xl-4 mb-3">
                  <% if vod_channel.programs.length > 1 %>
                    <div class="btn-group w-100">
                      <button class="btn u-btn-link w-100 dropdown-toggle" type="button" data-toggle="dropdown">
                        <%= vod_channel.name %>
                        <div class="dropdown-menu w-100">
                          <% vod_channel.programs.each do |program| %>
                            <%= link_to program.vod_title_name, program.vod_title_url, class: "dropdown-item", target: "_blank", rel: "noopener" %>
                          <% end %>
                        </div>
                      </button>
                    </div>
                  <% elsif vod_channel.programs.length == 1 && vod_channel.programs.first.vod_title_url.present? %>
                    <%= link_to vod_channel.name, vod_channel.programs.first.vod_title_url, class: "btn u-btn-link w-100", target: "_blank", rel: "noopener" %>
                  <% else %>
                    <button class="btn u-btn-link u-cursor-default w-100" type="button" disabled>
                      <%= vod_channel.name %>
                    </button>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="mb-5">
          <div class="container">
            <div class="row justify-content-between">
              <h2 class="font-weight-bold h3 mb-3">
                <%= t "noun.record_body_list" %>
              </h2>

              <div>
                <%= link_to work_records_path(@work.id), class: "btn btn-primary btn-sm" do %>
                  <i class="far fa-edit mr-1"></i>
                  <%= t "verb.track" %>
                <% end %>
              </div>
            </div>
          </div>

          <% if @work.work_records.present? %>
            <div>
              <% @work.work_records.first(10).each do |work_record| %>
                <div class="py-3 u-underline">
                  <div class="mb-3 row">
                    <div class="col-auto pl-3 pr-0">
                      <%= link_to user_path(work_record.user.username) do %>
                        <%= render ProfileImageComponent.new(
                            image_url_1x: work_record.user.avatar_url,
                            alt: "@#{work_record.user.username}"
                        ) %>
                      <% end %>
                    </div>
                    <div class="col">
                      <div>
                        <%= link_to user_path(work_record.user.username) do %>
                          <%= work_record.user.name %>
                        <% end %>
                        <% if work_record.user.is_supporter %>
                        <span class="badge u-badge-supporter ml-1">
                          <%= t "noun.supporter" %>
                        </span>
                        <% end %>
                      </div>
                      <div>
                        <%= link_to record_path(work_record.user.username, work_record.record.id), class: "small text-muted" do %>
                          <%= display_time(work_record.created_at) %>
                        <% end %>
                        <% if work_record.modified_at.present? %>
                          <small class="ml-1 text-muted">
                            <i class="fas fa-pencil-alt"></i>
                          </small>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col-12 col-xl-4 order-1 order-xl-2">
                        <% if work_record.rating_overall_state.present? %>
                          <div class="mb-3 mb-xl-0 p-3 rounded u-bg-black-000">
                            <div class="small font-weight-bold text-center mb-2">
                              <%= t "noun.rating" %>
                            </div>
                            <% if work_record.rating_animation_state.present? %>
                              <div class="row">
                                <div class="col">
                                  <%= t "noun.animation" %>
                                </div>
                                <div class="col pl-0 text-right">
                                  <c-rating-label init-kind="<%= work_record.rating_animation_state %>"></c-rating-label>
                                </div>
                              </div>
                            <% end %>
                            <% if work_record.rating_music_state.present? %>
                              <div class="row">
                                <div class="col">
                                  <%= t "noun.music" %>
                                </div>
                                <div class="col pl-0 text-right">
                                  <c-rating-label init-kind="<%= work_record.rating_music_state %>"></c-rating-label>
                                </div>
                              </div>
                            <% end %>
                            <% if work_record.rating_story_state.present? %>
                              <div class="row">
                                <div class="col">
                                  <%= t "noun.story" %>
                                </div>
                                <div class="col pl-0 text-right">
                                  <c-rating-label init-kind="<%= work_record.rating_story_state %>"></c-rating-label>
                                </div>
                              </div>
                            <% end %>
                            <% if work_record.rating_character_state.present? %>
                              <div class="row">
                                <div class="col">
                                  <%= t "noun.character" %>
                                </div>
                                <div class="col pl-0 text-right">
                                  <c-rating-label init-kind="<%= work_record.rating_character_state %>"></c-rating-label>
                                </div>
                              </div>
                            <% end %>
                            <% if work_record.rating_overall_state.present? %>
                              <div class="row">
                                <div class="col">
                                  <%= t "noun.overall" %>
                                </div>
                                <div class="col pl-0 text-right">
                                  <c-rating-label init-kind="<%= work_record.rating_overall_state %>"></c-rating-label>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                      <div class="col-12 col-xl-8 order-2 order-xl-1">
                        <div class="c-body mb-3">
                          <%== work_record.body_html %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="align-items-center px-3 row">
                    <div class="col text-right">
                    <span class="mr-2">
                      <c-share-to-twitter-button
                        text="<%= t("head.title.work_records.show", work_title: @work.local_title, profile_name: work_record.user.name, username: work_record.user.username) %>"
                        url="<%= "#{local_url}/@#{work_record.user.username}/records/#{work_record.record.id}" %>"
                        hashtags="<%= @work.twitter_hashtag.presence || '' %>"
                      ></c-share-to-twitter-button>
                    </span>

                      <span class="mr-2">
                      <c-share-to-facebook-button
                        url="<%= "#{local_url}/@#{work_record.user.username}/records/#{work_record.record.id}" %>"
                      ></c-share-to-facebook-button>
                    </span>

                      <c-like-button
                        resource-name="WorkRecord"
                        :resource-id="<%= work_record.id %>"
                        :init-likes-count="<%= work_record.likes_count %>"
                        :is-signed-in="<%= user_signed_in? ? 'true' : 'false' %>"
                        page-category="work-detail"
                      ></c-like-button>
                    </div>
                  </div>

                  <% if user_signed_in? && current_user.username == work_record.user.username %>
                    <div class="small text-right mt-2">
                      <%= link_to edit_work_record_path(@work.id, work_record.record.id), class: "mr-2" do %>
                        <i class="fab fa-edit mr-1"></i>
                        <%= t "noun.edit" %>
                      <% end %>
                      <%= link_to record_path(work_record.user.username, work_record.record.id), method: :delete do %>
                        <i class="far fa-trash-alt mr-1"></i>
                        <%= t "noun.delete" %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>

            <% if @work.work_records.length > 10 %>
              <div class="container mb-3">
                <%= link_to work_records_path(@work.id), class: "btn btn-secondary w-100" do %>
                  <i class="fas fa-angle-right"></i>
                  <%= t "messages.works.view_all_n_record_body_list", n: @work.work_records_with_body_count %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <%= render EmptyComponent.new(text: t("messages._empty.no_record_body_list")) %>
          <% end %>
        </div>

        <div class="mb-5">
          <h2 class="font-weight-bold h3 mb-3">
            <%= t "noun.stats" %>
          </h2>

          <div class="container mt-3 pt-3">
            <div class="row">
              <div class="col-12 col-sm-6 mb-3">
                <h3 class="small text-center">
                  Watchers
                </h3>

                <c-work-watchers-chart :work-id="<%= @work.id %>"></c-work-watchers-chart>
              </div>

              <div class="col-12 col-sm-6 mb-3">
                <h3 class="small text-center">
                  Status
                </h3>

                <c-work-status-chart :work-id="<%= @work.id %>"></c-work-status-chart>
              </div>
            </div>
          </div>
        </div>

        <% if @work.series_list.present? %>
          <h2 class="h4 text-center my-4 font-weight-bold">
            <%= t "noun.related_works" %>
          </h2>
          <div class="p-works-show__series mt-3 pl-3 py-3">
            <% @work.series_list.each do |series| %>
              <h3 class="text-center mb-3">
                <%= t "noun.series_with_name", series_name: series.local_name %>
              </h3>
              <div class="px-3">
                <div class="row">
                  <% series.series_works.each do |series_work| %>
                    <div class="col-4 col-sm-2 p-0 pr-3 mb-3">
                      <div class="c-card">
                        <%= link_to work_path(series_work.id) do %>
                          <div class="c-hover-image">
                            <div class="c-hover-image__image">
                              <%= render WorkImageComponent.new(image_url_1x: series_work.image_url_1x, image_url_2x: series_work.image_url_2x) %>
                            </div>
                            <div class="c-hover-image__over"></div>
                          </div>
                        <% end %>
                        <div class="p-1">
                          <div class="u-very-small">
                            <%= link_to series_work.local_title, work_path(series_work.id) %>
                          </div>
                          <% if series_work.local_summary.present? %>
                            <div class="u-very-small">
                              <%= series_work.local_summary %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
