<% title = t "head.title.works.show", title: @anime_entity.local_title %>
<% description = meta_description(t("head.meta.description.works.show", title: @anime_entity.local_title)) %>
<% image_url = @anime_entity.image_url_1x %>
<% set_meta_tags(title: title, description: description, og: { description: description, image: image_url }, twitter: { description: description, image: image_url }, reverse: true, prefix: false) %>

<div class="container-fluid py-3">
  <div class="row">
    <div class="col-md-3 pr-md-0">
      <%= render Sidebars::AnimeSidebarComponent.new(anime_entity: @anime_entity, vod_channel_entities: @existing_vod_channel_entities, viewer: current_user) %>
    </div>

    <div class="col-md-9">
      <div class="mb-3">
        <%= render WorkSubNavComponent.new(work_entity: @anime_entity, page_category: "work_detail") %>
      </div>

      <% if @anime_entity.trailers.present? %>
        <div>
          <h2 class="fw-bold h3 mb-3">
            <%= t "noun.pv" %>
          </h2>

          <div class="row">
            <% @anime_entity.trailers.each do |trailer| %>
              <div class="col-md-4 col-6 text-center mb-4">
                <%= link_to trailer.url, rel: "noopener", target: "_blank" do %>
                  <div class="c-video-thumbnail">
                    <div class="c-video-thumbnail__image rounded" style="background-image: url(<%= trailer.image_url %>);"></div>
                    <i class="far fa-play-circle"></i>
                  </div>
                  <div class="small">
                    <%= trailer.title %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @anime_entity.local_synopsis.present? %>
        <div class="mb-3">
          <h2 class="fw-bold h3 mb-3">
            <%= t "activerecord.attributes.work.synopsis" %>
          </h2>

          <%= render BodyComponent.new do %>
            <%= @anime_entity.local_synopsis.html_safe %>
          <% end %>

          <div class="small text-end">
            <%= t "noun.source" %>: <%= @anime_entity.local_synopsis_source %>
          </div>
        </div>
      <% end %>

      <% unless @anime_entity.is_no_episodes %>
        <div class="mb-3">
          <h2 class="fw-bold h3 mb-3">
            <%= t "noun.episodes" %>
          </h2>

          <% if @anime_entity.episodes && @anime_entity.episodes.length > 0 %>
            <div class="row">
              <% @anime_entity.episodes.each do |episode_entity| %>
                <div class="col-6 col-sm-4 mb-3">
                  <%= link_to episode_path(anime_id: @anime_entity.database_id, episode_id: episode_entity.database_id) do %>
                    <%= episode_entity.local_number %>
                    <div class="small u-text-body">
                      <%= episode_entity.local_title %>
                    </div>
                  <% end %>
                </div>
              <% end %>

              <% if @anime_entity.episodes_count > 50 %>
                <div class="container my-3">
                  <%= link_to episode_list_path(anime_id: @anime_entity.database_id), class: "btn btn-secondary w-100" do %>
                    <i class="fas fa-angle-right"></i>
                    <%= t "messages.works.view_all_n_episodes", n: @anime_entity.episodes_count %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% else %>
            <%= render EmptyComponent.new(text: t("messages._empty.no_episodes")) %>
          <% end %>
        </div>
      <% end %>

      <div class="mb-3">
        <h2 class="fw-bold h3 mb-3">
          <%= t "noun.characters" %>
        </h2>

        <% if @anime_entity.casts.present? %>
          <div class="row">
            <% @anime_entity.casts.each do |cast| %>
              <div class="col-6 col-sm-3 mb-3">
                <%= link_to cast.character.local_name, character_path(cast.character.database_id) %>
                <div class="small">
                  <span>CV:</span>
                  <%= link_to cast.local_accurate_name, person_path(cast.person.database_id) %>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= render EmptyComponent.new(text: t("messages._empty.no_characters")) %>
        <% end %>
      </div>

      <div class="mb-3">
        <h2 class="fw-bold h3 mb-3">
          <%= t "noun.staffs" %>
        </h2>

        <% if @anime_entity.staffs.present? %>
          <div class="row">
            <% @anime_entity.staffs.each do |staff| %>
              <div class="col-6 col-sm-3 mb-3">
                <% if staff.person? %>
                  <%= link_to staff.local_accurate_name, person_path(staff.resource.database_id) %>
                <% else %>
                  <%= link_to staff.local_accurate_name, organization_path(staff.resource.database_id) %>
                <% end %>
                <div class="small">
                  <%= staff.local_role %>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= render EmptyComponent.new(text: t("messages._empty.no_staffs")) %>
        <% end %>
      </div>

      <% if locale_ja? %>
        <div class="mb-3">
          <h2 class="fw-bold h3 mb-3">
            <%= t "noun.vods" %>
          </h2>

          <div class="row">
            <% @vod_channel_entities.each do |vod_channel_entity| %>
              <div class="col-6 col-xl-4 mb-3">
                <% if vod_channel_entity.programs.length > 1 %>
                  <div class="btn-group w-100">
                    <button class="btn u-btn-link w-100 dropdown-toggle" type="button" data-toggle="dropdown">
                      <%= vod_channel_entity.name %>
                      <div class="dropdown-menu w-100">
                        <% vod_channel_entity.programs.each do |program_entity| %>
                          <%= link_to program_entity.vod_title_name, program_entity.vod_title_url, class: "dropdown-item", target: "_blank", rel: "noopener" %>
                        <% end %>
                      </div>
                    </button>
                  </div>
                <% elsif vod_channel_entity.programs.length == 1 && vod_channel_entity.programs.first.vod_title_url.present? %>
                  <%= link_to vod_channel_entity.name, vod_channel_entity.programs.first.vod_title_url, class: "btn u-btn-link w-100", target: "_blank", rel: "noopener" %>
                <% else %>
                  <button class="btn u-btn-link u-cursor-default w-100" type="button" disabled>
                    <%= vod_channel_entity.name %>
                  </button>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="mb-5">
        <div class="container">
          <div class="row justify-content-between">
            <h2 class="fw-bold h3 mb-3">
              <%= t "noun.record_body_list" %>
            </h2>

            <div>
              <%= link_to anime_record_list_path(anime_id: @anime_entity.database_id), class: "btn btn-primary btn-sm" do %>
                <i class="far fa-edit me-1"></i>
                <%= t "verb.track" %>
              <% end %>
            </div>
          </div>
        </div>

        <% if @anime_entity.records.present? %>
          <div class="mb-3">
            <%= render Lists::RecordListComponent.new(viewer: current_user, record_entities: @anime_entity.records.first(10), show_card: false) %>
          </div>

          <% if @anime_entity.records.length > 10 %>
            <div class="container mb-3">
              <%= link_to anime_record_list_path(anime_id: @anime_entity.database_id), class: "btn btn-secondary w-100" do %>
                <i class="fas fa-angle-right"></i>
                <%= t "messages.works.view_all_n_record_body_list", n: @anime_entity.anime_records_with_body_count %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <%= render EmptyComponent.new(text: t("messages._empty.no_record_body_list")) %>
        <% end %>
      </div>

      <% if @anime_entity.series_list.present? %>
        <h2 class="h4 text-center my-4 fw-bold">
          <%= t "noun.related_works" %>
        </h2>
        <div class="p-works-show__series mt-3 pl-3 py-3">
          <% @anime_entity.series_list.each do |series| %>
            <h3 class="text-center mb-3">
              <%= t "noun.series_with_name", series_name: series.local_name %>
            </h3>
            <div class="px-3">
              <div class="row">
                <% series.series_anime_list.each do |series_work| %>
                  <div class="col-4 col-sm-2 p-0 pr-3 mb-3">
                    <div class="c-card">
                      <%= link_to anime_path(anime_id: series_work.database_id) do %>
                        <div class="c-hover-image">
                          <div class="c-hover-image__image">
                            <%= render WorkImageComponent.new(image_url_1x: series_work.image_url_1x, image_url_2x: series_work.image_url_2x) %>
                          </div>
                          <div class="c-hover-image__over"></div>
                        </div>
                      <% end %>
                      <div class="p-1">
                        <div class="u-very-small">
                          <%= link_to series_work.local_title, anime_path(anime_id: series_work.database_id) %>
                        </div>
                        <% if series_work.local_summary.present? %>
                          <div class="u-very-small">
                            <%= series_work.local_summary %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
