<% title = t "head.title.works.season", name: @season.local_name %>
<% description = meta_description(t("head.meta.description.works.season", name: @season.local_name)) %>
<% set_meta_tags(title: title, description: description, og: { description: description }, reverse: true, prefix: false) %>

<%= component_value_fetcher_tag("status-select-dropdown", internal_api_library_entry_list_path, method: :post, payload: {work_ids: @work_ids}) %>

<%= AdsenseComponent.new(self, slot: ENV["GOOGLE_AD_SLOT_ON_SEASONAL_WORK_LIST"]).render %>

<div class="container mt-3">
  <ul class="justify-content-center nav">
    <% if @prev_season.present? %>
      <li class="nav-item">
        <%= link_to seasonal_work_list_path(season_slug: @prev_season.slug, display: params[:display]), class: "nav-link" do %>
          <i class="far fa-angle-left me-1"></i>
          <%= @prev_season.local_name %>
        <% end %>
      </li>
    <% end %>

    <li class="c-season-dropdown dropdown nav-item">
      <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <%= @season.local_name %>
      </a>

      <ul class="dropdown-menu">
        <% @seasons.each do |season| %>
          <%= link_to season.local_name, seasonal_work_list_path(season_slug: season.slug, display: params[:display]), class: "dropdown-item" %>
        <% end %>
      </ul>
    </li>

    <% if @next_season.present? %>
      <li class="nav-item">
        <%= link_to seasonal_work_list_path(season_slug: @next_season.slug, display: params[:display]), class: "nav-link" do %>
          <%= @next_season.local_name %>
          <i class="far fa-angle-right ms-1"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="container">
  <div class="align-items-center justify-content-between row">
    <div class="col">
      <h1 class="fw-bold h3 mb-0">
        <%= title %>
      </h1>
    </div>

    <div class="col-auto">
      <%= Buttons::ShareToTwitterButtonComponent.new(self, text: title, url: "#{local_url}#{seasonal_work_list_path(season_slug: @season.slug)}", class_name: "me-3").render %>
      <%= render "works/display_option_buttons", display_option: @display_option %>
    </div>
  </div>
</div>

<div class="container mt-3 u-container-flat">
  <div class="card u-card-flat">
    <div class="card-body">
      <%= render "works/display_options/#{@display_option}", works: @works %>
    </div>
  </div>
</div>

<% if @works.present? %>
  <div class="mt-3 text-center">
    <%= ButtonGroups::PaginationButtonGroupComponent.new(self, collection: @works).render %>
  </div>
<% end %>
