<turbo-frame id="c-tracking-modal__frame">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <h3 class="mb-1">
              <%= @anime.local_title %>
            </h3>

            <%= link_to anime_path(@anime.id), class: "small", data: { "turbo-frame": "_top" } do %>
              <%= t("noun.anime_page") %>
              <i class="far fa-angle-right ps-1"></i>
            <% end %>
          </div>

          <div class="col-auto">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

        <div class="mt-3 row">
          <div class="col">
            <h4>
              <%= t "noun.status" %>
            </h4>

            <div style="width: 300px">
              <%= render StatusSelectorComponent.new(
                work_id: @anime.id, init_kind: @library_entry.status.kind
              ) %>
            </div>
          </div>

          <div class="col">
            <h4>
              <%= t "noun.programs" %>
            </h4>

            <div style="width: 300px">
              <%= render Selectors::ProgramSelectorComponent.new(
                anime: @anime, library_entry: @library_entry
              ) %>
            </div>
          </div>
        </div>

        <div class="mt-3">
          <h4>
            <%= t "noun.untracked_episodes" %>
          </h4>

          <div class="card">
            <ul class="list-group list-group-flush">
              <% @episodes.each do |episode| %>
                <li class="list-group-item" data-episode-id="<%= @episode.id %>">
                  <div class="align-items-center row">
                    <div class="col-auto pe-0">
                      <%= Buttons::WatchEpisodeButtonComponent.new(
                        self, episode_id: episode.id, page_category: "tracking-modal", class_name: "btn-sm btn-outline-info rounded-circle"
                      ).render %>
                    </div>

                    <div class="col-auto ps-2 px-0">
                      <%= Buttons::BulkWatchEpisodesButtonComponent.new(
                        self, episode_id: episode.id, class_name: "btn-sm btn-outline-info rounded-circle"
                      ).render %>
                    </div>

                    <div class="col-auto ps-2 pe-0">
                      <%= Buttons::SkipEpisodeButtonComponent.new(
                        self, episode_id: episode.id, class_name: "btn-sm btn-outline-secondary rounded-circle"
                      ).render %>
                    </div>

                    <div class="c-tracking-state__title col">
                      <%= link_to fragment_trackable_episode_path(episode.id), class: "text-body" do %>
                        <%= episode.title_with_number %>
                      <% end %>
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
          </div>

          <div class="mt-3 text-center">
            <%= paginate @episodes %>
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
