<div
  class="c-record-rating"
  data-controller="record-rating"
>
  <div class="btn-group btn-group-sm">
    <% EpisodeRecord.rating_state.values.each do |rating| %>
      <div
        class="<%= button_class_name(rating) %>"
        data-action="click->record-rating#changeState"
        data-state="<%= rating %>"
      >
        <%= helpers.rating_state_icon rating, class: "mr-1" %>
        <%= rating.text %>
      </div>
    <% end %>
  </div>

  <%= hidden_field_tag(
    @input_name,
    @form.object.rating,
    "data-target": "record-rating.input"
  ) %>
</div>
