<% title = t "head.title.legacy_sign_in.new" %>
<% description = meta_description t("head.meta.description.sign_in.new") %>
<% set_meta_tags(title: title, description: description, og: { description: description }, twitter: { description: description }, reverse: true, prefix: false) %>

<div class="container">
  <div class="justify-content-center row">
    <div class="col-12 col-lg-6 py-5">
      <div class="mb-5 text-center">
        <%= link_to root_path do %>
          <%= image_tag "logos/color-mizuho.png", size: "50x61", alt: "Annict" %>
        <% end %>
      </div>

      <div class="c-sign-up-form px-3 mb-5">
        <h1 class="my-5 text-center">
          <%= t "messages._common.welcome_back" %>
        </h1>

        <%= form_with model: resource, url: user_session_path, data: { turbo: false } do |f| %>
          <div class="mb-3">
            <%= f.label :email_username, class: "form-label" %>
            <%= f.text_field :email_username, class: "form-control", autofocus: true, required: true, tabindex: 1 %>
          </div>

          <div class="mb-3">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true, tabindex: 2 %>
          </div>

          <div class="form-check">
            <%= f.label :remember_me, class: "form-check-label" do %>
              <%= f.check_box :remember_me, class: "form-check-input", tabindex: 3 %>
              <%= t "messages.sessions.new.remember_me" %>
            <% end %>
          </div>

          <div class="text-center">
            <%= f.button class: "btn btn-primary", tabindex: 4 do %>
              <i class="far fa-sign-in-alt me-1"></i>
              <%= t "noun.sign_in" %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="text-center">
        <small>
          <%= t "messages.sign_in.new.sign_up_link_html", link: link_to(t("noun.sign_up"), sign_up_path) %>
        </small>
      </div>
    </div>
  </div>
</div>
