<% title = t "head.title.passwords.new" %>
<% description = meta_description %>
<% set_meta_tags(title: title, description: description, og: { description: description }, twitter: { description: description }, reverse: true, prefix: false) %>

<div class="container">
  <div class="justify-content-center row">
    <div class="col-6 py-5">
      <div class="mb-5 text-center">
        <%= link_to root_path do %>
          <%= image_tag asset_bundle_path("images/logos/color-mizuho.png"), size: "50x61", alt: "Annict" %>
        <% end %>
      </div>

      <div class="c-card px-3 py-4 mb-3">
        <div class="c-sign-up-form">
          <h1 class="mb-4 text-center">
            <%= t "messages.passwords.new.forgot_your_password" %>
          </h1>

          <%= form_with model: resource, url: password_path, local: true do |f| %>
            <%= render "application/components/error_panel", resource: resource %>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: "form-control", autofocus: true, required: true %>
            </div>

            <div class="text-center">
              <%= f.button class: "btn btn-primary" do %>
                <%= icon "paper-plane" %>
                <%= t "verb.submit" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="text-center">
        <small>
          <%= t "messages.registrations.new.sign_in_link_html", link: link_to(t("noun.sign_in"), sign_in_path) %>
        </small>
      </div>
    </div>
  </div>
</div>
