<% if @activity_group_entity.status? %>
  <% @activity_group_entity.itemables.each do |status_entity| %>
    <div class="mb-3">
      <%= render StatusCardComponent.new(status_entity: status_entity) %>

      <%= render StatusFooterComponent.new(status_entity: status_entity, page_category: page_category) %>
    </div>
  <% end %>

<% elsif @activity_group_entity.episode_record? %>
  <% @activity_group_entity.itemables.each do |episode_record_entity| %>
    <div class="mb-3">
      <%= render EpisodeRecordCardComponent.new(
          work_entity: episode_record_entity.anime,
          episode_entity: episode_record_entity.episode,
          episode_record_entity: episode_record_entity
      ) %>

      <%= render EpisodeRecordFooterComponent.new(
          user_entity: @activity_group_entity.user,
          record_entity: episode_record_entity.record,
          episode_record_entity: episode_record_entity
      ) %>
    </div>
  <% end %>

<% elsif @activity_group_entity.anime_record? %>
  <% @activity_group_entity.itemables.each do |work_record_entity| %>
    <div class="mb-3">
      <%= render WorkRecordCardComponent.new(
          work_entity: work_record_entity.anime,
          work_record_entity: work_record_entity
      ) %>

      <%= render WorkRecordFooterComponent.new(
          user_entity: @activity_group_entity.user,
          record_entity: work_record_entity.record,
          work_record_entity: work_record_entity
      ) %>
    </div>
  <% end %>
<% end %>
