<%= form_with(
  model: @form,
  url: form_url,
  method: form_method,
  local: true,
  data: {
    controller: "episode-record-form",
    action: "turbo:submit-start->episode-record-form#handleSubmitStart turbo:submit-end->episode-record-form#handleSubmitEnd",
    "episode-record-form-target": "form"
  }) do |f|
%>
  <%= render ErrorPanelComponent2.new(stimulus_controller: "episode-record-form") %>

  <div class="mb-2">
    <%= render ButtonGroups::RecordRatingButtonGroupComponent.new(form: f, rating_field: :rating) %>
  </div>

  <div class="form-group">
    <%= render Forms::RecordTextareaComponent.new(form: f, optional_textarea_classname: "form-control", textarea_name: "episode_record_form[comment]") %>
  </div>

  <div class="row">
    <div class="col">
      <% if @current_user.authorized_to?(:twitter, shareable: true) %>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.check_box :share_to_twitter, class: "form-check-input", checked: @current_user.share_record_to_twitter? %>
            <%= t "messages._common.share_to_twitter" %>
          </label>
        </div>
      <% end %>
    </div>

    <div class="col">
      <div class="text-center">
        <%= f.submit (f.object.persisted? ? t("verb.update") : t("verb.track")), class: "btn btn-primary", data: { "episode-record-form-target": "submitButton" } %>
      </div>
    </div>

    <div class="col"></div>
  </div>
<% end %>
