<%= form_with model: @form, url: my_episode_record_list_path(@form.episode.id), method: form_method, local: false, data: { controller: "episode-record-form", action: "ajax:error->episode-record-form#handleError ajax:success->episode-record-form#handleSuccess" } do |f| %>
  <%= render ErrorPanelComponent2.new(stimulus_controller: "episode-record-form") %>

  <% if @form.persisted? %>
    <%= f.hidden_field :record_id %>
  <% end %>

  <div class="mb-2">
    <%= render ButtonGroups::RecordRatingButtonGroupComponent.new(form: f, rating_field: :rating) %>
  </div>

  <div class="form-group">
    <%= render Forms::RecordTextareaComponent.new(form: f, optional_textarea_classname: "form-control", textarea_name: "episode_record_form[comment]") %>
  </div>

  <div class="row">
    <div class="col">
      <% if @user.authorized_to?(:twitter, shareable: true) %>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.check_box :share_to_twitter, class: "form-check-input", checked: @user.share_record_to_twitter? %>
            <%= t "messages._common.share_to_twitter" %>
          </label>
        </div>
      <% end %>
    </div>

    <div class="col">
      <div class="text-center">
        <%= f.submit (f.object.persisted? ? t("verb.update") : t("verb.track")), class: "btn btn-primary" %>
      </div>
    </div>

    <div class="col"></div>
  </div>
<% end %>
