<%= form_with model: @form, url: episode_record_list_path(params[:anime_id], params[:episode_id]), method: form_method, local: true do |f| %>
  <%= render ErrorPanelComponent.new(form: @form) %>

  <% if @form.persisted? %>
    <%= f.hidden_field :record_id %>
  <% else %>
    <%= f.hidden_field :episode_id %>
  <% end %>

  <div class="mb-2">
    <%= render ButtonGroups::RecordRatingButtonGroupComponent.new(form: f, rating_field: :rating) %>
  </div>

  <div class="form-group">
    <%= render Forms::RecordTextareaComponent.new(form: f, optional_textarea_classname: "form-control", textarea_name: "episode_record_form[comment]") %>
  </div>

  <div class="row">
    <div class="col">
      <% if @viewer&.authorized_to?(:twitter, shareable: true) %>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.check_box :share_to_twitter, class: "form-check-input", checked: @viewer.share_record_to_twitter? %>
            <%= t "messages._common.share_to_twitter" %>
          </label>
        </div>
      <% end %>
    </div>

    <div class="col">
      <div class="text-center">
        <%= f.button class: "btn btn-primary" do %>
          <i class="far fa-edit mr-1"></i>
          <% if f.object.persisted? %>
            <%= t "verb.update" %>
          <% else %>
            <%= t "verb.track" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col"></div>
  </div>
<% end %>
