<textarea
  class="<%= textarea_classname %>"
  data-action="keyup->record-textarea#updateCharactersCount"
  data-controller="record-textarea"
  data-record-textarea-characters-counter-id="<%= @form.object.episode_id %>"
  name="<%= @textarea_name %>"
  placeholder="<%= t("messages.episode_records.new.write_your_comment") %>"
  rows="5"
>
      <%= @form.object.comment %>
    </textarea>
<div
  class="small text-muted text-right"
  data-controller="characters-counter"
  data-characters-counter-characters-counter-id="<%= @form.object.episode_id %>"
>
  <span data-target="characters-counter.value"></span>
  <%= t("noun.characters2") %>
</div>
