<% title = t "head.title.db.organizations.index" %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container-fluid py-3">
  <div class="mb-3">
    <h1>
      <%= title %>
    </h1>

    <% if policy(Organization).create? %>
      <div class="text-end">
        <%= link_to db_new_organization_path, class: "btn btn-outline-primary" do %>
          <%= icon "plus" %>
          <%= t "resources._common.new" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= render "organization_list", resources: @organizations %>
  </div>

  <div class="text-center">
    <%= paginate @organizations %>
  </div>
</div>
