<% title = t "head.title.db.organizations.new" %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container py-3">
  <div>
    <h1>
      <%= title %>
    </h1>
  </div>

  <div class="gx-3 row mt-3">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <%= form_with model: @form, url: db_organization_list_path do |f| %>
            <%= render "application/components/error_panel", resource: f.object %>

            <div class="mb-3">
              <%= f.label :rows, class: "c-label-required" %>
              <%= f.text_area :rows, class: "form-control", autofocus: true, required: true, rows: 30 %>
            </div>

            <%= f.submit t("helpers.submit.create"), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-6">
      <%= render "sidebar_new" %>
    </div>
  </div>
</div>
