<div class="c-sign-up-modal modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p class="display-1 text-muted">
          <i class="fal fa-info-circle"></i>
        </p>
        <p>
          <%= t "messages._components.sign_up_modal.body" %>
        </p>
        <%= link_to sign_up_path, class: "btn btn-primary me-2" do %>
          <i class="fa-solid fa-rocket me-1"></i>
          <%= t "noun.sign_up" %>
        <% end %>

        <%= link_to sign_in_path, class: "btn btn-outline-secondary" do %>
          <%= t "noun.sign_in" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
