<div class="c-record-options-dropdown d-inline-block dropdown">
  <div class="dropdown-toggle" data-toggle="dropdown">
    <i class="far fa-ellipsis-h"></i>
  </div>

  <div class="dropdown-menu dropdown-menu-right">
    <% if @current_user.id != @record.user_id %>
      <%= link_to "#", class: "dropdown-item" do %>
        <div
          data-controller="mute-user"
          data-mute-user-user-id="<%= @record.user.id %>"
        >
          <%= t "verb.mute" %>
        </div>
      <% end %>
    <% end %>

    <% if RecordPolicy.new(@current_user, @record).update? %>
      <%= link_to "/@#{@record.user.username}/records/#{@record.id}/edit", class: "dropdown-item" do %>
        <%= t "noun.edit" %>
      <% end %>

      <%= link_to record_path(@record.user.username, @record.id), class: "dropdown-item", data: { confirm: t("messages._common.are_you_sure") }, method: :delete do %>
        <%= t "noun.delete" %>
      <% end %>
    <% end %>
  </div>
</div>
