<turbo-frame class="row gy-3" id="<%= dom_id(@activity_group) %>">
  <%= component_value_fetcher_tag("status-selector", internal_api_library_entry_list_path(anime_ids: @anime_ids)) %>

  <div class="row gy-3">
    <% case @activity_group.itemable_type %>
    <% when "Status" %>
      <% @activity_group.items.each do |status| %>
        <%= V6::Contents::StatusContentComponent.new(self,
          status: status,
          page_category: page_category
        ).render %>
      <% end %>
    <% when "EpisodeRecord" %>
      <% @activity_group.items.each do |record| %>
        <%= V6::Contents::EpisodeRecordContentComponent.new(self,
          record: record,
          page_category: page_category
        ).render %>
      <% end %>
    <% when "WorkRecord" %>
      <% @activity_group.items.each do |record| %>
        <%= V6::Contents::AnimeRecordContentComponent.new(self,
          record: record,
          page_category: page_category
        ).render %>
      <% end %>
    <% end %>
  </div>
</turbo-frame>
