<!DOCTYPE html>
<html>
  <head>
    <title>Annict</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_bundle_tag "application.css", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_bundle_tag "application.js", defer: "", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
