<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "application/v4/head" %>
  </head>
  <body>
    <div class="ann-application">
      <div
        class="l-default"
        data-controller="application"
        data-application-page-category="<%= page_category %>"
        data-application-params="<%= user_data_fetcher_params.to_json %>"
      >
        <div class="l-default__sidebar">
          <%= render SidebarComponent.new(user: current_user, search: @search) %>
        </div>

        <div class="l-default__main d-flex flex-column">
          <div class="l-default__content">
            <%= render FlashComponent.new(flash) %>
            <%= yield %>
          </div>

          <div class="l-default__footer">
            <%= render FooterComponent.new %>
          </div>

          <div class="l-default__tab_bar">
            <%= render TabBarComponent.new(user: current_user) %>
          </div>
        </div>
      </div>

      <%= render "application/sign_up_modal" %>
      <%= render Modals::TrackingModalComponent.new %>
    </div>
  </body>
</html>
