<%= content_for :head_assets do %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<% end %>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "application/head" %>
  </head>
  <body>
    <div class="l-default">
      <div class="l-default__sidebar">
        <%= Sidebars::MainSidebarComponent.new(self, search: @search).render %>
      </div>

      <div class="l-default__main d-flex flex-column">
        <div class="l-default__content">
          <%= FlashV6Component.new(self, flash: flash).render %>
          <%= yield %>
        </div>

        <div class="l-default__footer">
          <%= Footers::MainFooterComponent.new(self).render %>
        </div>

        <div class="l-default__tab_bar">
          <%= TabBarComponent.new(self, current_user: current_user).render %>
        </div>
      </div>

      <%= render "application/sign_up_modal" %>
      <%= Offcanvases::TrackingOffcanvasComponent.new(self).render %>
    </div>
  </body>
</html>
