<%= content_for :head_assets do %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<% end %>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "application/head" %>
  </head>
  <body>
    <div class="l-welcome">
      <div class="l-welcome__main d-flex flex-column">
        <div class="l-welcome__content">
          <%= FlashV6Component.new(self, flash: flash).render %>
          <%= yield %>
        </div>

        <div class="l-welcome__footer">
          <%= Footers::MainFooterComponent.new(self).render %>
        </div>
      </div>
    </div>

    <%= render "application/sign_up_modal" %>
  </body>
</html>
