<%= content_for :head_assets do %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<% end %>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "application/head" %>
  </head>
  <body>
    <div class="l-simple">
      <%= FlashV6Component.new(self, flash: flash).render %>
      <%= yield %>
    </div>
  </body>
</html>
