<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "application/v4/head" %>
  </head>
  <body>
    <div class="ann-application">
      <div
        class="l-simple"
        data-controller="application"
        data-application-page-category="<%= page_category %>"
      >
        <%= render FlashComponent.new(flash) %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
