<%= content_for :head_assets do %>
  <%= stylesheet_bundle_tag "v6.css", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_bundle_tag "v6.js", defer: "", "data-turbo-track": "reload" %>
<% end %>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "application/head" %>
  </head>
  <body>
    <div class="l-welcome">
      <div class="l-welcome__main d-flex flex-column">
        <div class="l-welcome__content">
          <%= V6::FlashComponent.new(self, flash: flash).render %>
          <%= yield %>
        </div>

        <div class="l-welcome__footer">
          <%= V6::FooterComponent.new(self).render %>
        </div>
      </div>
    </div>

    <%= render "application/sign_up_modal" %>
  </body>
</html>
