<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "application/head" %>
  </head>
  <body>
    <div class="l-welcome">
      <div class="l-welcome__main d-flex flex-column">
        <div class="l-welcome__content">
          <%= render FlashComponent.new(flash) %>
          <%= yield %>
        </div>

        <div class="l-welcome__footer">
          <%= render FooterComponent.new %>
        </div>

        <div class="l-welcome__tab-bar">
          <%= TabBarComponent.new(self, current_user: current_user).render %>
        </div>
      </div>
    </div>

    <%= render "application/sign_up_modal" %>
  </body>
</html>
